<nav
  class="border-gray-200 rtl:bg-gradient-to-br ltr:bg-gradient-to-bl from-primary to-primary-dark">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div
      class="flex-none flex px-2 py-2 me-auto items-center justify-start space-x-2 rtl:space-x-reverse">
      <a routerLink="/external/home" class="flex-none w-12">
        <img
          ngSrc="/assets/images/main-logo.png"
          alt="logo"
          height="48"
          width="54" />
      </a>
      <a routerLink="/external/home" class="flex-auto">
        <img
          ngSrc="assets/images/logo-text.png"
          alt="logo text"
          height="32"
          width="220" />
      </a>
    </div>

    <button
      (click)="nav_ul.hidden = !nav_ul.hidden"
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    <div
      class="w-full md:block md:w-auto"
      [hidden]="true"
      #nav_ul
      id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0">
        <li class="my-2 md:my-0">
          <a
            [routerLink]="'/external/home'"
            [ngClass]="{
              'text-secondary': isActive('/external/home'),
              'text-white': !isActive('/external/home')
            }"
            >{{ lang.map.main }}</a
          >
        </li>
        <li class="my-2 md:my-0">
          <a
            [routerLink]="'/external/investigations'"
            [ngClass]="{
              'text-secondary': isActive('/external/investigations'),
              'text-white': !isActive('/external/investigations')
            }"
            >{{ lang.map.lbl_investigation_files }}</a
          >
        </li>
        <li class="my-2 md:my-0">
          <a
            [routerLink]="'/external/decisions'"
            [ngClass]="{
              'text-secondary': isActive('/external/decisions'),
              'text-white': !isActive('/external/decisions')
            }"
            >{{ lang.map.lbl_decisions }}</a
          >
        </li>
        <li class="my-2 md:my-0">
          <a
            [routerLink]="'/external/summons-to-attend'"
            [ngClass]="{
              'text-secondary': isActive('/external/summons-to-attend'),
              'text-white': !isActive('/external/summons-to-attend')
            }"
            >{{ lang.map.summons_to_attend }}</a
          >
        </li>
      </ul>
    </div>

    <button
      class="me-4 md:me-0 ms-8 flex items-center"
      [matMenuTriggerFor]="userMenu">
      <div class="rounded-full w-10">
        <mat-icon
          class="nav-profile-icon"
          [style]="'color:white;'"
          [svgIcon]="
            user?.type === UserTypes.EXTERNAL_EMPLOYEE
              ? AppIcons.EMPLOYEE
              : user?.type === UserTypes.EXTERNAL_CLEARING_AGENT
                ? AppIcons.CLEARING_AGENT
                : AppIcons.CLEARING_AGENCY
          "></mat-icon>
      </div>
      <div>
        @if (person) {
          <strong class="text-white">{{ person.getNames() }}</strong>
        } @else if (agency) {
          <strong class="text-white">{{ agency.getNames() }}</strong>
        }
        <mat-menu class="app-menu" #userMenu="matMenu">
          <button class="text-slate-700" (click)="logout()" mat-menu-item>
            <mat-icon [svgIcon]="AppIcons.LOGOUT"></mat-icon>
            <span>{{ lang.map.logout }}</span>
          </button>
        </mat-menu>
      </div>
    </button>
    <button mat-button (click)="switchLang()" class="ms-2">
      <div class="flex items-center justify-center gap-x-2">
        <div class="w-7">
          <img
            alt="language-switcher"
            ngSrc="assets/images/lang.png"
            height="512"
            width="512" />
        </div>
        <span class="text-white">{{ lang.toggleToLangName() }}</span>
      </div>
    </button>
  </div>
</nav>
