<div class="container">
  <div class="meetings-calendar">
    <div class="pb-6 bg-white border border-gray-200 rounded-lg shadow">
      <div class="flex m-3">
        <h3 class="font-semibold text-2xl px-3 py-2">
          {{ lang.map.lbl_calendar }}
        </h3>
        <app-icon-button
          (click)="reload$.next(null)"
          class="text-primary"
          icon="RELOAD"></app-icon-button>
      </div>
      <div class="px-3 py-2">
        <full-calendar [options]="calendarOptions">
          <ng-template #eventContent let-meeting>
            <li
              class="w-full flex p-3 mx-1 hover:bg-gray-200 bg-blue-200 border border-dashed border-blue-500">
              <div class="w-full">
                <h2>
                  {{ meeting.event.title }}
                </h2>
                <small>
                  <strong>{{ lang.map.lbl_date }}:</strong>
                  {{
                    meeting.event.extendedProps.meetingDate
                      | date: config.DATE_FORMAT
                  }}
                </small>
                <p>
                  {{ meeting.event.extendedProps.meetingTimeFrom }} -
                  {{ meeting.event.extendedProps.meetingTimeTo }}
                </p>
              </div>
              <app-icon-button
                [matTooltip]="lang.map.edit"
                (click)="handleEditMeeting($event, meeting.event.extendedProps)"
                icon="EDIT" />
            </li>
          </ng-template>
        </full-calendar>
      </div>
    </div>
  </div>
</div>
