<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.offender_violations }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content w-[900px] !p-0">
    <div class="p-4 overflow-auto" style="height: 100%">
      <div class="grid grid-cols-3 gap-4">
        <div class="group block relative mb-5">
          <span class="block font-medium text-slate-700">{{
            lang.map.qid
          }}</span>
          <div
            class="md group/input-wrapper input-form text-slate-700 py-2 px-3 flex items-center justify-start">
            {{ offender.offenderInfo?.qid || '---' }}
          </div>
        </div>
        <div class="group block relative mb-5">
          <span class="block font-medium text-slate-700">{{
            lang.map.ar_name
          }}</span>
          <div
            class="md group/input-wrapper input-form text-slate-700 py-2 px-3 flex items-center justify-start">
            {{ offender.offenderInfo?.arName || '---' }}
          </div>
        </div>
        <div class="group block relative mb-5">
          <span class="block font-medium text-slate-700">{{
            lang.map.en_name
          }}</span>
          <div
            class="md group/input-wrapper input-form text-slate-700 py-2 px-3 flex items-center justify-start">
            {{ offender.offenderInfo?.enName || '---' }}
          </div>
        </div>
        @if (offender.typeInfo) {
          <div class="group block relative mb-5">
            <span class="block font-medium text-slate-700">{{
              lang.map.offender_type
            }}</span>
            <div
              class="md group/input-wrapper input-form text-slate-700 py-2 px-3 flex items-center justify-start">
              {{ offender.typeInfo.getNames() || '---' }}
            </div>
          </div>
        }
        @if (isEmployee(offender.offenderInfo!)) {
          <div class="group block relative mb-5">
            <span class="block font-medium text-slate-700">{{
              lang.map.employee_number
            }}</span>
            <div
              class="md group/input-wrapper input-form text-slate-700 py-2 px-3 flex items-center justify-start">
              {{ offender.offenderInfo!.jobTitleCode || '---' }}
            </div>
          </div>
        }
        @if (isAgent(offender.offenderInfo!)) {
          <div class="group block relative mb-5">
            <span class="block font-medium text-slate-700">{{
              lang.map.clearing_agent_code
            }}</span>
            <div
              class="md group/input-wrapper input-form text-slate-700 py-2 px-3 flex items-center justify-start">
              {{ offender.offenderInfo!.code || '---' }}
            </div>
          </div>
        }
        @if (
          offender.offenderOUInfo &&
          offender.offenderInfo?.type === offenderTypes.EMPLOYEE
        ) {
          <div class="group block relative mb-5">
            <span class="block font-medium text-slate-700">{{
              lang.map.lbl_department
            }}</span>
            <div
              class="md group/input-wrapper input-form text-slate-700 py-2 px-3 flex items-center justify-start">
              {{ offender.offenderOUInfo.getNames() || '---' }}
            </div>
          </div>
        }
        @if (
          offender.offenderOUInfo &&
          offender.offenderInfo?.type === offenderTypes.ClEARING_AGENT
        ) {
          <div class="group block relative mb-5">
            <span class="block font-medium text-slate-700">{{
              lang.map.lbl_clearance_company
            }}</span>
            <div
              class="md group/input-wrapper input-form text-slate-700 py-2 px-3 flex items-center justify-start">
              {{ offender.offenderOUInfo.getNames() || '---' }}
            </div>
          </div>
        }
        @if (offender.offenderInfo) {
          <div class="group block relative mb-5">
            <span class="block font-medium text-slate-700">{{
              lang.map.email
            }}</span>
            <div
              class="md group/input-wrapper input-form text-slate-700 py-2 px-3 flex items-center justify-start">
              {{ offender.offenderInfo.email || '---' }}
            </div>
          </div>
        }
        @if (offender.offenderInfo) {
          <div class="group block relative mb-5">
            <span class="block font-medium text-slate-700">{{
              lang.map.phone
            }}</span>
            <div
              class="md group/input-wrapper input-form text-slate-700 py-2 px-3 flex items-center justify-start">
              {{ offender.offenderInfo.phoneNumber || '---' }}
            </div>
          </div>
        }
        @if (offender.offenderInfo) {
          <div class="group block relative mb-5">
            <span class="block font-medium text-slate-700">{{
              lang.map.lbl_address
            }}</span>
            <div
              class="md group/input-wrapper input-form text-slate-700 py-2 px-3 flex items-center justify-start">
              {{ offender.offenderInfo.address || '---' }}
            </div>
          </div>
        }
      </div>
      <div class="mb-4 flex gap-4 items-center">
        @if (!readonly) {
          <div class="flex-auto flex">
            <app-select-input
              class="flex-auto w-0"
              [formControl]="control"
              [label]="lang.map.violations"
              bindLabel="getOffenderViolationSelectNames"
              bindValue="id"
              [isMultiple]="true"
              [options]="violations()">
            </app-select-input>
          </div>
          <app-button class="mt-1" (click)="addViolation$.next()">
            {{ lang.map.add }}
          </app-button>
        }
      </div>
      <table
        mat-table
        matSort
        class="table-style table-primary"
        [dataSource]="offenderViolations()">
        <!-- violationClassification -->
        <ng-container matColumnDef="violationClassification">
          <th
            mat-header-cell
            mat-sort-header="violationClassification"
            *matHeaderCellDef>
            {{ lang.map.violation_classification }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.violationInfo?.classificationInfo?.getNames() }}
          </td>
        </ng-container>
        <!-- violationType -->
        <ng-container matColumnDef="violationType">
          <th mat-header-cell mat-sort-header="violationType" *matHeaderCellDef>
            {{ lang.map.violation_type }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.violationInfo?.violationTypeInfo?.getNames() }}
          </td>
        </ng-container>
        <!-- classification -->
        <ng-container matColumnDef="description">
          <th mat-header-cell mat-sort-header="description" *matHeaderCellDef>
            {{ lang.map.description }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.violationInfo?.description }}
          </td>
        </ng-container>
        <!-- violation data -->
        <ng-container matColumnDef="violationData">
          <th mat-header-cell mat-sort-header="violationData" *matHeaderCellDef>
            {{ lang.map.violation_date }}
          </th>
          <td mat-cell *matCellDef="let element">
            @if (element.violationInfo?.violationsDate) {
              <span>
                {{ element.violationInfo?.violationsDate | date }}
              </span>
            }
            @if (!element.violationInfo?.violationsDate) {
              <span>
                {{ lang.map.date_from }}
                {{ element.violationInfo?.violationsDateFrom | date }}
                {{ lang.map.date_to }}
                {{ element.violationInfo?.violationsDateTo | date }}
              </span>
            }
          </td>
        </ng-container>
        <!-- repeat -->
        <ng-container matColumnDef="repeat">
          <th mat-header-cell mat-sort-header="repeat" *matHeaderCellDef>
            {{ lang.map.repeat }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.repeat }}</td>
        </ng-container>
        <!-- actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell mat-sort-header="actions" *matHeaderCellDef>
            {{ lang.map.actions }}
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="flex gap-2">
              @if (!readonly) {
                <div [matTooltip]="lang.map.delete">
                  <app-icon-button
                    (click)="delete$.next(element)"
                    icon="DELETE" />
                </div>
              }
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="p-4" colspan="100">
            {{ lang.map.no_records_to_display }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="dialog-footer justify-end">
    <app-button mat-dialog-close="" buttonType="primary-outline"
      >{{ lang.map.close }}
    </app-button>
  </div>
</div>
