<div class="grid grid-cols-5 gap-4 mt-3">
  <!-- save -->
  @if (
    !model().id ||
    (model().inMyInbox() && model().canEdit()) ||
    model().creatorInfo.id === employeeService.getEmployee()?.id
  ) {
    <app-button (click)="save.emit(SaveTypes.FINAL)"
      >{{ lang.map.save }}
    </app-button>
  }

  <!-- return to president from legal affairs -->
  @if (
    model().inMyInbox() &&
    model().hasResponse(taskResponses.RETURN_TO_PR_FROM_LA)
  ) {
    <app-button
      [buttonType]="'secondary'"
      (click)="returnActions$.next(taskResponses.RETURN_TO_PR_FROM_LA)">
      {{ lang.map.return_to_president }}
    </app-button>
  }
  <!-- return to president assistant from legal affairs -->
  @if (
    model().inMyInbox() &&
    model().hasResponse(taskResponses.RETURN_TO_PA_FROM_LA)
  ) {
    <app-button
      [buttonType]="'secondary'"
      (click)="returnActions$.next(taskResponses.RETURN_TO_PA_FROM_LA)">
      {{ lang.map.return_to_president_assistant }}
    </app-button>
  }

  <!-- manager approve -->
  @if (
    model().inMyInbox() && model().hasResponse(taskResponses.MANAGER_APPROVE)
  ) {
    <app-button (click)="approve$.next(taskResponses.MANAGER_APPROVE)">
      {{ lang.map.manager_approve }}
    </app-button>
  }
  <!-- hr manager approve -->
  @if (model().inMyInbox() && model().hasResponse(taskResponses.HR_APPROVE)) {
    <app-button (click)="approve$.next(taskResponses.HR_APPROVE)">
      {{ lang.map.manager_approve }}
    </app-button>
  }

  <!-- transfer report to staff president office -->
  @if (
    model().inMyInbox() &&
    model().hasResponse(taskResponses.ASK_ANOTHER_DEPARTMENT)
  ) {
    <app-button
      buttonType="secondary"
      (click)="ask$.next(taskResponses.ASK_ANOTHER_DEPARTMENT)">
      {{ lang.map.request_for_department_statement }}
    </app-button>
  }
  <!-- ca manager approve -->
  @if (model().inMyInbox() && model().hasResponse(taskResponses.CA_APPROVE)) {
    <app-button (click)="approve$.next(taskResponses.CA_APPROVE)">
      {{ lang.map.manager_approve }}
    </app-button>
  }
  <!-- to legal affairs manager -->
  @if (model().inMyInbox() && model().hasResponse(taskResponses.TO_FNL_LA)) {
    <app-button (click)="responseAction$.next(taskResponses.TO_FNL_LA)">
      {{ lang.map.send_to_legal_affairs_manager }}
    </app-button>
  }
  <!-- to legal affairs chief -->
  @if (model().inMyInbox() && model().hasResponse(taskResponses.TO_INV_CHIEF)) {
    <app-button
      [buttonType]="'secondary'"
      (click)="responseAction$.next(taskResponses.TO_INV_CHIEF)">
      {{ lang.map.send_to_legal_affairs_chief }}
    </app-button>
  }
  <!-- to legal affairs chief -->
  @if (
    model().inMyInbox() && model().hasResponse(taskResponses.LA_FNL_APPROVE)
  ) {
    <app-button
      (click)="legalAffairsFinalApprove$.next(taskResponses.LA_FNL_APPROVE)">
      {{ lang.map.final_complete }}
    </app-button>
  }

  <!-- disciplinary committee SIGN -->
  @if (model().inMyInbox() && model().hasResponse(taskResponses.DC_SIGN)) {
    <app-button (click)="responseAction$.next(taskResponses.DC_SIGN)">
      {{ lang.map.sign }}
    </app-button>
  }
  <!-- disciplinary committee DECISION SIGN -->
  @if (
    model().inMyInbox() && model().hasResponse(taskResponses.DC_DECISION_SIGN)
  ) {
    <app-button (click)="responseAction$.next(taskResponses.DC_DECISION_SIGN)">
      {{ lang.map.decision_sign }}
    </app-button>
  }
  <!-- disciplinary committee return president assistant  -->
  @if (model().hasResponse(taskResponses.DC_RETURN_PA)) {
    <app-button
      [buttonType]="'secondary'"
      (click)="responseAction$.next(taskResponses.DC_RETURN_PA)">
      {{ lang.map.return_to_president_assistant }}
    </app-button>
  }

  <!-- to legal affairs manager -->
  @if (model().inMyInbox() && model().hasResponse(taskResponses.TO_INV_USER)) {
    <app-button
      [buttonType]="'secondary'"
      (click)="responseAction$.next(taskResponses.TO_INV_USER)">
      {{ lang.map.send_to_investigator }}
    </app-button>
  }

  <!-- to investigator -->
  @if (model().inMyInbox() && model().hasResponse(taskResponses.TO_INV)) {
    <app-button
      [buttonType]="'secondary'"
      (click)="responseAction$.next(taskResponses.TO_INV)">
      {{ lang.map.transfer_to_investigators_automatic_distribution }}
    </app-button>
  }

  <!-- complete action -->
  @if (model().inMyInbox() && model().hasComplete()) {
    <app-button (click)="responseAction$.next(taskResponses.COMPLETE)">
      {{ lang.map.complete }}
    </app-button>
  }
  <!-- final complete action -->
  @if (
    model().inMyInbox() && model().hasResponse(taskResponses.PA_FNL_COMPLETE)
  ) {
    <app-button (click)="responseAction$.next(taskResponses.PA_FNL_COMPLETE)">
      {{ lang.map.final_complete }}
    </app-button>
  }

  <!-- apply and return -->
  @if (
    model().inMyInbox() &&
    model().hasResponse(taskResponses.PA_FNL_APPLY_AND_RETURN)
  ) {
    <app-button
      buttonType="secondary"
      (click)="responseAction$.next(taskResponses.PA_FNL_APPLY_AND_RETURN)">
      {{ lang.map.apply_and_return_remaining }}
    </app-button>
  }
  <!-- Issuing a referral decision to study in the president assistant office -->
  @if (
    model().inMyInbox() && model().hasResponse(taskResponses.PA_FNL_TO_PAE)
  ) {
    <app-button
      buttonType="secondary"
      (click)="responseAction$.next(taskResponses.PA_FNL_TO_PAE)">
      {{
        lang.map
          .final_issuing_referral_decision_to_study_in_the_president_assistant_office
      }}
    </app-button>
  }
  <!-- issuing referral decision to legal affairs manager by President -->
  @if (
    model().inMyInbox() &&
    model().hasResponse(taskResponses.PR_LAUNCH_LEGAL_AFFAIRS)
  ) {
    <app-button
      buttonType="primary"
      (click)="approve$.next(taskResponses.PR_LAUNCH_LEGAL_AFFAIRS)">
      {{ lang.map.complete }}
    </app-button>
  }
  <!-- transfer report to staff president office -->
  @if (model().inMyInbox() && model().hasResponse(taskResponses.TO_PO)) {
    <app-button
      buttonType="secondary"
      (click)="responseAction$.next(taskResponses.TO_PO)">
      {{ lang.map.transfer_report_to_staff_president_office }}
    </app-button>
  }

  <!-- send to manager -->
  @if (
    model().inMyInbox() &&
    model().hasAnyResponse([
      taskResponses.TO_MANAGER,
      taskResponses.CHIEF_APPROVE
    ])
  ) {
    <app-button
      (click)="
        responseAction$.next(
          model().hasResponse(taskResponses.TO_MANAGER)
            ? taskResponses.TO_MANAGER
            : taskResponses.CHIEF_APPROVE
        )
      ">
      {{ lang.map.to_manager }}
    </app-button>
  }

  <!-- select HR employee to archive -->
  @if (model().inMyInbox() && model().hasResponse(taskResponses.TO_HR_USER)) {
    <app-button
      buttonType="primary"
      (click)="responseAction$.next(taskResponses.TO_HR_USER)">
      {{ lang.map.select_employee_to_archive_in_mawared }}
    </app-button>
  }

  <!-- return to same HR employee -->
  @if (
    model().inMyInbox() && model().hasResponse(taskResponses.RETURN_TO_SAME_HR)
  ) {
    <app-button
      buttonType="primary"
      (click)="responseAction$.next(taskResponses.RETURN_TO_SAME_HR)">
      {{ lang.map.return_to_same_hr }}
    </app-button>
  }

  <!-- return -->
  @if (
    model().inMyInbox() &&
    (model().hasResponse(taskResponses.TO_USER) ||
      model().hasResponse(taskResponses.RETURN_TO_HR) ||
      model().hasResponse(taskResponses.RETURN_TO_SAME) ||
      model().hasResponse(taskResponses.RETURN_TO_APP) ||
      model().hasResponse(taskResponses.RETURN_APP_MANAGER) ||
      model().hasResponse(taskResponses.RETURN_TO_CA))
  ) {
    <app-button buttonType="secondary" [matMenuTriggerFor]="returnMenu">
      {{ lang.map.return }}
      <mat-icon class="ms-auto" [svgIcon]="AppIcons.CHEVRON_UP"></mat-icon>
    </app-button>

    <mat-menu #returnMenu="matMenu">
      @if (
        model().inMyInbox() &&
        model().hasResponse(taskResponses.RETURN_APP_MANAGER)
      ) {
        <button
          mat-menu-item
          (click)="responseAction$.next(taskResponses.RETURN_APP_MANAGER)">
          {{ lang.map.return_to_manager }}
        </button>
      }
      @if (
        model().inMyInbox() && model().hasResponse(taskResponses.RETURN_TO_HR)
      ) {
        <button
          mat-menu-item
          (click)="responseAction$.next(taskResponses.RETURN_TO_HR)">
          {{ lang.map.return_to_hr_department }}
        </button>
      }
      @if (
        model().inMyInbox() && model().hasResponse(taskResponses.RETURN_TO_CA)
      ) {
        <button
          mat-menu-item
          (click)="responseAction$.next(taskResponses.RETURN_TO_CA)">
          {{ lang.map.return_to_ca_department }}
        </button>
      }
      @if (model().inMyInbox() && model().hasResponse(taskResponses.TO_USER)) {
        <button
          mat-menu-item
          (click)="responseAction$.next(taskResponses.TO_USER)">
          {{ lang.map.select_employee }}
        </button>
      }
      @if (
        model().inMyInbox() && model().hasResponse(taskResponses.TO_HR_DEP)
      ) {
        <button
          mat-menu-item
          (click)="responseAction$.next(taskResponses.TO_HR_DEP)">
          {{ lang.map.send_to_hr_department }}
        </button>
      }
      @if (
        model().inMyInbox() && model().hasResponse(taskResponses.TO_CA_DEP)
      ) {
        <button
          mat-menu-item
          (click)="responseAction$.next(taskResponses.TO_CA_DEP)">
          {{ lang.map.send_to_ca_department }}
        </button>
      }
      @if (
        model().inMyInbox() && model().hasResponse(taskResponses.RETURN_TO_SAME)
      ) {
        <button
          mat-menu-item
          (click)="responseAction$.next(taskResponses.RETURN_TO_SAME)">
          {{ lang.map.return_to_same }}
        </button>
      }
      @if (
        model().inMyInbox() && model().hasResponse(taskResponses.RETURN_TO_APP)
      ) {
        <button
          mat-menu-item
          (click)="responseAction$.next(taskResponses.RETURN_TO_APP)">
          {{ lang.map.return_to_applicant_department }}
        </button>
      }
    </mat-menu>
  }

  <!-- referral request -->
  @if (
    model().inMyInbox() &&
    !isMandatoryToImposePenalty() &&
    (model().hasResponse(taskResponses.REFERRAL_TO_PRESIDENT) ||
      model().hasResponse(taskResponses.REFERRAL_TO_PRESIDENT_ASSISTANT))
  ) {
    <app-button buttonType="secondary" [matMenuTriggerFor]="referralMenu">
      {{ lang.map.referral_request }}
      <mat-icon class="ms-auto" [svgIcon]="AppIcons.CHEVRON_UP"></mat-icon>
    </app-button>
  }
  <mat-menu #referralMenu="matMenu">
    @if (
      model().inMyInbox() &&
      model().hasResponse(taskResponses.REFERRAL_TO_PRESIDENT)
    ) {
      <button mat-menu-item (click)="requestReferralPresident()">
        {{ lang.map.referral_request_to_presodent }}
      </button>
    }
    @if (
      model().inMyInbox() &&
      model().hasResponse(taskResponses.REFERRAL_TO_PRESIDENT_ASSISTANT)
    ) {
      <button mat-menu-item (click)="requestReferralPresidentAssistant()">
        {{ lang.map.referral_request_to_presodent_assistant }}
      </button>
    }
  </mat-menu>

  <!-- send to -->
  @if (
    model().inMyInbox() &&
    (model().hasResponse(taskResponses.PA_FNL_LAUNCH_LEGAL_AFFAIRS) ||
      model().hasResponse(taskResponses.PA_FNL_LAUNCH_DISCIPLINARY_COUNCIL) ||
      model().hasResponse(
        taskResponses.PA_FNL_LAUNCH_PERMANENT_DISCIPLINARY_COUNCIL
      ))
  ) {
    <app-button buttonType="secondary" [matMenuTriggerFor]="sendToMenu">
      {{ lang.map.send_to }}
      <mat-icon class="ms-auto" [svgIcon]="AppIcons.CHEVRON_UP"></mat-icon>
    </app-button>
  }

  <mat-menu #sendToMenu="matMenu">
    <!-- launch legal affairs -->
    @if (
      model().inMyInbox() &&
      model().hasResponse(taskResponses.PA_FNL_LAUNCH_LEGAL_AFFAIRS)
    ) {
      <button
        mat-menu-item
        (click)="
          returnActions$.next(taskResponses.PA_FNL_LAUNCH_LEGAL_AFFAIRS)
        ">
        {{ lang.map.launch_legal_affairs }}
      </button>
    }
    <!-- launch disciplinary council -->
    @if (
      model().inMyInbox() &&
      model().hasResponse(taskResponses.PA_FNL_LAUNCH_DISCIPLINARY_COUNCIL)
    ) {
      <button
        mat-menu-item
        (click)="
          returnActions$.next(taskResponses.PA_FNL_LAUNCH_DISCIPLINARY_COUNCIL)
        ">
        {{ lang.map.launch_disciplinary_council }}
      </button>
    }
    <!-- launch disciplinary council -->
    @if (
      model().inMyInbox() &&
      model().hasResponse(
        taskResponses.PA_FNL_LAUNCH_PERMANENT_DISCIPLINARY_COUNCIL
      )
    ) {
      <button
        mat-menu-item
        (click)="
          returnActions$.next(
            taskResponses.PA_FNL_LAUNCH_PERMANENT_DISCIPLINARY_COUNCIL
          )
        ">
        {{ lang.map.launch_permanent_disciplinary_council }}
      </button>
    }
    <!-- final launch disciplinary committee -->
    @if (
      model().inMyInbox() && model().hasResponse(taskResponses.PA_FNL_LAUNCH_DC)
    ) {
      <button
        mat-menu-item
        (click)="returnActions$.next(taskResponses.PA_FNL_LAUNCH_DC)">
        {{ lang.map.launch_disciplinary_committee }}
      </button>
    }
  </mat-menu>

  @if (model().inMyInbox() && model().hasResponse(taskResponses.TO_CHIEF)) {
    <app-button (click)="responseAction$.next(taskResponses.TO_CHIEF)">
      {{ lang.map.return_to_chief }}
    </app-button>
  }

  @if (model().inMyInbox() && model().hasResponse(taskResponses.TO_LA)) {
    <app-button (click)="responseAction$.next(taskResponses.TO_LA)">
      {{ lang.map.return_to_legal_affairs_manager }}
    </app-button>
  }
  <!-- issuing referral decision -->
  @if (
    model().inMyInbox() &&
    (model().hasResponse(
      taskResponses.PRESIDENT_ASSISTANT_LAUNCH_LEGAL_AFFAIRS
    ) ||
      model().hasResponse(taskResponses.LAUNCH_LEGAL_AFFAIRS) ||
      model().hasResponse(taskResponses.TO_PAE))
  ) {
    <app-button buttonType="secondary" [matMenuTriggerFor]="issuingMenu">
      {{ lang.map.issuing_referral_decision }}
      <mat-icon class="ms-auto" [svgIcon]="AppIcons.CHEVRON_UP"></mat-icon>
    </app-button>
  }
  <mat-menu #issuingMenu="matMenu">
    <!-- issuing referral decision to legal affairs manager by President assistant -->
    @if (
      model().inMyInbox() &&
      model().hasResponse(
        taskResponses.PRESIDENT_ASSISTANT_LAUNCH_LEGAL_AFFAIRS
      )
    ) {
      <button mat-menu-item (click)="referralToLegalAffairs()">
        {{ lang.map.to_legal_affairs_manager }}
      </button>
    }
    <!-- issuing referral decision to legal affairs manager -->
    @if (
      model().inMyInbox() &&
      model().hasResponse(taskResponses.LAUNCH_LEGAL_AFFAIRS)
    ) {
      <button
        mat-menu-item
        (click)="responseAction$.next(taskResponses.LAUNCH_LEGAL_AFFAIRS)">
        {{ lang.map.to_legal_affairs_manager }}
      </button>
    }
    <!-- Issuing a referral decision to study in the president assistant office -->
    @if (model().inMyInbox() && model().hasResponse(taskResponses.TO_PAE)) {
      <button
        mat-menu-item
        (click)="responseAction$.next(taskResponses.TO_PAE)">
        {{ lang.map.to_study_in_the_president_assistant_office }}
      </button>
    }
  </mat-menu>

  <!-- send to manager -->
  @if (canLaunch() && !isApplicantManager()) {
    <app-button
      (click)="
        launch.emit(
          isApplicantChief()
            ? sendTypes.CHIEF_TO_MANAGER
            : sendTypes.DIRECTOR_ADMIN
        )
      "
      >{{ lang.map.send_to_manager }}
    </app-button>
  }
  <!-- send to chief -->
  @if (
    canLaunch() &&
    !isApplicantManager() &&
    model().sectionId &&
    model().sectionId !== -1
  ) {
    <app-button (click)="launch.emit(sendTypes.DIRECT_DEPARTMENT)"
      >{{ lang.map.send_to_chief }}
    </app-button>
  }

  <!-- claim -->
  @if (model().canClaim()) {
    <app-button (click)="claimItem()">
      {{ lang.map.claim }}
    </app-button>
  }

  <!-- release -->
  @if (model().canRelease()) {
    <app-button (click)="releaseItem()">
      {{ lang.map.release }}
    </app-button>
  }

  <!-- terminate -->
  @if (model().inMyInbox() && model().hasResponse(taskResponses.TERMINATE)) {
    <app-button
      buttonType="error"
      (click)="responseAction$.next(taskResponses.TERMINATE)">
      {{ lang.map.terminate }}
    </app-button>
  }

  @if (!!openFrom) {
    <!-- close action -->
    <app-button buttonType="error" (click)="close()">
      {{ lang.map.close }}
    </app-button>
  }
  <!-- action on case -->
  @if (model().id) {
    <app-button (click)="showActionsOnCase()" buttonType="primary-outline"
      >{{ lang.map.view + ' ' + lang.map.actions }}
    </app-button>
  }
</div>
