<div
  class="flex bg-gradient-to-br from-primary to-primary-light text-white rounded-tr-lg rounded-tl-lg items-center justify-start py-2">
  <h1 class="text-xl min-h-[3rem] align-middle flex items-center px-3">
    {{ lang.map.menu_global_setting }}
  </h1>
  <app-icon-button
    [matTooltip]="lang.map.reset"
    (click)="resetForm()"
    icon="RELOAD"></app-icon-button>
</div>
<div class="bg-white shadow relative p-2 h-max">
  @if (loading$ | async) {
    <div
      class="z-20 bg-black bg-opacity-5 absolute inset-0 flex justify-center">
      <mat-spinner Style="margin-top: 120px" [diameter]="75"></mat-spinner>
    </div>
  }
  <mat-tab-group
    [mat-stretch-tabs]="false"
    mat-align-tabs="start"
    [dynamicHeight]="true">
    <!-- first tab -->
    <mat-tab [label]="lang.map.basic_settings">
      <ng-container [formGroup]="form">
        <div class="grid grid-cols-3 gap-4 p-4">
          <app-input
            [disabled]="(loading$ | async)!"
            formControlName="systemArabicName"
            [label]="lang.map.system_ar_name" />
          <app-input
            [disabled]="(loading$ | async)!"
            formControlName="systemEnglishName"
            [label]="lang.map.system_en_name" />

          <app-input
            [disabled]="(loading$ | async)!"
            formControlName="sessionTimeout"
            type="number"
            [label]="
              lang.map.session_time_out + ' (' + lang.map.minutes + ')'
            " />
          <app-input
            [disabled]="(loading$ | async)!"
            formControlName="fileSize"
            type="number"
            [label]="lang.map.file_size + ' (' + 'MB' + ')'" />

          <app-input
            [disabled]="(loading$ | async)!"
            formControlName="inboxRefreshInterval"
            type="number"
            [label]="
              lang.map.inbox_refresh_interval + ' (' + lang.map.minutes + ')'
            " />
          <app-input
            [disabled]="(loading$ | async)!"
            formControlName="managerMaxViolation"
            type="number"
            [label]="lang.map.manager_max_violation" />
          <app-input
            [disabled]="(loading$ | async)!"
            formControlName="maxInvestigationDelay"
            type="number"
            [label]="
              lang.map.max_investigation_delay + ' (' + lang.map.day + ')'
            " />
          <app-select-input
            class="col-span-2"
            [disabled]="(loading$ | async)!"
            formControlName="fileTypeParsed"
            [options]="fileTypes"
            [label]="lang.map.file_type"
            bindValue="id"
            [isMultiple]="true"
            bindLabel="getNames" />
          <app-switch
            [disabled]="(loading$ | async)! || form.invalid"
            [trueValue]="1"
            [falseValue]="0"
            formControlName="enableMailNotification"
            [label]="lang.map.mail_notifications"
            (changed)="save$.next()"></app-switch>

          <app-switch
            [disabled]="(loading$ | async)! || form.invalid"
            [trueValue]="1"
            [falseValue]="0"
            formControlName="enableSMSNotification"
            [label]="lang.map.sms_notifications"
            (changed)="save$.next()"></app-switch>
        </div>
        <!-- <div class="flex flex-row items-center justify-start px-4">
        <span class="block font-medium text-slate-700">{{ lang.map.support_email_list }}</span>
      </div> -->
        <!-- <div class="grid grid-rows-2 gap-4 p-4">
      <div class="flex flex-row col-span-4 pl-1 items-center justify-start">
        <app-switch
          [disabled]="(loading$ | async)! || form.invalid"
          [trueValue]="1"
          [falseValue]="0"
          formControlName="enableMailNotification"
          [label]="lang.map.mail_notifications"
        (changed)="save$.next()"></app-switch>
      </div>
      <div class="flex flex-row col-span-4 pl-1 items-center justify-start">
        <app-switch
          [disabled]="(loading$ | async)! || form.invalid"
          [trueValue]="1"
          [falseValue]="0"
          formControlName="enableSMSNotification"
          [label]="lang.map.sms_notifications"
        (changed)="save$.next()"></app-switch>
      </div>
    </div> -->
      </ng-container>
    </mat-tab>
    <!-- second tab -->
    <mat-tab [label]="lang.map.support_email_list">
      <ng-container [formGroup]="form">
        <div class="grid grid-cols-4 gap-4 p-4">
          <ng-container formArrayName="supportEmailListParsed">
            @for (
              emailInput of supportEmailListParsed.controls;
              track emailInput;
              let i = $index
            ) {
              <app-input
                [disabled]="(loading$ | async)!"
                [formControlName]="i"
                [label]="lang.map.email + ' ' + (i + 1)">
                <app-icon-button
                  appInputPrefix
                  icon="DELETE"
                  (click)="deleteEmail(i)"
                  [matTooltip]="lang.map.delete + ' ' + lang.map.email" />
              </app-input>
            }
          </ng-container>
          <div class="w-full flex items-center justify-start">
            <app-icon-button
              class="bg-slate-300 rounded-full"
              [disabled]="(loading$ | async)!"
              icon="PLUS"
              (click)="addEmail()"
              [matTooltip]="lang.map.add + ' ' + lang.map.alt_email" />
          </div>
        </div>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
  <div class="flex justify-end">
    <app-button size="lg" (click)="save$.next()" buttonType="primary"
      >{{ lang.map.save }}
    </app-button>
  </div>
</div>
