<div
  class="flex bg-gradient-to-br mb-5 from-primary to-primary-light px-3 text-white rounded-lg items-center justify-start py-2">
  <h1 class="text-xl min-h-[3rem] align-middle flex items-center">
    {{ lang.map.draft }} {{ lang.map.menu_investigation }}
  </h1>
  <div class="flex-auto"></div>
  <!--  <app-icon-button [matTooltip]="lang.map.collapse_all" icon="COLLAPSE_ALL" />-->
  <!--  <app-icon-button [matTooltip]="lang.map.expand_all" icon="EXPAND_ALL" />-->
</div>
<div class="relative">
  <mat-card>
    <mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="tabChange($event)" mat-stretch-tabs="false">
      <mat-tab [label]="!isSummaryMode() ? lang.map.lbl_basic_info : lang.map.basic_report_data_and_violations">
        <ng-container [ngTemplateOutlet]="basic_info_tab"></ng-container>
      </mat-tab>
      <mat-tab *ngIf="!isSummaryMode()" [label]="lang.map.violations">
        <ng-container [ngTemplateOutlet]="violation_tab"></ng-container>
      </mat-tab>
      <mat-tab *ngIf="!isSummaryMode()" [label]="lang.map.offenders">
        <ng-container [ngTemplateOutlet]="offenders_tab"></ng-container>
      </mat-tab>
      <mat-tab [label]="lang.map.external_persons">
        <ng-container [ngTemplateOutlet]="external_persons_tab"></ng-container>
      </mat-tab>
      <mat-tab *ngIf="!isSummaryMode()" [label]="lang.map.correspondence">
        <ng-container [ngTemplateOutlet]="correspondence_tab"></ng-container>
      </mat-tab>
      <mat-tab *ngIf="isSummaryMode()" [label]="lang.map.attachments">
        <ng-container [ngTemplateOutlet]="attachments_tab"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <!-- 


 -->
  <ng-template #basic_info_tab>
    <div [formGroup]="form" class="p-4 grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
      <app-input formControlName="draftFullSerial" [label]="lang.map.report_draft_number" />
      <app-input formControlName="investigationFullSerial" [label]="lang.map.investigation_file_number" />
      <app-input formControlName="createdOn" [label]="lang.map.report_entry_date">
        <input appControl formControlName="createdOn" (click)="datepicker.open()" [matDatepicker]="datepicker" />
        <mat-datepicker touchUi #datepicker />
      </app-input>
      <app-select-input
        formControlName="limitedAccess"
        [label]="lang.map.access_degree"
        bindValue="lookupKey"
        bindLabel="getNames"
        [options]="violationDegreeConfidentiality" />
      <div class="group block relative mb-5" *ngIf="model && model.departmentInfo && isSummaryMode()">
        <span class="block font-medium text-slate-700">{{ lang.map.lbl_department }}</span>
        <div class="md group/input-wrapper input-form text-slate-700 py-2 px-3 flex items-center justify-start">
          {{ model.departmentInfo.getNames() }}
        </div>
      </div>
      <app-textarea
        formControlName="description"
        class="col-span-1 md:col-span-2 lg:col-span-4"
        [label]="lang.map.general_explanation_of_violations" />

      <app-offenders-violations-preview
        [investigationModel]="model"
        [data]="model?.offenderInfo || []"
        class="col-span-1 md:col-span-2 lg:col-span-4"
        *ngIf="isSummaryMode()"
        [isClaimed]="!!model?.isClaimed()" />

      <app-case-attachments
        *ngIf="!isSummaryMode()"
        [caseId]="getCaseFolderIdByName(folderType.GENERAL)"
        [service]="service"
        [readonly]="readonly"
        [title]="lang.map.report_attachments"
        class="col-span-1 md:col-span-2 lg:col-span-4" />
    </div>
  </ng-template>

  <ng-template #violation_tab>
    <div class="p-4">
      <app-violation-list
        (empty)="resetOffendersAndExternalPersons()"
        (violations)="violations = $event"
        (saveCase)="saveCase($event)"
        [readonly]="readonly"
        [caseId]="model?.id" />
    </div>
  </ng-template>

  <ng-template #offenders_tab>
    <div class="p-4">
      <app-offender-list
        [investigationModel]="model"
        [violations]="violations"
        [readonly]="readonly"
        [caseId]="model?.id" />
    </div>
  </ng-template>

  <ng-template #external_persons_tab>
    <div class="p-4">
      <app-witnesses-list [violations]="violations" [readonly]="readonly || !!isSummaryMode()" [caseId]="model?.id" />
    </div>
  </ng-template>

  <ng-template #correspondence_tab>
    <div class="p-4">
      <app-case-attachments
        [caseId]="getCaseFolderIdByName(folderType.OFFICIAL)"
        [service]="service"
        [readonly]="readonly"
        [title]="lang.map.correspondence_attachments"
        class="col-span-1 md:col-span-2 lg:col-span-4" />
    </div>
  </ng-template>

  <ng-template #attachments_tab>
    <div class="p-4">
      <app-case-attachments
        [caseId]="getCaseFolderIdByName(folderType.GENERAL)"
        [service]="service"
        [readonly]="true"
        [title]="lang.map.report_attachments"
        class="col-span-1 md:col-span-2 lg:col-span-4" />
      <app-case-attachments
        [caseId]="getCaseFolderIdByName(folderType.OFFICIAL)"
        [service]="service"
        [readonly]="true"
        [title]="lang.map.correspondence_attachments"
        class="col-span-1 md:col-span-2 lg:col-span-4" />
    </div>
  </ng-template>
  <div class="grid grid-cols-6 gap-4 mt-3">
    <!-- save -->
    <app-button *ngIf="!isSummaryMode()" [disabled]="!model?.canSave()" (click)="save$.next(SaveTypes.FINAL)">{{
      lang.map.save
    }}</app-button>

    <!-- manager approve -->
    <app-button
      *ngIf="model?.isClaimed() && model?.hasResponse(taskResponses.MANAGER_APPROVE)"
      (click)="responseAction$.next(taskResponses.MANAGER_APPROVE)">
      {{ lang.map.manager_approve }}
    </app-button>
    <!-- hr manager approve -->
    <app-button
      *ngIf="model?.isClaimed() && model?.hasResponse(taskResponses.HR_APPROVE)"
      (click)="responseAction$.next(taskResponses.HR_APPROVE)">
      {{ lang.map.manager_approve }}
    </app-button>

    <app-button
      buttonType="secondary"
      *ngIf="model?.isClaimed() && model?.hasResponse(taskResponses.TO_USER)"
      (click)="responseAction$.next(taskResponses.TO_USER)">
      {{ lang.map.send_to_user_x.change({ x: this.lang.map[getSendToUserLabel] }) }}
    </app-button>

    <app-button
      buttonType="secondary"
      *ngIf="model?.isClaimed() && model?.hasResponse(taskResponses.COMPLETE)"
      (click)="responseAction$.next(taskResponses.COMPLETE)">
      {{ lang.map[getCompleteLabel] }}
    </app-button>

    <!-- return -->
    <app-button
      *ngIf="
        model?.isClaimed() &&
        (model?.hasResponse(taskResponses.RETURN_TO_SAME) ||
          model?.hasResponse(taskResponses.RETURN_TO_APP) ||
          model?.hasResponse(taskResponses.RETURN_TO_HR) ||
          model?.hasResponse(taskResponses.RETURN_APP_MANAGER))
      "
      buttonType="secondary"
      mat-button
      [matMenuTriggerFor]="returnMenu">
      {{ lang.map.return }}
      <mat-icon class="ms-auto" [svgIcon]="AppIcons.CHEVRON_UP"></mat-icon>
    </app-button>
    <mat-menu #returnMenu="matMenu">
      <button
        mat-menu-item
        *ngIf="model?.hasResponse(taskResponses.RETURN_APP_MANAGER)"
        (click)="responseAction$.next(taskResponses.RETURN_APP_MANAGER)">
        {{ lang.map.return_to_manager }}
      </button>
      <button
        mat-menu-item
        *ngIf="model?.hasResponse(taskResponses.RETURN_TO_HR)"
        (click)="responseAction$.next(taskResponses.RETURN_TO_HR)">
        {{ lang.map.return_to_hr_department }}
      </button>
      <button
        mat-menu-item
        *ngIf="model?.hasResponse(taskResponses.RETURN_TO_SAME)"
        (click)="responseAction$.next(taskResponses.RETURN_TO_SAME)">
        {{ lang.map.return_to_same }}
      </button>
      <button
        mat-menu-item
        *ngIf="model?.hasResponse(taskResponses.RETURN_TO_APP)"
        (click)="responseAction$.next(taskResponses.RETURN_TO_APP)">
        {{ lang.map.return_to_applicant_department }}
      </button>
    </mat-menu>

    <!-- referral request -->
    <app-button
      *ngIf="
        model?.isClaimed() &&
        (model?.hasResponse(taskResponses.REFERRAL_TO_PRESODENT) ||
          model?.hasResponse(taskResponses.REFERRAL_TO_PRESODENT_ASSISTANT))
      "
      buttonType="secondary"
      mat-button
      [matMenuTriggerFor]="referralMenu">
      {{ lang.map.referral_request }}
      <mat-icon class="ms-auto" [svgIcon]="AppIcons.CHEVRON_UP"></mat-icon>
    </app-button>
    <mat-menu #referralMenu="matMenu">
      <button
        mat-menu-item
        *ngIf="model?.hasResponse(taskResponses.REFERRAL_TO_PRESODENT)"
        (click)="responseAction$.next(taskResponses.REFERRAL_TO_PRESODENT)">
        {{ lang.map.referral_request_to_presodent }}
      </button>
      <button
        mat-menu-item
        *ngIf="model?.hasResponse(taskResponses.REFERRAL_TO_PRESODENT_ASSISTANT)"
        (click)="responseAction$.next(taskResponses.REFERRAL_TO_PRESODENT_ASSISTANT)">
        {{ lang.map.referral_request_to_presodent_assistant }}
      </button>
    </mat-menu>

    <!-- transfer -->
    <app-button
      *ngIf="model?.isClaimed() && model?.hasResponse(taskResponses.TO_PO)"
      buttonType="secondary"
      mat-button
      [matMenuTriggerFor]="transferMenu">
      {{ lang.map.transfer }}
      <mat-icon class="ms-auto" [svgIcon]="AppIcons.CHEVRON_UP"></mat-icon>
    </app-button>
    <mat-menu #transferMenu="matMenu">
      <button
        mat-menu-item
        *ngIf="model?.hasResponse(taskResponses.TO_PO)"
        (click)="responseAction$.next(taskResponses.TO_PO)">
        {{ lang.map.transfer_report_to_staff_president_office }}
      </button>
    </mat-menu>

    <!-- issuing referral decision to legal affairs manager -->
    <app-button
      buttonType="secondary"
      *ngIf="model?.isClaimed() && model?.hasResponse(taskResponses.PR_LAUNCH_LEAGL_AFFAIRS)"
      (click)="responseAction$.next(taskResponses.PR_LAUNCH_LEAGL_AFFAIRS)">
      {{ lang.map.issuing_referral_decision_to_legal_affairs_manager }}
    </app-button>

    <!-- cliam -->
    <app-button *ngIf="model?.canClaim()" (click)="claim()">
      {{ lang.map.claim }}
    </app-button>

    <!-- data entry actions -->
    <!-- send to manager -->
    <app-button *ngIf="canLaunch()" (click)="launchCase(sendTypes.DIRECTOR_ADMIN)">{{
      lang.map.send_to_manager
    }}</app-button>
    <!-- send to chief -->
    <app-button *ngIf="canLaunch()" (click)="launchCase(sendTypes.DIRECT_DEPARTMENT)">{{
      lang.map.send_to_chief
    }}</app-button>

    <!-- data entry chief actions -->
    <!-- send to manager -->
    <app-button
      *ngIf="model?.isClaimed() && model?.hasResponse(taskResponses.TO_MANAGER)"
      (click)="responseAction$.next(taskResponses.TO_MANAGER)">
      {{ lang.map.to_manager }}
    </app-button>

    <!-- close action -->
    <app-button
      buttonType="error"
      *ngIf="model?.isClaimed() && model?.hasResponse(taskResponses.CLOSE)"
      (click)="responseAction$.next(taskResponses.CLOSE)">
      {{ lang.map.close }}
    </app-button>

    <!-- terminate -->
    <app-button
      buttonType="error"
      *ngIf="model?.isClaimed() && model?.hasResponse(taskResponses.TERMINATE)"
      (click)="responseAction$.next(taskResponses.TERMINATE)">
      {{ lang.map.terminate }}
    </app-button>
  </div>
</div>
