<div
  class="flex bg-gradient-to-br mb-5 from-primary to-primary-light px-3 text-white rounded-lg items-center justify-start py-2">
  <h1 class="text-xl min-h-[3rem] align-middle flex items-center">
    {{ lang.map.draft }} {{ lang.map.menu_investigation }}
  </h1>
  <div class="flex-auto"></div>
  <!--  <app-icon-button [matTooltip]="lang.map.collapse_all" icon="COLLAPSE_ALL" />-->
  <!--  <app-icon-button [matTooltip]="lang.map.expand_all" icon="EXPAND_ALL" />-->
</div>
<div [formGroup]="form" *ngIf="!isAddScreen()" class="p-4 grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
  <div class="mb-3">
    <span class="font-medium text-slate-700">{{ lang.map.report_draft_number }}</span>
    <label class="input-form p-2 block">
      {{ model?.draftFullSerial ? model?.draftFullSerial : '---' }}
    </label>
  </div>
  <div class="mb-3">
    <span class="font-medium text-slate-700">{{ lang.map.investigation_file_number }}</span>
    <label class="input-form p-2 block">
      {{ model?.investigationFullSerial ? model?.investigationFullSerial : '---' }}
    </label>
  </div>
  <div class="mb-3">
    <span class="font-medium text-slate-700">{{ lang.map.report_entry_date }}</span>
    <label class="input-form p-2 block">
      {{ model?.createdOn ? (model?.createdOn|date) : '---' }}
    </label>
  </div>
  <div class="mb-3">
    <span class="font-medium text-slate-700">{{ lang.map.limited_access }}</span>
    <label class="input-form p-2 block">
      {{ model?.limitedAccessInfo ? model?.limitedAccessInfo?.getNames() : '---' }}
    </label>
  </div>
</div>
<div class="relative" [ngClass]="{
  'investegation-tab-group': isAddScreen(),
  'investegation-tab-group-preview': !isAddScreen()
}">
  <mat-card>
    <mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="tabChange($event)" mat-stretch-tabs="false">
      <mat-tab *ngIf="!isAddScreen()" [label]="lang.map.basic_report_data_and_violations">
        <ng-container [ngTemplateOutlet]="summary_tab"></ng-container>
      </mat-tab>
      <mat-tab *ngIf="isAddScreen()" [label]="lang.map.lbl_basic_info">
        <ng-container [ngTemplateOutlet]="basic_info_tab"></ng-container>
      </mat-tab>
      <mat-tab [label]="lang.map.offenders">
        <ng-container [ngTemplateOutlet]="offenders_tab"></ng-container>
      </mat-tab>
      <mat-tab [label]="lang.map.violations">
        <ng-container [ngTemplateOutlet]="violation_tab"></ng-container>
      </mat-tab>
      <mat-tab [label]="lang.map.external_persons" *ngIf="canViewExternalPersonsTab()">
        <ng-container [ngTemplateOutlet]="external_persons_tab"></ng-container>
      </mat-tab>
      <mat-tab [label]="lang.map.attachments">
        <ng-container [ngTemplateOutlet]="attachments_tab"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <app-buttons-case-wrapper [model]="model" (onSave)="save$.next($event)" (onLaunch)="launchCase($event)"
    (onClaim)="_updateForm($event)"></app-buttons-case-wrapper>
  <ng-template #summary_tab>
    <div [formGroup]="form" class="px-3 grid gap-3 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
      <div class="col-span-1 md:col-span-2 lg:col-span-4">
        <h1 class="mb-2 font-bold text-primary text-lg">{{ lang.map.lbl_basic_info }}</h1>
        <div class="mb-1" *ngIf="model && model.departmentInfo">
          <span class="font-medium text-slate-700">{{ lang.map.lbl_department }} :</span>
          <small class="sm font-bold text-slate-600 py-2">
            {{ model.departmentInfo.getNames() }}
          </small>
        </div>
        <div class="mb-3">
          <span class="font-medium text-slate-700">{{ lang.map.general_explanation_of_violations }}</span>
          <label class="block">
            {{ model?.description ? model?.description : 'No description' }}
          </label>
        </div>
      </div>
      <app-offenders-violations-preview [investigationModel]="model" [data]="model?.offenderInfo || []"
        class="col-span-1 md:col-span-2 lg:col-span-4" [isClaimed]="!!model?.isClaimed()" />
    </div>
  </ng-template>

  <ng-template #basic_info_tab>
    <div [formGroup]="form" class="p-4 grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
      <app-input formControlName="draftFullSerial" [label]="lang.map.report_draft_number" />
      <app-input formControlName="investigationFullSerial" [label]="lang.map.investigation_file_number" />
      <app-input formControlName="createdOn" [label]="lang.map.report_entry_date">
        <input appControl formControlName="createdOn" (click)="datepicker.open()" [matDatepicker]="datepicker" />
        <mat-datepicker touchUi #datepicker />
      </app-input>
      <app-select-input formControlName="limitedAccess" [label]="lang.map.limited_access" bindValue="lookupKey"
        bindLabel="getNames" [options]="violationDegreeConfidentiality" />
      <app-textarea formControlName="description" [rows]="12" class="col-span-1 md:col-span-2 lg:col-span-4"
        [label]="lang.map.general_explanation_of_violations" />
    </div>
  </ng-template>

  <ng-template #violation_tab>
    <div class="p-4">
      <app-violation-list
        (empty)="resetOffendersAndExternalPersons()"
        (violations)="violations = $event"
        (saveCase)="saveCase($event)"
        [readonly]="readonly"
        [caseId]="model?.id" />
    </div>
  </ng-template>

  <ng-template #offenders_tab>
    <div class="p-4">
      <app-offender-list
        [investigationModel]="model"
        [violations]="violations"
        [readonly]="readonly"
        [caseId]="model?.id" />
    </div>
  </ng-template>

  <ng-template #external_persons_tab>
    <div class="p-4">
      <app-witnesses-list [violations]="violations" [readonly]="readonly" [caseId]="model?.id" />
    </div>
  </ng-template>

  <ng-template #attachments_tab>
    <div class="p-4">
      <app-case-attachments [caseId]="getCaseFolderIdByName(folderType.GENERAL)" [service]="service" [readonly]="true"
        [title]="lang.map.report_attachments" class="col-span-1 md:col-span-2 lg:col-span-4" />
      <app-case-attachments [caseId]="getCaseFolderIdByName(folderType.OFFICIAL)" [service]="service" [readonly]="true"
        [title]="lang.map.correspondence_attachments" class="col-span-1 md:col-span-2 lg:col-span-4" />
    </div>
  </ng-template>
</div>
