.custom-otp-control {
  margin: auto;
  width: 240px;
  height: 60px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 18px;
  background-position: 0 bottom;
  background-size: 40px 6px;
  background-repeat: repeat-x;
  outline: none;
  background-image: linear-gradient(
      black 67%,
      rgba(255, 255, 255, 0) 0%
  );
}
