<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_internal_user }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <mat-tab-group>
      <mat-tab [label]="lang.map.lbl_basic_info"> 
        <ng-container [formGroup]="form">
          <div  class="grid grid-cols-2 gap-4 mt-4">
            <app-input formControlName="arName" [label]="lang.map.ar_name"></app-input>
            <app-input formControlName="enName" [label]="lang.map.en_name"></app-input>
            <app-input formControlName="domainName" [label]="lang.map.domain_name"></app-input>
            <app-input formControlName="qid" [label]="lang.map.qid"></app-input>
            <app-input formControlName="empNum" type="number" [label]="lang.map.employee_number"></app-input>
            <app-input formControlName="email" [label]="lang.map.email"></app-input>
            <app-input formControlName="phoneNumber" type="number" [label]="lang.map.phone_number"></app-input>
            <app-switch
              formControlName="status"
              [label]="lang.map.lbl_status"
              trueValue="1"
              falseValue="0"
            ></app-switch>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab [label]="lang.map.lbl_user_preferences">
        <div [formGroup]="form">
          <ng-container formGroupName="userPreferences">
            <div class="grid grid-cols-2 gap-4 mt-4">
              <!-- mail notifications -->
              <app-switch
                formControlName="isMailNotificationEnabled"
                [label]="lang.map.mail_notifications"
              ></app-switch>
      
              <!-- sms notifications -->
              <app-switch
                formControlName="isSMSNotificationEnabled"
                [label]="lang.map.sms_notifications"
              ></app-switch>
              
              <!-- is private user -->
              <app-switch
                formControlName="isPrivateUser"
                [label]="lang.map.private_user"
              ></app-switch>
              
              <!-- limited circulation -->
              <app-switch
                formControlName="limitedCirculation"
                [label]="lang.map.limited_circulation"
              ></app-switch>

              <!-- default language -->
              <!-- <app-select-input 
                [options]="languages" 
                bindValue="lookupKey" 
                bindLabel="enName" 
                [label]="lang.map.default_lang"
                formControlName="defaultLang"
              ></app-select-input> -->
            </div>
          </ng-container>
        </div>
      </mat-tab>
      <mat-tab [label]="lang.map.lbl_permissions"> 
        <ng-container [formGroup]="form">
          <div class="mt-4">
            <div formGroupName="userPermissions">
              <!-- user permissions -->
              <app-select-input 
                [options]="allPermissions" 
                bindValue="id" 
                bindLabel="getNames" 
                [label]="lang.map.lbl_permissions"
                formControlName="permissions"
                [isMultiple]="true"
              ></app-select-input>
            </div>
          </div>  
        </ng-container>  
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="dialog-footer justify-end">
    <app-button *ngIf="!inViewMode()" (click)="save$.next()" buttonType="primary">{{ lang.map.save }}</app-button>
    <app-button *ngIf="!inViewMode()" mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
    <app-button *ngIf="inViewMode()" mat-dialog-close="" buttonType="primary">{{ lang.map.close }}</app-button>
  </div>
</div>


