<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.comment }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content max-w-[900px]">
    @if (isPreviewForm) {
      <div dir="rtl">
        <div class="flex justify-between">
          <div>
            <strong>السيد {{ sendToName + ' ' + sendToTitle }} المحترم</strong>
          </div>
          <div>
            <label class="pb-3 block">
              {{ formNumberAndType }}
            </label>
            <label class="pb-3 block">
              {{ decisionNumberAndType }}
            </label>
            <label class="pb-3 block">
              {{ formDateAndType }}
            </label>
          </div>
        </div>
        <h4 class="text-center py-5">
          <strong>{{ formName }}</strong>
        </h4>
        <div class="px-8">
          <p class="mb-4">
            {{ upperFixedText }}
          </p>
          @if (
            response === taskResponses.TO_MANAGER ||
            response === taskResponses.REFERRAL_TO_PRESIDENT ||
            response === taskResponses.REFERRAL_TO_PRESIDENT_ASSISTANT
          ) {
            <div class="mb-4">
              @for (offender of offenders; track offender) {
                <div>
                  <h5>
                    <strong>{{ offender.name }}</strong>
                  </h5>
                  <ul class="list-none">
                    <li>{{ offender.jobTitle + ' ' + offender.name }}</li>
                    @for (violation of offender.violations; track violation) {
                      <li>
                        {{ violation.name }}
                      </li>
                    }
                  </ul>
                </div>
              }
            </div>
          }
          <form [formGroup]="form" class="mb-3">
            <app-textarea
              formControlName="comment"
              label="الوصف والتعليقات الأخرى"
              placeholder="((التعليقات المضافة في النظام قبل ارسال الطلب))"></app-textarea>
          </form>
          <p class="mb-4">{{ lowerFixedText }}</p>
          <div
            class="flex"
            [ngClass]="{
              'justify-between': justifyBetween,
              'justify-end': justifyEnd
            }">
            @if (justifyBetween) {
              <div>
                <ul class="list-none mt-5">
                  @if (isEmployee) {
                    <li>
                      {{ copyToHumanResources }}
                    </li>
                  }
                  @if (isClearingAgent) {
                    <li>
                      {{ copyToLegalAffairs }}
                    </li>
                  }
                </ul>
              </div>
            }
            <div style="width: 240px">
              <h6 class="mb-4 text-center">
                <strong>{{ signature }}</strong>
              </h6>
              <label class="pb-3 block">{{ sendFromName }}</label>
              <label class="pb-3 block">{{ sendFromJobTitle }}</label>
              <br />
            </div>
          </div>
        </div>
      </div>
    }
    @if (!isPreviewForm) {
      <form [formGroup]="form">
        @if (isSendToHrUser) {
          <div class="col-12 mb-3">
            <app-select-input
              formControlName="userId"
              [label]="lang.map.send_to_hr_user"
              bindValue="id"
              bindLabel="getNames"
              [options]="usersList" />
          </div>
        }

        @if (isSendToUser) {
          <div class="col-12 mb-3">
            <app-select-input
              formControlName="userId"
              [label]="lang.map.send_to_user_x"
              [bindValue]="
                isReviewCustomsAffairsActivity ? 'id' : 'internalUserId'
              "
              [bindLabel]="
                isReviewCustomsAffairsActivity ? 'getNames' : 'getOUUserNames'
              "
              [options]="usersList" />
          </div>
        }
        @if (isSendToPAOfficeUser || isSendToPOfficeUser) {
          <div class="col-12 mb-3">
            <app-select-input
              formControlName="userId"
              [label]="
                isSendToPAOfficeUser
                  ? lang.map.send_to_pao_user_x
                  : lang.map.send_to_po_user_x
              "
              bindValue="id"
              bindLabel="getNames"
              [options]="usersList" />
          </div>
        }
        @if (isSendToInvestigator) {
          <div class="col-12 mb-3">
            <app-select-input
              formControlName="userId"
              [label]="lang.map.send_to_investigator"
              bindValue="id"
              bindLabel="getNames"
              [options]="usersList" />
          </div>
        }
        @if (isStatementResponse) {
          <div class="flex justify-end">
            <span>{{ lang.map.statement_serial_number }} : </span>
            <span class="font-semibold"
              >(({{ lang.map.statement_serial_number }}))</span
            >
          </div>
          <div class="flex justify-end">
            <span>{{ lang.map.accreditation_date }} : </span>
            <span class="font-semibold"
              >(({{ lang.map.accreditation_date }}))</span
            >
          </div>
        }
        <div class="col-12 mb-3">
          <app-textarea
            formControlName="comment"
            [label]="
              isStatementReply ? lang.map.reply : lang.map.comment
            "></app-textarea>
        </div>
      </form>
    }
  </div>
  <div class="dialog-footer justify-end">
    <app-button (click)="comment$.next()" buttonType="primary"
      >{{ isStatementReply ? lang.map.reply_to_statement : lang.map.approve }}
    </app-button>
    <app-button mat-dialog-close="" buttonType="primary-outline"
      >{{ lang.map.close }}
    </app-button>
  </div>
</div>
