<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>
      {{ inCreateMode() ? lang.map.new_dashboard : lang.map.edit_dashboard }}
    </h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div style="overflow: auto">
    <ng-container [formGroup]="form">
      <div class="grid grid-cols-2 gap-4 items-center p-4">
        <app-input
          formControlName="arName"
          [label]="lang.map.ar_name"></app-input>
        <app-input
          formControlName="enName"
          [label]="lang.map.en_name"></app-input>
      </div>
    </ng-container>
  </div>
  <div class="dialog-footer justify-end">
    @if (!inViewMode()) {
      <app-button (click)="save$.next()" buttonType="primary"
        >{{ lang.map.save }}
      </app-button>
    }
    @if (!inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary-outline"
        >{{ lang.map.close }}
      </app-button>
    }
    @if (inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary"
        >{{ lang.map.close }}
      </app-button>
    }
  </div>
</div>
