<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.audit_job_title }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <div class="shadow relative">
      <table mat-table class="table-style" [dataSource]="dataSource">
        <ng-container matColumnDef="auditId">
          <th mat-header-cell *matHeaderCellDef>{{ lang.map.audit_id }}</th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.auditId}}</span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsWrapper.displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div class="dialog-footer justify-end">
    <app-button mat-dialog-close="" buttonType="primary">{{ lang.map.close }}</app-button>
  </div>
</div>