<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_clearing_agent }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <div class="grid grid-cols-2 gap-4">
      <ng-container [formGroup]="form">
        <app-input formControlName="arName" [label]="lang.map.ar_name"></app-input>
        <app-input formControlName="enName" [label]="lang.map.en_name"></app-input>
        <app-input formControlName="qid" [label]="lang.map.qid"></app-input>
        <app-input formControlName="agentCustomCode" [label]="lang.map.clearing_agent_code"></app-input>
        <app-input formControlName="phoneNumber" [label]="lang.map.phone_number"></app-input>
        <app-input formControlName="email" [label]="lang.map.email"></app-input>
        <app-input formControlName="agentctLicenseNo" [label]="lang.map.license_number"></app-input>
        <app-input
          formControlName="agentLicenseIssueDate"
          type="datetime-local"
          [label]="lang.map.license_start_date"></app-input>
        <app-input
          formControlName="agentLicenseExpiryDate"
          type="datetime-local"
          [label]="lang.map.license_end_date"></app-input>
        <app-select-input
          formControlName="agencyId"
          [options]="[data.model.agencyInfo]"
          [label]="lang.map.menu_clearing_agency"
          bindValue="id"
          bindLabel="getNames" />
        <div class="flex flex-row pl-1 items-center justify-start">
          <app-switch [trueValue]="1" [falseValue]="0" formControlName="status" [label]="lang.map.status"></app-switch>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="dialog-footer justify-end">
    @if (!inViewMode()) {
    <app-button (click)="save$.next()" buttonType="primary">{{ lang.map.save }}</app-button>
    } @if (!inViewMode()) {
    <app-button mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
    } @if (inViewMode()) {
    <app-button mat-dialog-close="" buttonType="primary">{{ lang.map.close }}</app-button>
    }
  </div>
</div>
