{
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true,
        "endOfLine": "lf",
        "printWidth": 150
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "printWidth": 120,
        "bracketSameLine": true,
        "endOfLine": "lf"
      }
    }
  ]
}
