{
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "singleQuote": true,
        "useTabs": false,
        "printWidth": 80,
        "semi": true,
        "bracketSpacing": true,
        "bracketSameLine": true,
        "arrowParens": "avoid"
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "angular",
        "bracketSpacing": true,
        "bracketSameLine": true,
        "singleQuote": true
      }
    }
  ]
}
