<div class="dialog-container" style="max-width: 70rem">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_violation_penalty }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <ng-container [formGroup]="form">
      <div class="grid grid-cols-3 gap-4 border-b-2">
        <app-select-input
          formControlName="offenderType"
          [options]="offenderTypes"
          [label]="lang.map.offender_type"
          bindValue="lookupKey"
          bindLabel="getNames" />
        <app-select-input
          formControlName="violationTypeId"
          [options]="violationTypes"
          [label]="lang.map.violation_type"
          bindValue="id"
          bindLabel="getNames" />
        <app-input
          formControlName="repeat"
          [label]="lang.map.occurrence_times"
          type="number"></app-input>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-3">
        <app-select-input
          formControlName="penaltySigner"
          [options]="filteredPenaltySigners"
          [label]="lang.map.penalty_signer"
          bindValue="lookupKey"
          bindLabel="getNames" />
        @if (showOffenderLevel()) {
          <app-select-input
            formControlName="offenderLevel"
            [options]="filteredOffenderLevels"
            [label]="lang.map.offender_level"
            bindValue="lookupKey"
            bindLabel="getNames" />
        }
        @if (filteredPenalties.length) {
          <app-select-input
            formControlName="penaltyId"
            [options]="filteredPenalties"
            [label]="lang.map.penalty"
            bindValue="id"
            bindLabel="getNames"
            [enableFilter]="true"
            bindFilter="getNames" />
        }
        @if (showPenaltyGuidance()) {
          <app-select-input
            formControlName="penaltyGuidance"
            [options]="penaltyGuidance"
            [label]="lang.map.penalty_guidance"
            bindValue="lookupKey"
            bindLabel="getNames" />
        }
      </div>
    </ng-container>
  </div>
  <div class="dialog-footer justify-end">
    @if (!inViewMode()) {
      <app-button (click)="continue = false; save$.next()" buttonType="primary"
        >{{ lang.map.save }}
      </app-button>
      <app-button (click)="continue = true; save$.next()" buttonType="primary"
        >{{ lang.map.save_and_continue }}
      </app-button>
    }
    @if (!inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary-outline"
        >{{ lang.map.close }}
      </app-button>
    }
    @if (inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary"
        >{{ lang.map.close }}
      </app-button>
    }
  </div>
</div>
