<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.assignment_to_attend }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <ng-container [formGroup]="form">
      <div class="grid grid-cols-2 gap-4 items-center">
        @if (!isInternal()) {
        <app-input [label]="lang.map.en_name" formControlName="enName"></app-input>
        } @if (!isInternal()) {
        <app-input [label]="lang.map.ar_name" formControlName="arName"></app-input>
        } @if (!isInternal()) {
        <app-select-input
          [label]="lang.map.witness_type"
          formControlName="summonedType"
          [options]="personTypes"
          bindLabel="getNames"
          bindValue="lookupKey" />
        } @if (isInternal()) {
        <app-select-input
          [label]="lang.map.offender_type"
          formControlName="summonedType"
          [options]="offenderTypes"
          bindLabel="getNames"
          bindValue="lookupKey" />
        }
        <app-select-input
          [label]="lang.map.user_type"
          formControlName="type"
          [options]="userTypes"
          bindLabel="getNames"
          bindValue="lookupKey" />
      </div>
      <div class="grid grid-cols-1 gap-4 items-center">
        <app-textarea app-input formControlName="note" [label]="lang.map.note"></app-textarea>
      </div>
    </ng-container>
  </div>
  <div class="dialog-footer justify-end">
    <app-button (click)="assignmentToAttend$.next()" buttonType="primary">{{
      lang.map.assignment_to_attend
    }}</app-button>
    <app-button mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
  </div>
</div>
