<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.court_decision }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <div class="grid grid-cols-2 gap-4 [&>*]:col-span-2">
      <div dir="rtl">
        <div class="flex justify-between">
          <div>
            <!-- <strong>السيد {{ sendToTitle }} المحترم</strong> -->
          </div>
          <div>
            <label class="pb-3 block">
              رقم ملف التحقيق:{{
                model.decisionSerial &&
                  model.decisionSerial.split('/').slice(0, 3).join('/')
              }}
            </label>
            <label class="pb-3 block">
              رقم القرار:{{ model.decisionSerial }}</label
            >
            <label class="pb-3 block">
              تاريخ القرار:
              {{ model.penaltyAppliedDate | date: config.DATE_FORMAT }}
            </label>
          </div>
        </div>
        <form [formGroup]="form" class="mb-3">
          <app-select-input
            [label]="lang.map.penalty_name"
            formControlName="penaltyId"
            [options]="penalties"
            bindLabel="getNames"
            bindValue="id" />
          <app-input
            formControlName="maxApplyDate"
            [label]="lang.map.maximum_application_date">
            <input
              appControl
              readonly
              formControlName="maxApplyDate"
              (click)="datepicker.open()"
              [matDatepicker]="datepicker" />
            <mat-datepicker [touchUi]="true" #datepicker />
          </app-input>
          <app-textarea
            formControlName="comment"
            [label]="lang.map.the_comment"></app-textarea>
          <app-case-attachments
            [title]="lang.map.attachments"
            [caseId]="'1'"
            [entityId]="1"
            [service]="courtDecisionService">
          </app-case-attachments>
        </form>
      </div>
    </div>
  </div>
  <div class="dialog-footer justify-end">
    <app-button (click)="save$.next()" buttonType="primary"
      >{{ lang.map.save }}
    </app-button>
    <app-button mat-dialog-close="" buttonType="primary-outline"
      >{{ lang.map.close }}
    </app-button>
  </div>
</div>
