<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_penalty }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <div class="grid grid-cols-2 gap-4">
      <ng-container [formGroup]="form">
        <app-input formControlName="arName" [label]="lang.map.arabic_translation"></app-input>
        <app-input formControlName="enName" [label]="lang.map.english_translation"></app-input>

        <mat-form-field appearance="fill">
          <mat-label>{{ lang.map.penalty_type }}</mat-label>
          <mat-select formControlName="penaltyType">
            <mat-option *ngFor="let penaltyType of penaltyTypes" [value]="penaltyType.lookupKey">
              {{ penaltyType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-slide-toggle [checked]="model."></mat-slide-toggle>
        </mat-form-field>
      </ng-container>
    </div>
  </div>
  <div class="dialog-footer justify-end">
    <app-button *ngIf="!inViewMode()" (click)="save$.next()" buttonType="primary">{{ lang.map.save }}</app-button>
    <app-button *ngIf="!inViewMode()" mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
    <app-button *ngIf="inViewMode()" mat-dialog-close="" buttonType="primary">{{ lang.map.close }}</app-button>
  </div>
</div>
