<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_penalty }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight>
      <mat-tab [label]="lang.map.lbl_basic_info">
        <ng-container [formGroup]="form">
          <div class="grid grid-cols-2 gap-4 items-center">
            <app-input formControlName="arName" [label]="lang.map.ar_name"></app-input>
            <app-input formControlName="enName" [label]="lang.map.en_name"></app-input>
            <app-input
              formControlName="erasureDuration"
              [label]="lang.map.penalty_grace_period"
              type="number"></app-input>
            <app-input formControlName="penaltyWeight" [label]="lang.map.penalty_weight" type="number"></app-input>
            <app-select-input
              [label]="lang.map.penalty_type"
              formControlName="offenderType"
              [options]="offenderTypes"
              bindLabel="getNames"
              bindValue="lookupKey" />
            <app-input formControlName="deductionDays" [label]="lang.map.deduction_days" type="number" *ngIf="isDeductionTrue" min="1" max="15"></app-input>
            <app-input formControlName="cashAmount" [label]="lang.map.cash_amount" type="number" *ngIf="isCashTrue" min="500" max="5000"></app-input>
          </div>
          <div class="grid grid-cols-2 gap-4 items-center">
            <app-switch
              formControlName="status"
              [trueValue]="1"
              [falseValue]="0"
              [label]="lang.map.change_status"
              [matTooltip]="statusTooltipText"></app-switch>
            <app-switch
              formControlName="isCash"
              [trueValue]="1"
              [falseValue]="0"
              [label]="lang.map.is_cash"
              ></app-switch>
            <app-switch
              formControlName="isDeduction"
              [trueValue]="1"
              [falseValue]="0"
              [label]="lang.map.is_deduction"
              ></app-switch>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab [label]="lang.map.more_details">
        <app-penalty-details [list]="penaltyDetails"></app-penalty-details>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="dialog-footer justify-end">
    <app-button *ngIf="!inViewMode()" (click)="save$.next()" buttonType="primary">{{ lang.map.save }}</app-button>
    <app-button *ngIf="!inViewMode()" mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
    <app-button *ngIf="inViewMode()" mat-dialog-close="" buttonType="primary">{{ lang.map.close }}</app-button>
  </div>
</div>
