<app-external-navbar></app-external-navbar>
<div class="max-w-screen-xl mx-auto p-4">
  @if (
    UserTypes.EXTERNAL_CLEARING_AGENCY === employeeService.getLoginData()?.type
  ) {
    <div class="flex items-center gap-4">
      <app-input
        [label]="lang.map.search_for_clearing_agent"
        [formControl]="control"></app-input>
      <app-icon-button
        [matTooltip]="lang.map.search"
        (click)="search$.next(control.value)"
        class="text-primary"
        icon="SEARCH"></app-icon-button>
    </div>
  }
  <router-outlet></router-outlet>
</div>
