<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_custom_menu }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <mat-tab-group
    [mat-stretch-tabs]="false"
    mat-align-tabs="start"
    dynamicHeight="true"
    [(selectedIndex)]="selectedPopupTab">
    <mat-tab [label]="lang.map.lbl_basic_info">
      <ng-container [formGroup]="form">
        <div class="grid grid-cols-1 gap-4 items-center p-4 pb-0">
          @if (isDefaultParent()) {
            <app-select-input
              [label]="lang.map.system_parent"
              bindLabel="getNames"
              formControlName="systemMenuKey"
              bindValue="id"
              [options]="defaultParents" />
          }
        </div>
        <div class="grid grid-cols-2 gap-4 items-center p-4 pb-0">
          <app-input
            formControlName="arName"
            [label]="lang.map.ar_name"></app-input>
          <app-input
            formControlName="enName"
            [label]="lang.map.en_name"></app-input>
          <app-input
            formControlName="menuOrder"
            type="number"
            [label]="lang.map.menu_order"></app-input>
<!--          <app-input-->
<!--            formControlName="parentMenuItemId"-->
<!--            type="number"-->
<!--            [label]="lang.map.parent_menu_item"></app-input>-->
          <app-select-input
            [label]="lang.map.parent_menu_item"
            formControlName="parentMenuItemId"
            [options]="customMenus"
            bindLabel="getNames"
            bindValue="id"
          />
          <app-select-input
            [label]="lang.map.menu_type"
            bindLabel="getNames"
            bindValue="lookupKey"
            formControlName="menuType"
            [options]="menuTypes" />
          <app-select-input
            [label]="lang.map.user_type"
            bindLabel="getNames"
            formControlName="userType"
            bindValue="lookupKey"
            [options]="userTypes" />
          <div class="flex content-start">
            <span class="px-2">
              {{ lang.map.is_private_menu }}
            </span>
            <mat-slide-toggle
              [disabled]="inViewMode()"
              class="cursor-not-allowed"
              [matTooltip]="getTranslatedMenuView()"
              color="primary"
              (click)="changeMenuView()"
              [checked]="menuViewControl.value === 1">
            </mat-slide-toggle>
          </div>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab [label]="lang.map.link_settings">
      <app-custom-menu-url-handler
        #urlHandlerComponent
        [readonly]="readonly"
        [record]="model"></app-custom-menu-url-handler>
    </mat-tab>
    @if (showCustomMenu()) {
      <mat-tab [label]="lang.map.sub_custom_menus">
        <div class="p-4">
          <div class="p-4 h-96 overflow-y-auto">
            <app-custom-menu
              #customMenuChildren
              (listUpdated)="handleDisableFields()"
              [parent]="model"
              [operation]="operation"></app-custom-menu>
          </div>
        </div>
      </mat-tab>
    }
  </mat-tab-group>
  <div class="dialog-footer justify-end">
    @if (!inViewMode()) {
      <app-button (click)="save$.next()" buttonType="primary"
        >{{ lang.map.save }}
      </app-button>
    }
    @if (!inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary-outline"
        >{{ lang.map.close }}
      </app-button>
    }
    @if (inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary"
        >{{ lang.map.close }}
      </app-button>
    }
  </div>
</div>
