<!-- <span class="block font-medium mb-2"> {{ label }}</span> -->
<angular-editor
  class="prose"
  [ngClass]="{ 'has-error': !!(errors | async) && displayErrors }"
  (click)="switchTouch()"
  [id]="editorId"
  [formControl]="control"
  [config]="config">
  <ng-template #customButtons let-executeCommandFn="executeCommandFn">
    <ae-toolbar-set>
      @if (isTableWithTitle) {
      <input type="color" class="editor-input" [formControl]="headerBgColor" title="header background color" />
      }

      <ae-button
        [iconClass]="'fa fa-' + (isTableWithTitle ? 'check-square-o' : 'square-o')"
        title="table header"
        (buttonClick)="isTableHeader()">
      </ae-button>
      <input
        class="editor-input select-font-size"
        min="1"
        max="99"
        type="number"
        [formControl]="tabelCols"
        title="table number of columns" />
      <input
        class="editor-input select-font-size"
        min="1"
        max="99"
        type="number"
        [formControl]="tabelRows"
        title="table number of rows" />
      <ae-button
        #ctBtn
        iconClass="fa fa-table"
        title="add table"
        [id]="'createTable_' + editorId"
        (buttonClick)="executeCommandFn('insertHtml', createTable())">
      </ae-button>
    </ae-toolbar-set> </ng-template
></angular-editor>
@if (displayErrors) {

<app-validation-errors class="block relative" [errors]="errors | async"></app-validation-errors>

}
