<div
  class="flex bg-gradient-to-br from-primary to-primary-light text-white rounded-tr-lg rounded-tl-lg items-center justify-start py-2">
  <h1 class="text-xl min-h-[3rem] align-middle flex items-center px-3">
    {{ lang.map.menu_clearing_agent }}
  </h1>
  <app-icon-button [matTooltip]="lang.map.reload" (click)="reload$.next()" icon="RELOAD"></app-icon-button>
  <div class="flex-auto"></div>
</div>
<div class="shadow relative overflow-auto">
  <table mat-table matSort class="table-style" (matSortChange)="sort($event)" [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          [disabled]="(loading$ | async)!"
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          [disabled]="(loading$ | async)!"
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(element) : null"
          [checked]="selection.isSelected(element)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- arName arName -->
    <ng-container matColumnDef="arName">
      <th mat-header-cell mat-sort-header="arName" *matHeaderCellDef>{{ lang.map.ar_name }}</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="element.arName | highlight : getFilterStringColumn('arName')"></span>
      </td>
    </ng-container>
    <!-- enName enName -->
    <ng-container matColumnDef="enName">
      <th mat-header-cell mat-sort-header="enName" *matHeaderCellDef>{{ lang.map.en_name }}</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="element.enName | highlight : getFilterStringColumn('enName')"></span>
      </td>
    </ng-container>
    <!-- qid -->
    <ng-container matColumnDef="qid">
      <th mat-header-cell mat-sort-header="qid" *matHeaderCellDef>{{ lang.map.qid }}</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="element.agentQatarId | highlight : getFilterStringColumn('qid')"></span>
      </td>
    </ng-container>
    <!-- status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell mat-sort-header="status" *matHeaderCellDef class="status-min-width">{{ lang.map.status }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.statusInfo.getNames() }}
      </td>
    </ng-container>
    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ lang.map.actions }}</th>
      <td mat-cell *matCellDef="let element">
        <div class="flex">
          <app-icon-button
            [disabled]="(loading$ | async)!"
            [matTooltip]="lang.map.view"
            (click)="view$.next(element)"
            icon="VIEW"></app-icon-button>
        </div>
      </td>
    </ng-container>

    <ng-container *ngFor="let filter of columnsWrapper.filteredColumns">
      <!-- filtered Columns -->
      <ng-container [matColumnDef]="filter">
        <th mat-header-cell *matHeaderCellDef>
          <app-filter-column
            (filterChange)="filterChange($event)"
            [column]="columnsWrapper.columnsMap[filter]"></app-filter-column>
        </th>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsWrapper.displayedColumns"></tr>
    <tr mat-header-row class="!bg-primary/5 row-filter" *matHeaderRowDef="columnsWrapper.filteredColumns"></tr>
    <tr
      mat-row
      (contextmenu)="contextMenu.open($event, element)"
      *matRowDef="let element; columns: columnsWrapper.displayedColumns"></tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
    </tr>
  </table>
  <app-context-menu #contextMenu [actions]="actions"></app-context-menu>
</div>
<mat-paginator
  class="border-t border-gray-200"
  (page)="paginate($event)"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="limit"
  [showFirstLastButtons]="showFirstLastButtons"
  [length]="length">
</mat-paginator>
