<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.capture_files }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="relative flex flex-col overflow-y-auto w-[640px]">
    @if (mediaError) {
      <div class="min-h-36 p-2 flex flex-col gap-2 items-center justify-center">
        <div class="dialog-icon flex-none">
          <mat-icon
            ngClass="text-primary"
            class="size-48"
            [svgIcon]="getErrorIcon()"></mat-icon>
        </div>
        <div class="flex-auto text-center font-semibold text-xl">
          @if (mediaError === MediaDevicesErrors.NOT_ALLOWED_ERROR) {
            {{
              lang.map
                .connection_to_video_devices_blocked_please_allow_access_to_video_devices
            }}
          } @else if (mediaError === MediaDevicesErrors.NOT_FOUND_ERROR) {
            {{
              lang.map
                .there_are_no_video_devices_available_for_use_please_connect_video_devices_to_continue
            }}
          } @else if (mediaError === MediaDevicesErrors.NOT_SUPPORTED_ERROR) {
            {{ lang.map.browser_does_not_support_the_use_of_video_devices }}
          } @else {
            {{
              lang.map
                .an_error_occurred_while_trying_to_connect_to_video_devices
            }}
          }
        </div>
      </div>
    } @else if (!videoInitialized) {
      <div
        class="min-h-36 flex-auto flex items-center justify-center text-center font-semibold text-xl">
        {{ lang.map.connecting_to_video_devices }}
      </div>
    }
    <div
      class="relative"
      [ngClass]="{ hidden: !videoInitialized || mediaError }">
      <video
        #video
        autoplay
        muted
        playsinline
        (resize)="(null)"
        width="640"
        height="480"></video>
      @if (videoInitialized) {
        <div class="flex flex-col absolute gap-2 right-4 top-4">
          @if (
            allowCameraSwitch &&
            scanService.availableMediaDevices() &&
            scanService.availableMediaDevices()!.length > 1
          ) {
            <app-icon-button
              bgColor="!bg-white/25"
              class="!text-white"
              icon="CAMERA_SWITCH"
              (click)="switchVideoInput()"></app-icon-button>
          }
          <app-icon-button
            bgColor="!bg-white/25"
            class="!text-white"
            icon="CAPTURE"
            (click)="capture()"></app-icon-button>
        </div>
      }

      <canvas class="hidden" #canvas width="640" height="480"></canvas>
    </div>
    @if (images.length) {
      <app-images-list
        [images]="images"
        (imageRemoved)="removeImage($event)"
        class="absolute left-0 bottom-0 w-full"></app-images-list>
    }
  </div>
  <div class="dialog-footer justify-end">
    <app-button
      (click)="saveImages()"
      [disabled]="!images.length"
      mat-dialog-close=""
      buttonType="primary"
      >{{ lang.map.save }}</app-button
    >
    <app-button mat-dialog-close="" buttonType="primary-outline">{{
      lang.map.close
    }}</app-button>
  </div>
</div>
