<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.grievance }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <div class="grid grid-cols-2 gap-4 [&>*]:col-span-2">
      <div dir="rtl">
        <div class="flex justify-between">
          <div>
            <strong>السيد {{ sendToTitle }} المحترم</strong>
          </div>
          <div>
            <label class="pb-3 block">
              رقم ملف التحقيق:{{
                model.decisionSerial &&
                  model.decisionSerial.split('/').slice(0, 3).join('/')
              }}
            </label>
            <label class="pb-3 block">
              رقم القرار:{{ model.decisionSerial }}</label
            >
            <label class="pb-3 block">
              تاريخ القرار:
              {{ model.penaltyAppliedDate | date: config.DATE_FORMAT }}
            </label>
          </div>
        </div>
        <form [formGroup]="form" class="mb-3">
          <app-textarea
            formControlName="description"
            [placeholder]="lang.map.add_grievance_description_placeholder"
            [label]="lang.map.description"></app-textarea>
          <app-textarea
            formControlName="commentList"
            [label]="lang.map.comment"></app-textarea>
          @if (grievanceModel && grievanceModel.id) {
            <h3
              class="text-xl text-primary min-h-[3rem] align-middle flex items-center">
              {{ lang.map.attachments }}
            </h3>
            <app-case-attachments
              [folderType]="FolderType.GENERAL"
              [caseId]="grievanceModel.id"
              [type]="'folder'"
              [service]="grievanceService"
              [readonly]="false"></app-case-attachments>
          }
        </form>
      </div>
    </div>
  </div>
  <div class="dialog-footer justify-end">
    <app-button (click)="save$.next()" buttonType="primary"
      >{{ lang.map.save }}
    </app-button>
    <app-button mat-dialog-close="" buttonType="primary-outline"
      >{{ lang.map.close }}
    </app-button>
  </div>
</div>
