<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_mawared_department }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <ng-container [formGroup]="form">
      <div class="grid grid-cols-2 gap-4">
        <app-input
          [disabled]="true"
          formControlName="arName"
          [label]="lang.map.ar_name"></app-input>
        <app-input
          [disabled]="true"
          formControlName="enName"
          [label]="lang.map.en_name"></app-input>
        <app-input
          [disabled]="true"
          formControlName="ldapCode"
          [label]="lang.map.ldap_code"></app-input>
        <app-input
          [disabled]="true"
          formControlName="parentInfo"
          [label]="lang.map.parent_unit"></app-input>
        <app-input
          [disabled]="true"
          formControlName="statusInfo"
          [label]="lang.map.status"></app-input>
      </div>
    </ng-container>
  </div>
  <div class="dialog-footer justify-end">
    @if (!inViewMode()) {
      <app-button (click)="save$.next()" buttonType="primary">{{
        lang.map.save
      }}</app-button>
    }
    @if (!inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary-outline">{{
        lang.map.close
      }}</app-button>
    }
    @if (inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary">{{
        lang.map.close
      }}</app-button>
    }
  </div>
</div>
