<div class="mb-4">
  <div class="flex justify-start items-center">
    <h1 class="text-primary text-xl">{{ lang.map.meetings_minutes }}</h1>
    <app-icon-button
      (click)="reload$.next(null)"
      class="text-primary"
      icon="RELOAD"></app-icon-button>
    @if (!readonly) {
      <app-icon-button
        (click)="add$.next()"
        class="text-primary"
        [matTooltip]="lang.map.add_meeting_minutes"
        icon="PLUS_BOX"></app-icon-button>
    }
  </div>
  <div>
    <table
      mat-table
      matSort
      class="table-style table-primary"
      [dataSource]="dataList">
      <!-- meeting -->
      <ng-container matColumnDef="meeting">
        <th mat-header-cell *matHeaderCellDef>
          {{ lang.map.meeting_title }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.meetingInfo?.getNames() }}
        </td>
      </ng-container>
      <!-- status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          {{ lang.map.status }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.generalStatusInfo?.getNames() }}
        </td>
      </ng-container>
      <!-- creationDate -->
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef>{{ lang.map.creation_date }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdOn | date: config.DATE_FORMAT }}
        </td>
      </ng-container>
      <!-- creator -->
      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef>{{ lang.map.creator }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element.creatorInfo?.getNames() }}
        </td>
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell mat-sort-header="actions" *matHeaderCellDef>
          {{ lang.map.actions }}
        </th>
        <td mat-cell *matCellDef="let element">
          @if (!readonly) {
            <div class="flex gap-2">
              @if (element.generalStatus === generalStatusEnum.DC_M_PENDIND) {
                <div [matTooltip]="lang.map.launch">
                  <app-icon-button
                    (click)="launch$.next(element)"
                    icon="LAUNCH"></app-icon-button>
                </div>
              }
              @if (!element.isApproved) {
                <div [matTooltip]="lang.map.edit">
                  <app-icon-button
                    (click)="editMeetingMinutes$.next(element)"
                    icon="EDIT"></app-icon-button>
                </div>
                <div [matTooltip]="lang.map.delete">
                  <app-icon-button
                    (click)="delete$.next(element)"
                    icon="DELETE"></app-icon-button>
                </div>
              }
              <div [matTooltip]="lang.map.view">
                <app-icon-button
                  (click)="view$.next(element)"
                  icon="VIEW"></app-icon-button>
              </div>
            </div>
          }
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
      </tr>
    </table>
  </div>
</div>
