<div class="flex h-screen w-screen overflow-hidden w-screen">
  <app-sidebar #sidebar class="shadow-2xl shadow-slate-600 flex-none" />
  <div
    class="bg-slate-100 text-slate-700 flex flex-col flex-auto w-[calc(100vw-300px)]"
  >
    <app-navbar class="z-10 shadow" (menuClick)="sidebar.toggle()"></app-navbar>
    <div class="flex-auto p-4 h-0 overflow-y-scroll">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-version class="absolute bottom-5 ltr:right-5 rtl:left-5 drop-shadow" />
</div>
