html[dir="rtl"] {
  --mat-table-header-headline-font: "Tajawal", sans-serif !important;
  --mat-table-row-item-label-text-font: "Tajawal", sans-serif !important;

  body {
    font-family: "Tajawal", sans-serif !important;
  }

  .app-menu {
    direction: rtl !important;
  }
}
