@import "material";
/* You can add global styles to this file, and also import other style files */
@import "material-icons";
@import "arabic_font";
@import "tailwindcss";
@import "rtl";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  pre.default-font {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

.mat-icon {
  &.size-18 {
    width: 18px !important;
    height: 18px !important;
  }

  &.size-36 {
    width: 36px !important;
    height: 36px !important;
  }

  &.size-48 {
    width: 48px !important;
    height: 48px !important;
  }

  &.size-80 {
    width: 80px !important;
    height: 80px !important;
  }
}

.dialog-footer {
  @apply border border-t p-4 space-x-4 rtl:space-x-reverse flex;
}

.dialog-header {
  @apply p-4 bg-primary text-white flex justify-between items-center;
  h1 {
    @apply text-xl;
  }
}

.dialog-content {
  @apply p-4 flex flex-col overflow-y-auto;
}

.dialog-container {
  @apply max-w-full lg:min-w-[600px] md:min-w-[400px] flex flex-col max-h-[99vh];
}

.close-btn {
  @apply absolute rtl:left-0 ltr:right-0 mx-2;
}

.table-style {
  @apply [&_td]:text-slate-700 [&_th]:text-slate-700 shadow;
}

.status-min-width {
  min-width: 150px;
}

//noinspection HtmlDeprecatedTag
mat-tab-body {
  padding-block: 10px;
  max-height: calc(100vh - 300px);
  min-height: 400px;
}
.cases-tab-group mat-tab-body {
  max-height: 100%;
}
.mdc-tab--active {
  background-color: theme("colors.primary-light/0.1") !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-form {
  @apply w-full rounded-md overflow-hidden bg-white border border-slate-300 shadow-sm placeholder-slate-400 focus-within:outline-none focus-within:border-sky-500 focus-within:ring-1 focus-within:ring-sky-500 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none group-[.has-error]:border-red-500 group-[.has-error]:text-red-600 group-[.has-error]:focus-within:border-red-500 group-[.has-error]:focus-within:ring-red-500;
  .input-select .mat-mdc-select-trigger {
    height: 42px !important;
    @apply px-4;
  }
}

.input-form > input {
  @apply rounded-md max-w-full;
}

.white-radio-button-group {
  mat-radio-button .mdc-label {
    color: white !important;
  }

  .mat-mdc-radio-button
    .mdc-radio
    .mdc-radio__native-control:enabled:not(:checked)
    + .mdc-radio__background
    .mdc-radio__outer-circle {
    border-color: white !important;
  }

  .mat-mdc-radio-button
    .mdc-radio
    .mdc-radio__native-control:enabled:checked
    + .mdc-radio__background
    .mdc-radio__outer-circle {
    border-color: rgb(208 162 57 / 0.8) !important;
  }

  .mat-mdc-radio-button
    .mdc-radio
    .mdc-radio__native-control:enabled
    + .mdc-radio__background
    .mdc-radio__inner-circle {
    color: rgb(208 162 57 / 0.8) !important;
    background-color: rgb(208 162 57 / 0.8) !important;
  }

  .mat-mdc-radio-button
    .mdc-radio
    .mdc-radio__native-control:enabled
    + .mdc-radio__background
    .mdc-radio__inner-circle {
    border-color: rgb(208 162 57 / 0.8) !important;
  }

  .mat-mdc-radio-button.mat-mdc-radio-checked .mat-ripple-element {
    background-color: rgb(208 162 57 / 0.8) !important;
  }
}

.meetings-calendar {
  .mat-calendar-controls {
    margin: 0 0 1rem;
  }
  .mat-calendar-body-cell-content {
    border-radius: 0 !important;
    border-color: #e5e7eb !important;
  }
  .mat-calendar-body-today {
    border-width: 2px !important;
    border-color: theme("colors.primary-light") !important;
  }
  .mat-calendar-body-cell.selected {
    .mat-calendar-body-cell-content {
      background-color: theme("colors.primary") !important;
      color: theme("colors.white") !important;
    }
  }
}
.mat-toolbar.timepicker-header {
  direction: ltr;
}
mat-tab-group.cases-tab-group .mat-mdc-tab-header {
  display: none !important;
}
.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  color: #131c2b !important;
  background-color: #dae2f9 !important;
}
