<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_legal_rule }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <ng-container [formGroup]="form">
      <div class="grid grid-cols-2 gap-4">
        <app-input
          formControlName="arName"
          [label]="lang.map.ar_name"></app-input>
        <app-input
          formControlName="enName"
          [label]="lang.map.en_name"></app-input>
        <app-input formControlName="law" [label]="lang.map.law"></app-input>
        <app-input
          formControlName="lawStartDate"
          [label]="lang.map.law_start_date"
          type="date"></app-input>
        <app-input
          formControlName="articleNumber"
          [label]="lang.map.article_number"
          type="number"></app-input>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <app-textarea
          formControlName="legalTextArabic"
          [label]="lang.map.legal_text_ar"></app-textarea>
        <app-textarea
          formControlName="legalTextEnglish"
          [label]="lang.map.legal_text_en"></app-textarea>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-row pl-1 items-center justify-start">
          <app-switch
            [trueValue]="1"
            [falseValue]="0"
            formControlName="status"
            [label]="lang.map.status"></app-switch>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="dialog-footer justify-end">
    @if (!inViewMode()) {
      <app-button (click)="save$.next()" buttonType="primary">{{
        lang.map.save
      }}</app-button>
    }
    @if (!inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary-outline">{{
        lang.map.close
      }}</app-button>
    }
    @if (inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary">{{
        lang.map.close
      }}</app-button>
    }
  </div>
</div>
