<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_penalty_details }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <ng-container [formGroup]="form">
      <div class="grid grid-cols-2 gap-4 items-center">
        <app-select-input
          [label]="lang.map.legal_rule"
          formControlName="legalRule"
          [options]="legalRules"
          bindLabel="getNames"
          bindValue="id" />
        <app-select-input
          [label]="lang.map.penalty_signer"
          formControlName="penaltySigner"
          [options]="penaltySigners"
          bindLabel="getNames"
          bindValue="lookupKey" />
        <app-select-input
          [label]="lang.map.offender_level"
          formControlName="offenderLevel"
          [options]="offenderLevels"
          bindLabel="getNames"
          bindValue="lookupKey" />
      </div>
    </ng-container>
  </div>
  <div class="dialog-footer justify-end">
    <app-button *ngIf="!inViewMode()" (click)="handelSave()" buttonType="primary">{{ lang.map.save }}</app-button>
    <app-button *ngIf="!inViewMode()" mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
    <app-button *ngIf="inViewMode()" mat-dialog-close="" buttonType="primary">{{ lang.map.close }}</app-button>
  </div>
</div>
