<div class="dialog-container fullscreen">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.investigation_file_details }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content gap-4 w-[1000px]">
    <div class="grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
      <div class="mb-3">
        <span class="font-medium text-white">{{
          lang.map.report_draft_number
        }}</span>
        <label class="input-form p-2 block">
          {{ model.draftFullSerial ? model.draftFullSerial : '---' }}
        </label>
      </div>
    </div>

    caseStatusInfo dateCreated draftFullSerial investigationFullSerial
    offenderViolationInfo
    offenderViolationInfo.violationInfo.offenderViolationInfo
    offenderViolationInfo.violationInfo.violationTypeInfo
    offenderViolationInfo.violationInfo.violationsDate
    offenderViolationInfo.violationInfo.violationsDateFrom
    offenderViolationInfo.violationInfo.violationsDateTo
    offenderViolationInfo.proofStatusInfo
  </div>
  <div class="dialog-footer justify-end">
    <app-button matDialogClose="">{{ lang.map.close }}</app-button>
  </div>
</div>
