<div class="dialog-container fullscreen">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.investigation_file_details }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content gap-4">
    <div class="grid gap-4 grid-cols-1 md:grid-cols-3">
      <div class="mb-3">
        <span class="font-medium">{{ lang.map.file_number }}</span>
        <label class="input-form p-2 block">
          {{
            model.investigationFullSerial
              ? model.investigationFullSerial
              : model.draftFullSerial
          }}
        </label>
      </div>
      <div class="mb-3">
        <span class="font-medium">{{ lang.map.status }}</span>
        <label class="input-form p-2 block">
          {{ model.caseStatusInfo && model.caseStatusInfo.getNames() }}
        </label>
      </div>
      <div class="mb-3">
        <span class="font-medium">{{ lang.map.creation_date }}</span>
        <label class="input-form p-2 block">
          {{ model.dateCreated | date: Config.DATE_FORMAT }}
        </label>
      </div>
    </div>
    <div class="mb-3">
      <app-offender-violations
        [violations]="offenderViolationInfo"></app-offender-violations>
    </div>
  </div>
  <div class="dialog-footer justify-end">
    <app-button matDialogClose="" buttonType="primary-outline">{{
      lang.map.close
    }}</app-button>
  </div>
</div>
