<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.search_for_offender }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content w-[700px]">
    <ng-container *ngIf="isEmployee && employeeFormGroup">
      <div [formGroup]="employeeFormGroup" class="grid grid-cols-3 gap-4">
        <app-select-input
          [formControl]="control"
          [label]="lang.map.offender_type"
          bindLabel="getNames"
          bindValue="lookupKey"
          [options]="offenderTypes" />
        <app-select-input
          formControlName="employeeDepartmentId"
          [label]="lang.map.administration"
          bindValue="id"
          bindLabel="getNames"
          [options]="administrations" />
        <app-input [disabled]="true" [label]="lang.map.employee_number" />
        <app-input formControlName="arName" [label]="lang.map.ar_name" />
        <app-input formControlName="enName" [label]="lang.map.en_name" />
        <app-input formControlName="qid" [label]="lang.map.qid" />
        <app-input [disabled]="true" [label]="lang.map.job_title" />
      </div>
    </ng-container>
    <ng-container *ngIf="isBroker">
      <div class="grid grid-cols-3 gap-4">
        <app-select-input
          [formControl]="control"
          [label]="lang.map.offender_type"
          bindLabel="getNames"
          bindValue="lookupKey"
          [options]="offenderTypes" />
        <app-input [label]="lang.map.broker_code" />
        <app-input [label]="lang.map.broker_name" />
        <app-input [label]="lang.map.broker_company_name" />
        <app-input [label]="lang.map.broker_company_number" />
        <app-input [label]="lang.map.broker_company_cr_number" />
        <app-input [label]="lang.map.broker_company_er_number" />
      </div>
    </ng-container>
  </div>
  <div class="dialog-footer justify-end">
    <app-button mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
    <app-button (click)="search$.next()" buttonType="primary">{{ lang.map.search }}</app-button>
  </div>
</div>
