<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>
      {{ lang.map.terminate }}
      @if (isSingle) {
        : {{ offenders[0].getNames() }}
      }
    </h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <div class="flex flex-col space-y-4">
      <h4 class="text-primary font-semibold">{{ lang.map.offenders }}</h4>
      @if (!isSingle) {
        <table
          mat-table
          class="table-style table-primary"
          [dataSource]="offenders">
          <!-- offender -->
          <ng-container matColumnDef="offender">
            <th mat-header-cell *matHeaderCellDef>
              {{ lang.map.offender_name }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ assertType(element).getNames() }}
            </td>
          </ng-container>
          <!-- type -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>{{ lang.map.type }}</th>
            <td mat-cell *matCellDef="let element">
              {{ assertType(element).typeInfo.getNames() }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="p-4" colspan="100">
              {{ lang.map.no_records_to_display }}
            </td>
          </tr>
        </table>
      }
      <app-textarea [label]="lang.map.comment" [formControl]="control" />
    </div>
  </div>
  <div class="dialog-footer justify-end">
    <app-button (click)="save$.next()" buttonType="primary">
      {{ lang.map.save }}
    </app-button>

    <app-button mat-dialog-close="" buttonType="primary-outline">
      {{ lang.map.close }}
    </app-button>
  </div>
</div>
