<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.add_violation }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div [formGroup]="form" class="dialog-content w-[700px]">
    <div class="grid gap-4 grid-cols-2">
      <app-select-input
        [label]="lang.map.classification"
        bindLabel="getNames"
        formControlName="violationClassificationId"
        bindValue="id"
        [options]="classifications" />
      <app-select-input
        [label]="lang.map.violation_type"
        bindLabel="getNames"
        bindValue="id"
        formControlName="violationTypeId"
        [options]="types()" />
      <app-textarea
        formControlName="description"
        [label]="lang.map.description"
        class="col-span-2" />
      @if (!isAbsenceType() || onlyOneDay()) {
        <app-input
          formControlName="violationsDate"
          [label]="lang.map.violation_date">
          <input
            appControl
            formControlName="violationsDate"
            [max]="todayDate"
            (click)="datepicker.open()"
            [matDatepicker]="datepicker" />
          <mat-datepicker [touchUi]="true" #datepicker />
        </app-input>
      }
      @if (isAbsenceType() && !onlyOneDay()) {
        <div class="mb-3">
          <label class="font-medium"
            >{{ lang.map.violation_date }}
            <span class="text-amber-700">*</span>
          </label>
          <div
            (click)="rangePicker.open()"
            class="flex read-only input-form p-2">
            <mat-date-range-input
              [max]="maxEndDate"
              [min]="minEndDate"
              [rangePicker]="rangePicker">
              <input
                [placeholder]="lang.map.date_from"
                matStartDate
                (dateChange)="onSelectionChange()"
                formControlName="violationsDateFrom" />
              <input
                [placeholder]="lang.map.date_to"
                matEndDate
                (dateChange)="onSelectionChange()"
                formControlName="violationsDateTo" />
            </mat-date-range-input>
          </div>
          <mat-date-range-picker hidden #rangePicker></mat-date-range-picker>
        </div>
      }
      @if (isCriminal()) {
        <app-input
          [label]="lang.map.report_number"
          formControlName="reportNumber" />
        <app-select-input
          formControlName="reportYear"
          [label]="lang.map.report_year"
          [options]="years" />
        <app-select-input
          formControlName="securityAdminDecision"
          [label]="lang.map.security_management"
          bindLabel="getNames"
          bindValue="lookupKey"
          [options]="securityManagement" />
      }
      @if (isCustoms()) {
        <app-input
          [label]="lang.map.customs_declaration_number"
          formControlName="customsDeclarationNumber"
          (keydown.enter)="showDeclarationNumberDetails()">
          @if (controls.customsDeclarationNumber()?.value) {
            <app-icon-button
              class="absolute rtl:left-0 ltr:right-0"
              appInputSuffix
              [matTooltip]="lang.map.preview_related_documents"
              [icon]="'MORE_DETAILS'"
              (click)="showDeclarationNumberDetails()"></app-icon-button>
          }
        </app-input>
        <app-input
          [label]="lang.map.control_report_number"
          formControlName="controlReportNumber"
          (keydown.enter)="showReportNumberDetails()">
          @if (controls.controlReportNumber()?.value) {
            <app-icon-button
              class="absolute rtl:left-0 ltr:right-0"
              appInputSuffix
              [matTooltip]="lang.map.preview_related_documents"
              [icon]="'MORE_DETAILS'"
              (click)="showReportNumberDetails()"></app-icon-button>
          }
        </app-input>
      }
    </div>
  </div>
  <div class="dialog-footer justify-end">
    @if (inCreateMode()) {
      <app-button (click)="save$.next()" buttonType="primary"
        >{{ lang.map.add }}
      </app-button>
    }
    @if (inEditMode()) {
      <app-button (click)="save$.next()" buttonType="primary"
        >{{ lang.map.save }}
      </app-button>
    }
    <app-button mat-dialog-close="" buttonType="primary-outline"
      >{{ lang.map.close }}
    </app-button>
  </div>
</div>
