<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.offender_violations }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content w-[900px] !p-0">
    <div class="p-4 overflow-auto" style="height: 100%">
      <mat-form-field class="example-form-field">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-date-range-picker #rangePicker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
  <div class="dialog-footer justify-end">
    <app-button mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
  </div>
</div>