<div class="flex justify-center gap-2">
  <div>
    <app-icon-button
      [disabled]="!canMakeNormalDecision(offender().id)"
      [matTooltip]="lang.map.make_penalty_decision"
      (click)="openDecisionDialog(offender())"
      icon="GAVEL" />
  </div>
  <app-icon-button
    [disabled]="!canMakeSystemDecision(offender().id)"
    [matMenuTriggerFor]="menu"
    icon="DOTS_VERTICAL"
    [matTooltip]="lang.map.take_action">
  </app-icon-button>
  <mat-menu class="!max-w-[unset]" #menu="matMenu">
    @for (penalty of getSystemPenalties(offender().id); track penalty.id) {
      <button (click)="systemAction$.next(penalty.penaltyKey)" mat-menu-item>
        <div class="flex gap-2">
          <mat-icon
            class="flex-shrink-0"
            [svgIcon]="getPenaltyIcon(penalty.penaltyKey)"></mat-icon>
          <span class="flex-shrink-0">{{ penalty.getNames() }}</span>
          @if (penalty.penaltyGuidance) {
            <div
              class="flex-shrink-0 bg-emerald-400 rounded px-4 text-sm text-white">
              {{ penalty.penaltyGuidanceInfo.getNames() }}
            </div>
          }
        </div>
      </button>
    }
  </mat-menu>
</div>
