<div [ngClass]="containerClasses" class="group relative">
  <label [ngClass]="labelClasses">
    {{ label }}
    @if (isRequired) {
      <span class="text-amber-700">*</span>
    }
  </label>

  <div
    [ngClass]="size"
    class="group/input-wrapper input-form {{
      inputColor
    }} flex items-center justify-start flex-1 min-w-0">
    <ng-content select="[appInputPrefix]"></ng-content>
    <span
      [ngClass]="{ prefix: inputPrefix, suffix: inputSuffix }"
      class="peer absolute hidden pointer-events-none"></span>
    @if (!hasCustomControl) {
      <input
        [readonly]="disabled"
        [ngClass]="tailwindClass"
        autocomplete="off"
        [type]="type"
        (blur)="inputTouch()"
        [name]="name"
        [placeholder]="placeholder"
        [formControl]="control"
        class="w-full" />
    }

    <ng-content select="[appControl]"></ng-content>
    <ng-content select="[appInputSuffix]"></ng-content>
  </div>
  @if (displayErrors) {
    <app-validation-errors [errors]="errors | async"></app-validation-errors>
  }
</div>
