<div class="flex items-center">
  <app-icon-button
    [matTooltip]="lang.map.filter"
    (click)="toggle()"
    [icon]="isOpened ? 'FILTER' : 'FILTER_OUTLINE'"></app-icon-button>

  <form [@shrink]="!isOpened" class="flex items-center gap-2" [formGroup]="filterForm">
    <app-input
      formControlName="arName"
      [noMargin]="true"
      label=""
      [displayErrors]="false"
      [placeholder]="lang.map.ar_name">
    </app-input>
    <app-input
      formControlName="enName"
      [noMargin]="true"
      label=""
      [displayErrors]="false"
      [placeholder]="lang.map.en_name">
    </app-input>
  </form>
</div>
