<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.offender_attachments }}</h1>
    <app-icon-button
      tabindex="-1"
      [mat-dialog-close]="attachmentsCaseComponent.dataSource.data.length"
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content w-[900px]">
    <app-case-attachments
      [service]="model().getService()"
      #attachmentsCaseComponent
      [entityId]="offenderId"
      [readonly]="readonly"
      [type]="'offender'"
      [title]="lang.map.attachments"
      class="col-span-1 md:col-span-2 lg:col-span-4" />
  </div>
  <div class="dialog-footer justify-end">
    <app-button
      [mat-dialog-close]="attachmentsCaseComponent.dataSource.data.length"
      buttonType="primary-outline"
      >{{ lang.map.close }}</app-button
    >
  </div>
</div>
