<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_job_title }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <ng-container [formGroup]="form">
      <div class="grid grid-cols-2 gap-4">
        <app-input formControlName="arName" [label]="lang.map.ar_name"></app-input>
        <app-input formControlName="enName" [label]="lang.map.en_name"></app-input>

        <app-select-input formControlName="jobType" [options]="jobTypes" [label]="lang.map.job_type">
          <mat-option *appOptionTemplate="let option" [value]="option.lookupKey">{{ option.getNames() }}</mat-option>
        </app-select-input>

        <div class="flex flex-row pl-1 items-center justify-start space-x-6 rtl:space-x-reverse">
          <!-- <mat-label> {{lang.map.status}}</mat-label> -->
          <span class="text-slate-700 block font-medium">{{ lang.map.status }}</span>
          <mat-slide-toggle
            formControlName="status"
            [name]="lang.map.status"
            (change)="_ListenToStatusChange($event)"
            [checked]="model.isActive()">
            {{ getJobTitleStatus(currStatus) }}
          </mat-slide-toggle>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="dialog-footer justify-end">
    <app-button *ngIf="!inViewMode()" (click)="save$.next()" buttonType="primary">{{ lang.map.save }}</app-button>
    <app-button *ngIf="!inViewMode()" mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
    <app-button *ngIf="inViewMode()" mat-dialog-close="" buttonType="primary">{{ lang.map.close }}</app-button>
  </div>
</div>
