<div *ngIf="debugMode" class="fixed bottom-1/2 left-1/2 -translate-x-1/2">
  <div class="sm:hidden bg-black w-30 h-30 p-5 rounded-3xl text-white">
    <p>css : xs</p>
    <p>js : xs</p>
  </div>
  <div class="hidden sm:block md:hidden bg-red-500 w-30 h-30 p-5 rounded-3xl">
    <p>css : sm</p>
    <p>js : sm</p>
  </div>
  <div class="hidden md:block lg:hidden bg-yellow-500 w-30 h-30 p-5 rounded-3xl">
    <p>css : md</p>
    <p>js : md</p>
  </div>
  <div class="hidden lg:block xl:hidden bg-blue-500 w-30 h-30 p-5 rounded-3xl">
    <p>css : lg</p>
    <p>js : lg</p>
  </div>
  <div class="hidden xl:block 2xl:hidden bg-fuchsia-500 w-30 h-30 p-5 rounded-3xl">
    <p>css : xl</p>
    <p>js : xl</p>
  </div>
  <div class="hidden 2xl:block bg-white w-30 h-30 p-5 rounded-3xl">
    <p>css : 2xl</p>
    <p>js : xxl</p>
  </div>
</div>
