<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_manager_delegation }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <ng-container [formGroup]="form">
      <div class="grid grid-cols-2 gap-4">
        <app-select-input
          formControlName="delegatedId"
          [options]="internalUsers"
          [label]="lang.map.delegated"
          bindValue="id"
          bindLabel="getNames" />
        <app-select-input
          formControlName="departmentId"
          [options]="departments"
          [label]="lang.map.department"
          bindValue="id"
          bindLabel="getNames" />

        <app-input formControlName="startDate" [label]="lang.map.start_date">
          <input
            appControl
            formControlName="startDate"
            (click)="startDatepicker.open()"
            [matDatepicker]="startDatepicker"
            [min]="today" />
          <mat-datepicker [touchUi]="true" #startDatepicker />
        </app-input>
        <app-input formControlName="endDate" [label]="lang.map.end_date">
          <input
            appControl
            formControlName="endDate"
            (click)="endDatepicker.open()"
            [matDatepicker]="endDatepicker"
            [min]="endDateMinDate()"
            [max]="endDateMaxDate()" />
          <mat-datepicker [touchUi]="true" #endDatepicker />
        </app-input>
        <app-select-input
          class="col-span-2"
          formControlName="delegatedPenaltiesList"
          [options]="penalties"
          [label]="lang.map.delegated_penalties"
          bindValue="id"
          [isMultiple]="true"
          bindLabel="getNames" />
      </div>
    </ng-container>
  </div>
  <div class="dialog-footer justify-end">
    @if (inCreateMode()) {
      <app-button (click)="save$.next()" buttonType="primary">
        {{ lang.map.delegate }}
      </app-button>
    }
    @if (inEditMode()) {
      <app-button (click)="save$.next()" buttonType="primary">
        {{ lang.map.edit_delegate }}
      </app-button>
    }
    @if (inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary"
        >{{ lang.map.close }}
      </app-button>
    }
    @if (!inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary-outline"
        >{{ lang.map.close }}
      </app-button>
    }
  </div>
</div>
