<div class="p-4">
  <app-persons-list
    type="offender"
    [model]="model()"
    [isOpenedFromSearch]="isOpenedFromSearch()" />
</div>
@if (canViewWitness()) {
  <div class="p-4">
    <app-persons-list
      type="witness"
      [model]="model()"
      [isOpenedFromSearch]="isOpenedFromSearch()" />
  </div>
}
<div class="p-4">
  <!-- the new component goes here  -->
  <app-memorandum-opinion-list
    [isManager]="false"
    #master
    [updateModel]="updateModel"
    [model]="model()" />
  <!-- the new component goes here  -->

  <app-memorandum-opinion-list
    [masterComponent]="master"
    [isManager]="true"
    [updateModel]="updateModel"
    [model]="model()" />
</div>
