<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.situation_search }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-start w-1/3">
        <p class="text-gray-700 text-xs">
          تاريخ الاستخراج :
          {{ today | date: config.DATE_FORMAT }}
        </p>
      </div>
      <div class="text-center w-1/3">
        <h1 class="text-xl font-semibold text-gray-900">بحث حالة</h1>
      </div>
      <div class="w-1/3"></div>
    </div>
    <div class="border-t border-black mt-4"></div>

    <div class="container mx-auto mt-4">
      <ul class="pl-6">
        @if (employee) {
          <li>
            @if (employee.arName) {
              {{ 'الاسم: ' + employee.arName }}
            }
            @if (employee.qid) {
              {{ '/' + 'الرقم الشخصي: ' + employee.qid }}
            }
            @if (employee.employeeNo) {
              {{ '/' + 'الرقم الوظيفي: ' + employee.employeeNo }}
            }
          </li>
          @if (employee.phoneNumber) {
            <li>{{ 'هاتف: ' + employee.phoneNumber }}</li>
          }
          @if (employee.email) {
            <li>{{ 'البريد الالكتروني: ' + employee.email }}</li>
          }
          @if (employee.address) {
            <li>{{ 'العنوان الوطني: ' + employee.address }}</li>
          }
          @if (employee.employeeCareerLevelInfo) {
            <li>
              {{
                'الدرجة الوظيفية: ' +
                  employee.employeeCareerLevelInfo.getNames()
              }}
            </li>
          }
          @if (employee.appointmentStartDate) {
            <li>
              {{ 'تاريخ التعيين: ' + offender.getNames() }}
            </li>
          }
          <li>
            @if (employee.appointmentEndDate) {
              {{ 'تاريخ انتهاء الخدمة: ' + offender.getNames() }}
            }
            @if (employee.terminationServiceReason) {
              {{ '/' + 'سبب انتهاء الخدمة: ' + offender.getNames() }}
            }
          </li>
          @if (employee.employeeDepartmentInfo) {
            <li>
              {{
                'الادارة/القسم التي تعمل بها اخر ثلاث سنوات: ' +
                  employee.employeeDepartmentInfo.getNames()
              }}
            </li>
          }
        }
        @if (clearingAgent) {
          <li>
            {{ 'الاسم: ' + clearingAgent.arName }}
            @if (clearingAgent.qid) {
              {{ '/' + 'الرقم الشخصي: ' + clearingAgent.qid }}
            }
          </li>
          @if (clearingAgent.address) {
            <li>
              {{ 'العنوان: ' + clearingAgent.address }}
            </li>
          }
          @if (clearingAgent.typeInfo) {
            <li>
              {{ 'النوع: ' + clearingAgent.typeInfo.getNames() }}
            </li>
          }
          @if (clearingAgent.agencyArabicCompanyName) {
            <li>
              {{ 'اسم الشركة: ' + clearingAgent.agencyArabicCompanyName }}
            </li>
          }
          @if (clearingAgent.agentCustomCode) {
            <li>
              {{ 'الرمز: ' + clearingAgent.agentCustomCode }}
            </li>
          }
          @if (clearingAgent.phoneNumber) {
            <li>
              {{ 'رقم الهاتف: ' + clearingAgent.phoneNumber }}
            </li>
          }
          @if (clearingAgent.email) {
            <li>
              {{ 'البريد الإلكتروني: ' + clearingAgent.email }}
            </li>
          }
        }
        @if (clearingAgency) {
          <li>
            {{ 'الاسم: ' + clearingAgency.arName }}
          </li>
          @if (clearingAgency.address) {
            <li>
              {{ 'العنوان: ' + clearingAgency.address }}
            </li>
          }
          @if (clearingAgency.accountAdminFullName) {
            <li>
              {{ 'حساب المدير: ' + clearingAgency.accountAdminFullName }}
            </li>
          }
          @if (clearingAgency.customCode) {
            <li>
              {{ 'الرمز: ' + clearingAgency.customCode }}
            </li>
          }
          @if (clearingAgency.telNo) {
            <li>
              {{ 'رقم الهاتف: ' + clearingAgency.telNo }}
            </li>
          }
          @if (clearingAgency.email) {
            <li>
              {{ 'البريد الإلكتروني: ' + clearingAgency.email }}
            </li>
          }
        }
      </ul>
    </div>
    <div class="border-t border-black my-4 w-full"></div>

    @if (situations && situations.length) {
      <div class="container mx-auto flex justify-between items-center">
        <div class="text-center w-full">
          <h1 class="text-xl font-semibold text-gray-900">
            المخالفات الإدارية
          </h1>
        </div>
        <div class="text-center">
          <div>
            <app-select-input
              class="min-w-42"
              [label]="lang.map.status"
              bindLabel="getNames"
              [formControl]="statusFilter"
              bindValue="lookupKey"
              [options]="penaltyStatus" />
          </div>

          <div [formGroup]="dateRangeFormGroup">
            <div class="mb-3">
              <label class="font-medium">{{ lang.map.violation_date }} </label>
              <div
                (click)="rangePicker.open()"
                class="flex read-only input-form p-2">
                <mat-date-range-input [rangePicker]="rangePicker">
                  <input
                    [placeholder]="lang.map.date_from"
                    matStartDate
                    formControlName="start" />
                  <input
                    [placeholder]="lang.map.date_to"
                    matEndDate
                    formControlName="end" />
                </mat-date-range-input>
              </div>
              <mat-date-range-picker
                hidden
                #rangePicker></mat-date-range-picker>
            </div>
          </div>
        </div>
      </div>
      <div class="border-t mt-4"></div>
      @if (mapSituations.size > 0) {
        @for (caseEntry of mapSituations | keyvalue; track caseEntry) {
          <div>
            <section class="container mx-auto mt-4 space-y-4">
              <div class="flex justify-between">
                <div class="w-1/4 text-center bg-white p-4">
                  {{
                    'الحالة : ' +
                      getFirstSituation(
                        caseEntry.value
                      ).offenderInfo.penaltyStatusInfo.getNames() || ' '
                  }}
                </div>
                @if (
                  getFirstSituation(caseEntry.value).offenderInfo.decisionSerial
                ) {
                  <div class="w-1/4 text-center bg-white p-4">
                    {{
                      'رقم القرار: ' +
                        getFirstSituation(caseEntry.value).offenderInfo
                          .decisionSerial || ' '
                    }}
                  </div>
                }
                @if (
                  getFirstSituation(caseEntry.value).offenderInfo
                    .penaltyAppliedDate
                ) {
                  <div class="w-1/4 text-center bg-white p-4">
                    {{
                      'تاريخ القرار: ' +
                        getDecisionDateString(
                          getFirstSituation(caseEntry.value)
                        ) || ' '
                    }}
                  </div>
                }
              </div>
              @for (
                violationEntry of caseEntry.value | keyvalue;
                track violationEntry
              ) {
                <div class="flex justify-between">
                  <div class="w-1/3 bg-white p-4">
                    <h2 class="text-lg font-semibold">
                      {{
                        violationEntry.value[0].violationInfo.classificationInfo.getNames() +
                          ':'
                      }}
                    </h2>
                  </div>
                  <div class="w-2/3 bg-white p-4">
                    <ul class="list-disc pl-6">
                      @for (
                        situationEntry of violationEntry.value;
                        track situationEntry
                      ) {
                        <li>
                          {{
                            situationEntry.violationInfo.violationTypeInfo.getNames()
                          }}
                          //
                          {{
                            'تاريخ المخالفة: ' +
                              getViolationDateString(situationEntry)
                          }}
                          //
                          {{ situationEntry.proofStatusInfo.getNames() }}
                          //
                        </li>
                      }
                    </ul>
                  </div>
                </div>
              }

              @if (
                getFirstSituation(caseEntry.value).offenderInfo.penaltyInfo
                  .arName
              ) {
                <div class="bg-white p-4">
                  <p>
                    القرار:{{
                      getFirstSituation(caseEntry.value).offenderInfo
                        .penaltyInfo.arName || ' '
                    }}
                  </p>
                </div>
              }
              <div class="bg-white flex justify-between">
                <button
                  class="text-blue-700 hover:underline focus:outline-none w-1/4 text-center bg-white p-4"
                  (click)="view(caseEntry.key)">
                  {{ 'عرض ملف التحقيق' }}
                </button>

                @if (getFirstSituation(caseEntry.value)!.offenderInfo.vsid) {
                  <button
                    class="text-blue-700 hover:underline focus:outline-none w-1/4 text-center bg-white p-4"
                    (click)="
                      viewDecisionFile$.next(
                        getFirstSituation(caseEntry.value)!.offenderInfo.vsid
                      )
                    ">
                    {{ 'عرض القرار' }}
                  </button>
                }
              </div>
            </section>

            <div class="border-t border-black mt-4"></div>
          </div>
        }
      }
    } @else {
      <div class="container mx-auto flex justify-between items-center">
        <div class="text-center w-full">
          <h1 class="text-xl font-semibold text-gray-900">
            {{ lang.map.no_records_to_display }}
          </h1>
        </div>
      </div>
    }
  </div>
</div>
