<div
  class="flex bg-gradient-to-br mb-5 from-primary to-primary-light px-3 text-white rounded-lg items-center justify-start py-2">
  <h1 class="text-xl min-h-[3rem] align-middle flex items-center">
    {{ lang.map.menu_investigation_search }}
  </h1>
</div>
<div class="relative">
  <mat-card>
    <mat-tab-group
      [(selectedIndex)]="selectedTab"
      [mat-stretch-tabs]="false"
      [dynamicHeight]="true">
      <mat-tab [label]="lang.map.search_for_investigation">
        <ng-container
          [ngTemplateOutlet]="search_for_investigation"></ng-container>
      </mat-tab>
      <mat-tab
        [label]="
          lang.map.search_result + ' (' + this.lang.map.menu_investigation + ')'
        ">
        <ng-container [ngTemplateOutlet]="search_result"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <ng-template #search_for_investigation>
    <div class="p-4 overflow-auto" style="height: 100%">
      <form [formGroup]="form">
        <div class="p-4 grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
          <div class="mb-3">
            <label class="font-medium">{{ lang.map.created_date }} </label>
            <div
              (click)="rangePicker.open()"
              class="flex read-only input-form p-2">
              <mat-date-range-input [max]="today" [rangePicker]="rangePicker">
                <input
                  [placeholder]="lang.map.date_from"
                  matStartDate
                  formControlName="createdFrom" />
                <input
                  [placeholder]="lang.map.date_to"
                  matEndDate
                  formControlName="createdTo" />
              </mat-date-range-input>
            </div>
            <mat-date-range-picker hidden #rangePicker></mat-date-range-picker>
          </div>
          <app-input
            formControlName="draftNumber"
            [label]="lang.map.report_draft_number" />

          <app-select-input
            formControlName="securityLevel"
            [label]="lang.map.level_of_secrecy"
            bindValue="lookupKey"
            bindLabel="getNames"
            [options]="securityLevels" />

          <app-input
            formControlName="decisionNumber"
            [label]="lang.map.decision_number" />

          <app-select-input
            formControlName="departmentId"
            [label]="lang.map.department"
            bindValue="id"
            bindLabel="getNames"
            [options]="departments" />

          <app-select-input
            formControlName="offenderType"
            [label]="lang.map.offender_type"
            bindValue="lookupKey"
            bindLabel="getNames"
            [options]="offenderTypes" />

          <app-select-input
            formControlName="caseStatus"
            [label]="lang.map.status"
            bindValue="lookupKey"
            bindLabel="getNames"
            [options]="caseStatus" />

          <app-select-input
            formControlName="violationTypeId"
            [label]="lang.map.violation_type"
            bindValue="lookupKey"
            bindLabel="getNames"
            [options]="caseStatus"
            [enableFilter]="true" />

          <app-select-input
            formControlName="penaltyId"
            [label]="lang.map.penalty"
            bindValue="id"
            bindLabel="getNames"
            [options]="penalties"
            [enableFilter]="true" />

          <app-select-input
            formControlName="mawaredEmployeeId"
            [label]="lang.map.mawared_empl_id"
            bindValue="id"
            bindLabel="getNames"
            [options]="mawaredEmployees"
            [enableFilter]="true" />

          <app-select-input
            formControlName="clearingAgentId"
            [label]="lang.map.clearing_agent_id"
            bindValue="id"
            bindLabel="getNames"
            [options]="clearingAgents"
            [enableFilter]="true" />

          <app-textarea
            formControlName="description"
            class="col-span-1 md:col-span-2 lg:col-span-4"
            [label]="lang.map.general_explanation_of_violations" />
        </div>
        <div
          class="border-t pt-4 space-x-4 rtl:space-x-reverse flex justify-end">
          <app-button (click)="search$.next()" buttonType="primary">
            {{ lang.map.search }}
          </app-button>
          <app-button (click)="resetForm()" buttonType="primary"
            >{{ lang.map.reset }}
          </app-button>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template #search_result>
    <div class="p-4 overflow-auto" style="height: 100%">
      <div class="shadow relative" style="max-height: 62vh">
        <table
          mat-table
          matSort
          class="table-style"
          [dataSource]="displayedList">
          <!-- draft full serial -->
          <ng-container matColumnDef="draftFullSerial">
            <th mat-header-cell *matHeaderCellDef>
              {{ lang.map.report_draft_number }}
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                class="text-blue-700 hover:underline focus:outline-none"
                (click)="view(element)">
                {{ element.draftFullSerial }}
              </button>
            </td>
          </ng-container>
          <!-- investigation full serial -->
          <ng-container matColumnDef="investigationFullSerial">
            <th mat-header-cell *matHeaderCellDef>
              {{ lang.map.investigation_file_number }}
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                class="text-blue-700 hover:underline focus:outline-none"
                (click)="view(element)">
                {{ element.investigationFullSerial }}
              </button>
            </td>
          </ng-container>
          <!-- case status -->
          <ng-container matColumnDef="caseStatus">
            <th mat-header-cell *matHeaderCellDef>{{ lang.map.status }}</th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element.caseStatusInfo?.getNames() || '' }}</span>
            </td>
          </ng-container>
          <!-- security Level -->
          <ng-container matColumnDef="securityLevel">
            <th mat-header-cell *matHeaderCellDef>
              {{ lang.map.level_of_secrecy }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element.securityLevelInfo?.getNames() }}</span>
            </td>
          </ng-container>

          <!-- department -->
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef>
              {{ lang.map.lbl_department }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element.departmentInfo?.getNames() || '' }}</span>
            </td>
          </ng-container>

          <!-- actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>{{ lang.map.actions }}</th>
            <td mat-cell *matCellDef="let element">
              <div class="flex">
                <app-icon-button
                  [matTooltip]="lang.map.view"
                  (click)="view(element)"
                  icon="VIEW"></app-icon-button>
                <app-icon-button
                  [matTooltip]="lang.map.actions"
                  (click)="showActionsOnCase(element)"
                  icon="VIEW_LIST_OUTLINE"></app-icon-button>
              </div>
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="columnsWrapper.displayedColumns"></tr>
          <tr
            mat-row
            (contextmenu)="contextMenu.open($event, element)"
            *matRowDef="
              let element;
              columns: columnsWrapper.displayedColumns
            "></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="p-4" colspan="100">
              {{ lang.map.no_records_to_display }}
            </td>
          </tr>
        </table>
        <app-context-menu #contextMenu [actions]="actions"></app-context-menu>
        <mat-paginator
          class="border-t border-gray-200"
          (page)="paginate($event)"
          [pageSizeOptions]="[50, 100, 150, 200]"
          [pageSize]="limit"
          [showFirstLastButtons]="true"
          [length]="length">
        </mat-paginator>
      </div>
    </div>
  </ng-template>
</div>
