<div
  class="flex bg-gradient-to-br mb-5 from-primary to-primary-light px-3 text-white rounded-lg items-center justify-start py-2">
  <h1 class="text-xl min-h-[3rem] align-middle flex items-center">
    {{ lang.map.menu_investigation_search }}
  </h1>
</div>
<div class="relative">
  <mat-card>
    <mat-tab-group
      [(selectedIndex)]="selectedTab"
      [mat-stretch-tabs]="false"
      [dynamicHeight]="true">
      <mat-tab [label]="lang.map.search_for_investigation">
        <ng-container
          [ngTemplateOutlet]="search_for_investigation"></ng-container>
      </mat-tab>
      <mat-tab
        [label]="
          lang.map.search_result + ' (' + this.lang.map.menu_investigation + ')'
        ">
        <ng-container [ngTemplateOutlet]="search_result"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <ng-template #search_for_investigation>
    <div class="p-4 overflow-auto" style="max-height: calc(100% - 60px)">
      <form [formGroup]="form">
        <div class="p-4 grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
          <h4
            class="text-primary font-semibold col-span-1 md:col-span-2 lg:col-span-4">
            {{ lang.map.basic_info_selectors }}
          </h4>
          <app-input
            formControlName="investigationFileNumber"
            [label]="lang.map.investigation_file_number" />

          <div class="mb-3">
            <label class="font-medium">{{ lang.map.created_date }} </label>
            <div
              (click)="rangePicker.open()"
              class="flex read-only input-form p-2">
              <mat-date-range-input [max]="today" [rangePicker]="rangePicker">
                <input
                  [placeholder]="lang.map.date_from"
                  matStartDate
                  formControlName="createdFrom" />
                <input
                  [placeholder]="lang.map.date_to"
                  matEndDate
                  formControlName="createdTo" />
              </mat-date-range-input>
            </div>
            <mat-date-range-picker hidden #rangePicker></mat-date-range-picker>
          </div>

          <app-select-input
            formControlName="year"
            [label]="lang.map.report_year"
            [options]="years" />
          @if (form.getRawValue()?.offenderType !== OffenderTypeWithNone.ALL) {
            <app-select-input
              formControlName="departmentId"
              [label]="lang.map.creator_department"
              bindValue="id"
              bindLabel="getNames"
              [options]="getDepartments()" />
          }

          <app-select-input
            formControlName="generalStatus"
            [label]="lang.map.general_status"
            bindValue="lookupKey"
            bindLabel="getNames"
            [options]="statusList" />
          <app-select-input
            formControlName="executionStatus"
            [label]="lang.map.execution_status"
            bindValue="lookupKey"
            bindLabel="getNames"
            [options]="statusList" />
          <app-select-input
            formControlName="violationClassificationId"
            [label]="lang.map.violation_classification"
            bindValue="id"
            bindLabel="getNames"
            [options]="violationClassifications" />
          @if (isCustomsViolationClassification) {
            <app-input
              formControlName="customsDeclarationNumber"
              [label]="lang.map.customs_declaration_number" />
            <app-input
              formControlName="controlReportNumber"
              [label]="lang.map.control_report_number" />
          }
          @if (isCriminalViolationClassification) {
            <app-input
              formControlName="reportNumber"
              [label]="lang.map.criminal_report_number" />
          }
          <h4
            class="text-primary font-semibold col-span-1 md:col-span-2 lg:col-span-4">
            {{ lang.map.offender_selectors }}
          </h4>
          <app-select-input
            formControlName="offenderType"
            [label]="lang.map.offender_type"
            bindValue="lookupKey"
            bindLabel="getNames"
            (selectChange)="handleOffenderTypeChange()"
            [options]="offenderTypes" />
          <app-input formControlName="name" [label]="lang.map.offender_name" />
          <app-input
            formControlName="employeeNo"
            [label]="lang.map[getOffenderNumberLabel()]" />

          <app-input formControlName="qId" [label]="lang.map.qid" />

          @if (!isEmployee) {
            <app-input
              formControlName="eId"
              [label]="lang.map.establishment_id" />
          }
        </div>
      </form>
    </div>
    <div
      class="border-t pt-4 px-4 space-x-4 rtl:space-x-reverse flex justify-end">
      <app-button (click)="search$.next()" buttonType="primary">
        {{ lang.map.search }}
      </app-button>
      <app-button (click)="resetForm()" buttonType="primary"
        >{{ lang.map.reset }}
      </app-button>
    </div>
  </ng-template>
  <ng-template #search_result>
    <div class="p-4 overflow-auto" style="height: 100%">
      <div class="shadow relative" style="max-height: 62vh">
        <table
          mat-table
          matSort
          class="table-style"
          multiTemplateDataRows=""
          [dataSource]="displayedList">
          <!-- full serial -->
          <ng-container matColumnDef="fullSerial">
            <th mat-header-cell *matHeaderCellDef>
              {{ lang.map.report_number }}
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                class="text-blue-700 hover:underline focus:outline-none"
                (click)="view(element)">
                {{
                  element.investigationFullSerial
                    ? element.investigationFullSerial
                    : element.draftFullSerial
                }}
              </button>
            </td>
          </ng-container>
          <!-- General Status -->
          <ng-container matColumnDef="generalStatus">
            <th mat-header-cell *matHeaderCellDef>
              {{ lang.map.general_status }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element.generalStatusInfo?.getNames() || '' }}</span>
            </td>
          </ng-container>
          <!-- Execution Status -->
          <ng-container matColumnDef="executionStatus">
            <th mat-header-cell *matHeaderCellDef>
              {{ lang.map.execution_status }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element.executionStatusInfo?.getNames() || '' }}</span>
            </td>
          </ng-container>
          <!-- dateCreated -->
          <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef>
              {{ lang.map.created_date }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element.createdOn | date: Config.DATE_FORMAT }}</span>
            </td>
          </ng-container>

          <!-- violationClassifications -->
          <ng-container matColumnDef="violationClassifications">
            <th mat-header-cell *matHeaderCellDef>
              {{ lang.map.violation_classification }}
            </th>
            <td mat-cell *matCellDef="let element">
              @for (
                classification of offenderViolationInfo.get(element.caseId);
                track classification
              ) {
                <span
                  class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">
                  {{ classification.getNames() }}
                </span>
              }
            </td>
          </ng-container>
          <!-- actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>{{ lang.map.actions }}</th>
            <td mat-cell *matCellDef="let element">
              <div class="flex">
                <app-icon-button
                  [matTooltip]="lang.map.view"
                  (click)="view(element)"
                  icon="VIEW"></app-icon-button>
                <app-icon-button
                  [matTooltip]="lang.map.actions"
                  (click)="showActionsOnCase(element)"
                  icon="VIEW_LIST_OUTLINE"></app-icon-button>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td
              mat-cell
              *matCellDef="let element"
              class="p-0"
              [attr.colspan]="columnsWrapper.displayedColumns.length">
              <div
                [@detailExpand]="
                  selectedOffender === element ? 'expanded' : 'collapsed'
                "
                class="px-1 divide-y-2 divide-primary divide-dashed bg-gray-100">
                <table
                  mat-table
                  matSort
                  class="table-style"
                  [dataSource]="
                    filteredElements(element.offenderViolationInfo)
                  ">
                  <!-- offender Type -->
                  <ng-container matColumnDef="offenderType">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ lang.map.offender_type }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{
                        element.offenderInfo.typeInfo.getNames()
                      }}</span>
                    </td>
                  </ng-container>
                  <!-- offender Name -->
                  <ng-container matColumnDef="offenderName">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ lang.map.offender_name }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{
                        element.offenderInfo?.offenderInfo?.getNames()
                      }}</span>
                    </td>
                  </ng-container>

                  <!-- offender Number -->
                  <ng-container matColumnDef="offenderNumber">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ lang.map.employee_clearing_agent_number }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{
                        element.offenderInfo?.offenderInfo.type ===
                        OffenderTypesEnum.EMPLOYEE
                          ? element.offenderInfo?.offenderInfo.employeeNo
                          : element.offenderInfo?.offenderInfo.agentCustomCode
                      }}</span>
                    </td>
                  </ng-container>

                  <!-- department/agency -->
                  <ng-container matColumnDef="department/agency">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ lang.map.department_company }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{
                        element.offenderInfo?.offenderInfo.type ===
                        OffenderTypesEnum.EMPLOYEE
                          ? element.offenderInfo?.offenderInfo?.getEmployeeDepartmentInfoName()
                          : element.offenderInfo?.offenderInfo?.getCompanyName()
                      }}</span>
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="offenderDetailsDisplayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let element;
                      columns: offenderDetailsDisplayedColumns
                    "
                    class="element-row"></tr>
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="p-4" colspan="100">
                      {{ lang.map.no_records_to_display }}
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="columnsWrapper.displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: columnsWrapper.displayedColumns"
            (contextmenu)="contextMenu.open($event, element)"
            class="element-row"
            [class.example-expanded-row]="selectedOffender === element"
            (click)="rowClicked($event, element)"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="detail-row"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="p-4" colspan="100">
              {{ lang.map.no_records_to_display }}
            </td>
          </tr>
        </table>
        <app-context-menu #contextMenu [actions]="actions"></app-context-menu>
        <mat-paginator
          class="border-t border-gray-200"
          (page)="paginate($event)"
          [pageSizeOptions]="[50, 100, 150, 200]"
          [pageSize]="limit"
          [showFirstLastButtons]="true"
          [length]="length">
        </mat-paginator>
      </div>
    </div>
  </ng-template>
</div>
