<div
  class="flex bg-gradient-to-br from-primary to-primary-light text-white rounded-tr-lg rounded-tl-lg items-center justify-between py-2">
  <h1 class="text-xl min-h-[3rem] align-middle flex items-center px-3">
    {{ lang.map.employees_inbox_managment }}
  </h1>
  @if (selection.hasValue()) {
    <app-icon-button
      [matTooltip]="lang.map.assign_selected_tasks_to_an_employee"
      (click)="openReassignPopup(selection.selected)"
      icon="ACCOUNT_CONVERT"></app-icon-button>
  }
</div>
<div class="shadow relative overflow-auto">
  <div class="px-4 pt-4 grid grid-cols-3 gap-4 justify-center items-center">
    <app-select-input
      [formControl]="ouControl"
      [label]="lang.map.department"
      bindLabel="getNames"
      bindValue="id"
      [options]="departments"></app-select-input>
    <app-select-input
      [formControl]="teamControl"
      [label]="lang.map.main_team"
      bindLabel="getNames"
      bindValue="id"
      [options]="teams"></app-select-input>
    <app-select-input
      [formControl]="employeeControl"
      [label]="lang.map.lbl_employee"
      bindLabel="getNames"
      [options]="employees"></app-select-input>
  </div>
  <table mat-table matSort class="table-style" [dataSource]="dataSource">
    <!-- Select -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(element) : null"
          [checked]="selection.isSelected(element)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- BD_FULL_SERIAL -->
    <ng-container matColumnDef="SERIAL">
      <th
        mat-header-cell
        mat-sort-header="BD_DRAFT_FULL_SERIAL"
        *matHeaderCellDef>
        {{ lang.map.serial_number }}
      </th>
      <td mat-cell *matCellDef="let element">
        <span>
          {{
            element.BD_CASE_TYPE === caseTypes.GRIEVANCE
              ? element.BD_GRIEVANCE_FULL_SERIAL
              : element.BD_IS_DRAFTED
                ? element.BD_DRAFT_FULL_SERIAL
                : element.BD_INVESTIGATION_FULL_SERIAL
          }}
        </span>
      </td>
    </ng-container>

    <!-- BD_SUBJECT -->
    <ng-container matColumnDef="BD_SUBJECT">
      <th mat-header-cell mat-sort-header="BD_SUBJECT" *matHeaderCellDef>
        {{ lang.map.subject }}
      </th>
      <td
        [matTooltip]="element.BD_SUBJECT"
        mat-cell
        *matCellDef="let element"
        class="max-w-28">
        <span class="text-nowrap" [innerHTML]="element.BD_SUBJECT"></span>
      </td>
    </ng-container>

    <!-- BD_TYPE -->
    <ng-container matColumnDef="BD_TYPE">
      <th mat-header-cell mat-sort-header="BD_TYPE" *matHeaderCellDef>
        {{ lang.map.case_type }}
      </th>
      <td mat-cell *matCellDef="let element">
        @if (element.BD_CASE_TYPE === caseTypes.INVESTIGATION) {
          <span>{{ lang.map.investigation }}</span>
        } @else if (element.BD_CASE_TYPE === caseTypes.GRIEVANCE) {
          <span>{{ lang.map.grievance }}</span>
        }
      </td>
    </ng-container>

    <!-- ACTIVATED ACTIVATED -->
    <ng-container matColumnDef="ACTIVATED">
      <th mat-header-cell mat-sort-header="ACTIVATED" *matHeaderCellDef>
        {{ lang.map.received_date }}
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          [innerHTML]="
            element.ACTIVATED | date: Config.DATE_FORMAT : undefined
          "></span>
      </td>
    </ng-container>

    <!-- TAD_DISPLAY_NAME -->
    <ng-container matColumnDef="TAD_DISPLAY_NAME">
      <th mat-header-cell mat-sort-header="TAD_DISPLAY_NAME" *matHeaderCellDef>
        {{ lang.map.step_name }}
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          [innerHTML]="lang.map[assertType(element).TAD_DISPLAY_NAME]"></span>
      </td>
    </ng-container>

    <!-- PI_DUE PI_DUE -->
    <ng-container matColumnDef="PI_DUE">
      <th mat-header-cell mat-sort-header="PI_DUE" *matHeaderCellDef>
        {{ lang.map.due_date }}
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          [innerHTML]="
            element.PI_DUE | date: Config.DATE_FORMAT : undefined
          "></span>
      </td>
    </ng-container>
    <!-- BD_FROM_USER BD_FROM_USER -->
    <ng-container matColumnDef="BD_FROM_USER">
      <th mat-header-cell mat-sort-header="BD_FROM_USER" *matHeaderCellDef>
        {{ lang.map.sender }}
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- <span [innerHTML]="getJobTypeName(element.jobType) | highlight : getFilterStringColumn('jobType')"></span> -->
        <span> {{ element.fromUserInfo?.getNames() || '' }}</span>
      </td>
    </ng-container>

    <!-- RISK_STATUS RISK_STATUS -->
    <ng-container matColumnDef="RISK_STATUS">
      <th mat-header-cell mat-sort-header="RISK_STATUS" *matHeaderCellDef>
        {{ lang.map.status }}
      </th>
      <td mat-cell *matCellDef="let element">
        <span [class]="assertType(element).getStatusStyle()">
          {{ element.riskStatusInfo?.getNames() || '' }}</span
        >
      </td>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ lang.map.actions }}</th>
      <td mat-cell *matCellDef="let element">
        <div class="flex">
          <app-icon-button
            [matTooltip]="lang.map.assign_to_employee"
            (click)="openReassignPopup([assertType(element)])"
            icon="ACCOUNT_CONVERT"></app-icon-button>
        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      class="!bg-primary/5 row-filter"
      *matHeaderRowDef="columns"></tr>
    <tr
      mat-row
      (contextmenu)="contextMenu.open($event, element)"
      *matRowDef="let element; columns: columns"></tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
    </tr>
  </table>
  <app-context-menu #contextMenu [actions]="actions"></app-context-menu>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[25, 50, 100, 150, 200]"
    showFirstLastButtons="true"
    [length]="queryResultSet?.totalCount || 0"></mat-paginator>
</div>
