<div
  class="text-white h-full w-full relative items-center justify-center flex flex-col rtl:bg-gradient-to-br ltr:bg-gradient-to-bl from-primary to-primary-dark overflow-hidden">
  <div class="rotated-background z-0"></div>
  <object
    data="assets/images/bg.svg"
    class="absolute pointer-events-none bottom-0 w-screen object-cover mix-blend-color-dodge opacity-30"></object>
  <div class="flex flex-col-reverse lg:flex-row relative w-full z-1">
    <div id="form" class="z-10 justify-center flex flex-auto">
      <div class="flex flex-col w-1/2 lg:-mt-20">
        <h1 class="text-center text-2xl border-b-4 p-4 border-secondary">Login Form</h1>
        <form [formGroup]="form" autocomplete="off">
          <app-input
            formControlName="userName"
            labelColor="text-white"
            class="mt-4"
            placeholder="username"
            label="username" />
          <app-input
            formControlName="userPassword"
            labelColor="text-white"
            placeholder="password"
            [type]="selectedPasswordOptions.inputType"
            label="password">
            <button
              appInputSuffix
              (click)="toggleEye()"
              class="mx-2 outline-offset-4 outline-primary flex items-center justify-center">
              <mat-icon [svgIcon]="selectedPasswordOptions.icon"></mat-icon>
            </button>
          </app-input>
          <app-button (click)="login$.next()" buttonType="secondary" class="block mt-8">
            {{ lang.map.login }}
          </app-button>
        </form>
      </div>
    </div>
    <div id="logo" class="z-10 flex-auto flex flex-col items-center justify-center">
      <!--suppress CheckImageSize -->
      <img
        alt="General Authority of Customs logo"
        priority="priority"
        ngSrc="assets/images/main-logo.png"
        width="133"
        height="75" />
      <img
        alt="General Authority of Customs logo Text"
        priority="priority"
        ngSrc="assets/images/logo-text.png"
        width="267"
        height="39" />
      <h1 class="text-2xl my-4">Customs Investigation Platform</h1>
    </div>
  </div>
</div>
