<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.call_request }} : {{ person()?.getNames() }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <div class="flex">
      <span>{{ this.lang.map.static_header_text_call_request }}</span>
    </div>
    <div [formGroup]="form" class="grid grid-cols-2 gap-y-2 gap-x-4">
      <app-input formControlName="summonDate" [label]="lang.map.date">
        <input
          appControl
          formControlName="summonDate"
          (click)="picker.open()"
          [matDatepicker]="picker"
          [min]="today" />
        <mat-datepicker #picker></mat-datepicker>
      </app-input>
      <app-input
        formControlName="summonTime"
        [label]="lang.map.meeting_time_from">
        <input
          appControl
          formControlName="summonTime"
          [ngxMatTimepicker]="timePickerFrom" />
        <ngx-mat-timepicker
          [cancelBtnTmpl]="cancelBtn"
          [confirmBtnTmpl]="confirmBtn"
          [minutesGap]="5"
          #timePickerFrom></ngx-mat-timepicker>
        <ng-template #cancelBtn>
          <app-button class="me-2 inline-block" buttonType="primary-outline">
            {{ lang.map.close }}
          </app-button>
        </ng-template>
        <ng-template #confirmBtn>
          <app-button buttonType="primary">{{ lang.map.save }}</app-button>
        </ng-template>
      </app-input>
      @if (form.get('summonTime')?.hasError('minTime')) {
        <span>
          {{ 'time_must_be_at_least_2_hours_from_now' }}
        </span>
      }
      <app-input
        class="col-span-2"
        formControlName="summonsPlace"
        [label]="lang.map.location" />
      <app-textarea
        formControlName="note"
        class="col-span-2"
        [label]="lang.map.note" />
    </div>
  </div>
  <div class="flex">
    <span>{{ this.lang.map.static_footer_text_call_request }}</span>
  </div>
  <div class="dialog-footer justify-end">
    <app-button
      (click)="save$.next()"
      [disabled]="inViewMode()"
      buttonType="primary"
      >{{ lang.map.save }}
    </app-button>

    <app-button mat-dialog-close="" buttonType="primary-outline"
      >{{ lang.map.close }}
    </app-button>
  </div>
</div>
