tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.p-0 {
  padding: 0 !important;
}

.highlighted-row {
  background-color: #efefef !important;
}

// .element-row:nth-child(even){
//   background-color: red;
// }

// .element-row:nth-child(odd){
//   background-color: black;
// }
