<table
  mat-table
  matSort
  class="table-style table-primary"
  multiTemplateDataRows=""
  [dataSource]="offenders()">
  <!-- offender name -->
  <ng-container matColumnDef="offenderName">
    <th mat-header-cell mat-sort-header="offenderName" *matHeaderCellDef>
      {{ lang.map.offender_name }}
    </th>
    <td mat-cell *matCellDef="let element">
      <span class="flex justify-start items-center">
        <span
          [matTooltip]="lang.map.number_of_violations"
          class="cursor-pointer inline-flex items-center rounded-[12px] mb-0 px-2 py-1 text-xs font-medium ring-1 ring-inset ring-primary-700/10">
          {{ getOffenderViolations(element.id).length }}
        </span>
        <app-icon-button
          [matTooltip]="offenderTypesMap[element.type].getNames()"
          class="m-0 text-xs"
          [icon]="
            element.type === offenderTypes.EMPLOYEE
              ? 'EMPLOYEE'
              : 'CLEARING_AGENT'
          ">
        </app-icon-button>
        <span class="m-0">
          {{ element.getNames() }}
        </span>
      </span>
    </td>
  </ng-container>
  <!-- qid -->
  <ng-container matColumnDef="qid">
    <th mat-header-cell mat-sort-header="qid" *matHeaderCellDef>
      {{ lang.map.qid }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.offenderInfo && element.offenderInfo.qid }}
    </td>
  </ng-container>
  <!-- departmentCompany -->
  <ng-container matColumnDef="departmentCompany">
    <th mat-header-cell mat-sort-header="departmentCompany" *matHeaderCellDef>
      {{ lang.map.department_company }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.offenderOUInfo && element.offenderOUInfo?.getNames() }}
    </td>
  </ng-container>
  <!-- violations -->
  <ng-container matColumnDef="violations">
    <th mat-header-cell mat-sort-header="violations" *matHeaderCellDef>
      {{ lang.map.violations }}
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="flex items-start flex-col">
        @for (
          violation of getOffenderViolationsSlice(element.id);
          track violation
        ) {
          <div class="flex justify-start items-center pt-1">
            <span
              [matTooltip]="lang.map.repeat"
              class="cursor-pointer flex me-3 p-2 justify-center align-center items-center w-5 h-5 bg-red-100 rounded-[12px] text-xs font-medium ring-1 ring-inset ring-red-700/10">
              {{ violation.repeat }}
            </span>
            <span
              class="inline-flex me-2 mb-1 items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20">
              {{ violation.violationInfo.violationTypeInfo.getNames() }}
            </span>
          </div>
        }
      </div>
    </td>
  </ng-container>
  <!-- offenderStatus-->
  <ng-container matColumnDef="offenderStatus">
    <th mat-header-cell mat-sort-header="offenderStatus" *matHeaderCellDef>
      {{ lang.map.status }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.statusInfo && element.statusInfo?.getNames() }}
    </td>
  </ng-container>

  <!-- situationSearch -->
  <ng-container matColumnDef="situationSearch">
    <th mat-header-cell mat-sort-header="situationSearch" *matHeaderCellDef>
      {{ lang.map.situation_search }}
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="flex justify-start gap-2">
        @if (assertType(element).hasStatusSearch()) {
          <app-situation-search-btn
            [offender]="element"
            [isCompany]="false"
            icon="INFORMATION" />
        }
        @if (assertType(element).hasStatusSearch(true)) {
          <app-icon-button
            [matTooltip]="lang.map.situation_search_clearing_agency"
            (click)="situationClick($event, element, true)"
            icon="CLEARING_AGENCY"></app-icon-button>
        }
      </div>
    </td>
  </ng-container>

  <!-- decision -->
  <ng-container matColumnDef="decision">
    <th mat-header-cell *matHeaderCellDef>{{ lang.map.decision }}</th>
    <td mat-cell *matCellDef="let element">
      @if (!getOffenderDecision(element.id)) {
        <div class="px-2 text-white rounded bg-gray-400">
          {{ this.lang.map.not_specified }}
        </div>
      }
      <div class="px-2 text-white rounded bg-red-300">
        {{ getOffenderDecision(element.id)?.penaltyInfo?.getNames() }}
      </div>
    </td>
  </ng-container>
  <!-- actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <div class="flex items-center">
        <span>{{ lang.map.actions }}</span>

        @if (selection.hasValue() && commonPenalties().length) {
          <div class="relative">
            <app-icon-button
              [matMenuTriggerFor]="tableMenu"
              class="absolute -top-6 rtl:right-14 ltr:left-16"
              icon="DOTS_VERTICAL" />
            <mat-menu #tableMenu="matMenu">
              @for (penalty of commonPenalties(); track penalty.penaltyKey) {
                <button
                  (click)="selectedSystemAction$.next(penalty.penaltyKey)"
                  mat-menu-item>
                  <div class="flex gap-2">
                    <mat-icon
                      class="flex-shrink-0"
                      [svgIcon]="getPenaltyIcon(penalty.penaltyKey)"></mat-icon>
                    <span class="flex-shrink-0">{{ penalty.getNames() }}</span>
                  </div>
                </button>
              }
            </mat-menu>
          </div>
        }
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      @if (isClaimed()) {
        <div class="flex justify-start gap-2">
          <div [matTooltip]="lang.map.view">
            <app-icon-button (click)="view$.next(element)" icon="VIEW" />
          </div>
          <app-decision-maker
            [penaltyMap]="penaltyMap()"
            [penalties]="penalties()"
            [offender]="element"
            [updateModel]="updateModel()"
            [model]="model()" />
        </div>
      }
    </td>
  </ng-container>
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      class="p-0"
      [attr.colspan]="offenderDisplayedColumns.length">
      <div
        [@detailExpand]="
          selectedOffender === element ? 'expanded' : 'collapsed'
        "
        class="px-1 divide-y-2 divide-primary divide-dashed bg-gray-100">
        @for (violation of getOffenderViolations(element.id); track violation) {
          <div class="p-3 border-bottom">
            <div class="flex">
              <h5 class="text-lg flex-auto font-medium mb-1">
                {{ violation.violationInfo.violationTypeInfo.getNames() }}
              </h5>

              <div class="relative ps-4 min-w-40 w-40">
                <app-select-input
                  nullable="false"
                  [formControl]="violationProofStatus()[element.id][$index]"
                  size="sm"
                  class="w-32 block"
                  noMargin="true"
                  (selectChange)="proofStatusChanged(violation, $index)"
                  [label]="lang.map.is_proved"
                  [options]="proofStatus"
                  bindValue="lookupKey"
                  bindLabel="getNames" />
              </div>
            </div>
            <!-- classificationInfo -->
            <span
              class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
              <label class="font-medium"
                >{{ lang.map.violation_classification }} :
              </label>
              <label>{{
                violation.violationInfo.classificationInfo.getNames()
              }}</label>
            </span>
            <!-- competentProsecutionDecisionInfo -->
            @if (violation.violationInfo.competentProsecutionDecision) {
              <span
                class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
                <label class="font-medium"
                  >{{ lang.map.competent_prosecutiond_decision }} :
                </label>
                <label>{{
                  violation.violationInfo.competentProsecutionDecisionInfo.getNames()
                }}</label>
              </span>
            }
            <!-- courtDecision -->
            @if (violation.violationInfo.courtDecision) {
              <span
                class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
                <label class="font-medium"
                  >{{ lang.map.court_decision }} :
                </label>
                <label>{{
                  violation.violationInfo.courtDecisionInfo.getNames()
                }}</label>
              </span>
            }
            <!-- drugProsecutionDecision -->
            @if (violation.violationInfo.drugProsecutionDecision) {
              <span
                class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
                <label class="font-medium"
                  >{{ lang.map.drug_prosecution_decision }} :
                </label>
                <label>{{
                  violation.violationInfo.drugProsecutionDecisionInfo.getNames()
                }}</label>
              </span>
            }
            <!-- forensicLabAnalysis -->
            @if (violation.violationInfo.forensicLabAnalysis) {
              <span
                class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
                <label class="font-medium"
                  >{{ lang.map.forensic_lab_analysis }} :
                </label>
                <label>{{
                  violation.violationInfo.forensicLabAnalysisInfo.getNames()
                }}</label>
              </span>
            }
            <!-- securityAdminDecision -->
            @if (violation.violationInfo.securityAdminDecision) {
              <span
                class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
                <label class="font-medium"
                  >{{ lang.map.security_admin_decision }} :
                </label>
                <label>{{
                  violation.violationInfo.securityAdminDecisionInfo.getNames()
                }}</label>
              </span>
            }
            @if (violation.violationInfo.customsDeclarationNumber) {
              <span
                class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
                <label class="font-medium"
                  >{{ lang.map.customs_declaration_number }} :
                </label>
                <label>{{
                  violation.violationInfo.customsDeclarationNumber
                }}</label>
              </span>
            }
            <!-- controlReportNumber -->
            @if (violation.violationInfo.controlReportNumber) {
              <span
                class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
                <label class="font-medium"
                  >{{ lang.map.control_report_number }} :
                </label>
                <label>{{ violation.violationInfo.controlReportNumber }}</label>
              </span>
            }
            <!-- reportNumber -->
            @if (violation.violationInfo.reportNumber) {
              <span
                class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
                <label class="font-medium"
                  >{{ lang.map.report_number }} :
                </label>
                <label>{{ violation.violationInfo.reportNumber }}</label>
              </span>
            }
            <!-- reportNumber -->
            @if (violation.violationInfo.reportYear) {
              <span
                class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
                <label class="font-medium">{{ lang.map.report_year }} : </label>
                <label>{{ violation.violationInfo.reportYear }}</label>
              </span>
            }
            <!-- repeat -->
            <span
              class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
              <label class="font-medium">{{ lang.map.repeatation }} : </label>
              <label>{{ violation.repeat }}</label>
            </span>
            <!-- date -->
            @if (violation.violationInfo.violationsDate) {
              <span
                class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
                <label class="font-medium"
                  >{{ lang.map.violation_date }} :
                </label>
                <label>{{
                  violation.violationInfo.violationsDate | date: 'YYYY/MM/dd'
                }}</label>
              </span>
            }
            <!-- date -->
            @if (
              violation.violationInfo.violationsDateTo ||
              violation.violationInfo.violationsDateFrom
            ) {
              <span
                class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
                @if (violation.violationInfo.violationsDateFrom) {
                  <span>
                    <label class="font-medium"
                      >{{ lang.map.date_from }} :
                    </label>
                    <label>{{
                      violation.violationInfo.violationsDateFrom
                        | date: 'YYYY/MM/dd'
                    }}</label>
                  </span>
                }
                @if (violation.violationInfo.violationsDateTo) {
                  <span>
                    <label class="font-medium">
                      - {{ lang.map.date_to }} :
                    </label>
                    <label>{{
                      violation.violationInfo.violationsDateTo
                        | date: 'YYYY/MM/d'
                    }}</label>
                  </span>
                }
              </span>
            }
            <!-- description -->
            @if (violation.violationInfo.description) {
              <div
                class="me-2 mb-2 inline-flex items-center rounded-[12px] bg-light-50 px-2 py-1 text-xs font-medium text-light-700 ring-1 ring-inset ring-light-700/10">
                <label class="font-medium">{{ lang.map.description }} : </label>
                <label>{{ violation.violationInfo.description }}</label>
              </div>
            }
          </div>
        }
      </div>
    </td>
  </ng-container>

  <!-- selection -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox
        [disabled]="!canMakeSystemDecision(element.id)"
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(element) : null"
        [checked]="selection.isSelected(element)">
      </mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="offenderDisplayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: offenderDisplayedColumns"
    class="element-row"
    [class.example-expanded-row]="selectedOffender === element"
    (click)="rowClicked($event, element)"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"></tr>
  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
  </tr>
</table>
