<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.investigation_result_legal_opinion }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content min-w-[700px]">
    <table
      mat-table
      class="table-style table-primary"
      [dataSource]="offenders()">
      <!-- offenderName -->
      <ng-container matColumnDef="offenderName">
        <th mat-header-cell *matHeaderCellDef>{{ lang.map.offender_name }}</th>
        <td mat-cell *matCellDef="let element">
          {{ assertType(element).getNames() }}
        </td>
      </ng-container>
      <!-- offenderStatus -->
      <ng-container matColumnDef="offenderInvStatus">
        <th class="w-40" mat-header-cell *matHeaderCellDef>
          {{ lang.map.investigation_status }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="w-40 px-2 flex-shrink-0">
            <app-select-input
              label=""
              size="sm"
              [formControl]="offenderInvStatusControls[assertType(element).id]"
              (selectChange)="updateOffenderInvStatus(element, $event)"
              nullable="false"
              bindValue="lookupKey"
              bindLabel="getNames"
              noMargin="true"
              [options]="offenderInvStatus" />
          </div>
        </td>
      </ng-container>
      <!-- violations -->
      <ng-container matColumnDef="violations">
        <th mat-header-cell *matHeaderCellDef class="min-w-[200px]">
          {{ lang.map.violations }}
        </th>
        <td mat-cell colSpan="2" *matCellDef="let element">
          <div class="grid grid-cols-1 divide-y">
            @for (
              item of offenderViolationsMap()[assertType(element).id];
              track item.id
            ) {
              <div class="flex items-center py-2">
                <div
                  class="flex-auto min-w-[160px] max-w-[350px] border bg-yellow-50 rounded text-sm p-2">
                  {{ item.violationInfo.violationTypeInfo.getNames() }}
                </div>
                <div class="w-40 px-2 flex-shrink-0">
                  <app-select-input
                    label=""
                    size="sm"
                    [formControl]="controls[item.id]"
                    (selectChange)="updateProof(item)"
                    nullable="false"
                    bindValue="lookupKey"
                    bindLabel="getNames"
                    noMargin="true"
                    [options]="proofStatus" />
                </div>
              </div>
            }
          </div>
        </td>
      </ng-container>
      <!-- investigationResult -->
      <ng-container matColumnDef="investigationResult">
        <th class="w-40" mat-header-cell *matHeaderCellDef>
          {{ lang.map.investigation_result }}
        </th>
        <td mat-cell *matCellDef="let element" [style.display]="'none'"></td>
      </ng-container>
      <!-- violationEffect -->
      <ng-container matColumnDef="violationEffect">
        <th
          class="w-40"
          mat-header-cell
          *matHeaderCellDef
          [ngClass]="{
            hidden: !isBrokersTask()
          }">
          {{ lang.map.penalty_for_whom }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="{
            hidden: !isBrokersTask()
          }">
          <div class="w-40 px-2 flex-shrink-0">
            <app-select-input
              label=""
              size="sm"
              [formControl]="violationEffectControls[assertType(element).id]"
              (selectChange)="updateOffenderViolationEffect(element, $event)"
              nullable="false"
              bindValue="lookupKey"
              bindLabel="getNames"
              noMargin="true"
              [options]="violationEffect" />
          </div>
        </td>
      </ng-container>
      <!-- recommendation -->
      <ng-container matColumnDef="recommendation">
        <th mat-header-cell class="w-[300px]" *matHeaderCellDef>
          {{ lang.map.recommendation }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex items-center">
            <app-icon-button
              [disabled]="
                element.status !== OffenderInvStatus.INVESTIGATION_DONE
              "
              [matMenuTriggerFor]="menu"
              icon="DOTS_VERTICAL" />
            <div>
              {{
                penaltiesDecisionsMap[assertType(element).id] &&
                  penaltiesDecisionsMap[
                    assertType(element).id
                  ].penaltyInfo.getNames()
              }}
            </div>
            <mat-menu #menu="matMenu">
              @for (
                penalty of offenderPenalties(assertType(element).id);
                track penalty.id
              ) {
                <button
                  [disabled]="isSelectedPenalty(penalty, element)"
                  (click)="
                    takeDecision$.next({
                      offender: assertType(element),
                      decision: penalty
                    })
                  "
                  mat-menu-item>
                  {{ penalty.getNames() }}
                  @if (penalty.penaltyGuidance) {
                    <span class="bg-emerald-400 rounded text-white px-2 mx-2">
                      {{ penalty.penaltyGuidanceInfo.getNames() }}
                    </span>
                  }
                </button>
              }
            </mat-menu>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
      </tr>
    </table>
    @if (data.response) {
      <p class="mt-2 text-primary">
        <span class="font-bold">*{{ lang.map.disclaimer }}</span
        >:
        {{
          lang.map
            .please_review_the_legal_books_that_are_permitted_to_be_viewed_by_other_departments
        }}
      </p>
    }
    <div class="mt-2">
      <app-textarea
        [label]="lang.map.general_description"
        [formControl]="textControl" />
    </div>
  </div>
  <div class="dialog-footer justify-end">
    <app-button
      (click)="save$.next()"
      [disabled]="saveDisabled"
      buttonType="primary">
      @if (data.response) {
        {{ lang.map.final_complete }}
      } @else {
        {{ lang.map.save }}
      }
    </app-button>

    <app-button mat-dialog-close="" buttonType="primary-outline"
      >{{ lang.map.close }}
    </app-button>
  </div>
</div>
