<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_organization_unit }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div>
    <mat-tab-group
      [mat-stretch-tabs]="false"
      mat-align-tabs="start"
      [dynamicHeight]="true">
      <mat-tab [label]="lang.map.lbl_basic_info">
        <ng-container [formGroup]="form">
          <div class="h-full overflow-y-scroll">
            <div
              class="grid grid-cols-1 gap-4 mt-auto mb-0 items-center p-4 pb-0">
              <app-select-input
                formControlName="mawaredDepId"
                [options]="mawaredDepartments"
                [label]="lang.map.mawared_dep_id"
                bindValue="departmentId"
                bindLabel="getNames"
                [enableFilter]="true"
                bindFilter="getNames"
                nullable="false"></app-select-input>
            </div>
            <div class="grid grid-cols-2 gap-4 my-auto items-center p-4">
              <app-input formControlName="arName" [label]="lang.map.ar_name" />
              <app-input formControlName="enName" [label]="lang.map.en_name" />
              <app-input formControlName="email" [label]="lang.map.email" />
              <app-input formControlName="code" [label]="lang.map.code" />
              <app-select-input
                formControlName="type"
                [options]="unitTypes"
                [label]="lang.map.unit_type"
                bindValue="lookupKey"
                bindLabel="getNames" />
              <app-select-input
                formControlName="managerId"
                [options]="internalUsers"
                [label]="lang.map.manager"
                bindValue="id"
                bindLabel="getNames"
                [enableFilter]="true"
                bindFilter="getNames" />
              <app-select-input
                formControlName="parent"
                [options]="organizationUnits"
                [label]="lang.map.parent_unit"
                bindValue="id"
                bindLabel="getNames"
                [enableFilter]="true"
                bindFilter="getNames" />
              <app-select-input
                formControlName="assistantOuId"
                [options]="assistantOus"
                [label]="lang.map.assistant_ou"
                bindValue="id"
                bindLabel="getNames"
                [enableFilter]="true"
                bindFilter="getNames" />
              <app-select-input
                formControlName="managerAssistant"
                [options]="managerAssistants"
                [label]="lang.map.ou_manager_assistant"
                bindValue="id"
                bindLabel="getNames"
                [enableFilter]="true"
                bindFilter="getNames" />
              <app-switch
                formControlName="isCustoms"
                [label]="lang.map.is_customs" />
              <app-switch
                formControlName="status"
                [trueValue]="1"
                [falseValue]="0"
                [label]="lang.map.change_status" />
            </div>
          </div>
        </ng-container>
      </mat-tab>
      @if (!inCreateMode()) {
        <mat-tab [label]="lang.map.ou_logo">
          <div class="p-4">
            <div [formGroup]="form" class="flex flex-col">
              <div
                (drop)="filesDropped($event)"
                (dragover)="$event.preventDefault()"
                [ngClass]="getOuLogoStyle()">
                @if (ouLogoSafeUrl) {
                  <div class="w-full h-full">
                    <img
                      class="w-full h-full"
                      alt="logo"
                      [src]="ouLogoSafeUrl" />
                  </div>
                } @else {
                  <div class="flex flex-col items-center text-gray-500">
                    <mat-icon
                      [svgIcon]="AppIcons.FOLDER_MULTIPLE_IMAGE"></mat-icon>
                    <span>{{ lang.map.drag_and_drop_files }}</span>
                  </div>
                }
              </div>
            </div>
          </div>
        </mat-tab>
      }
    </mat-tab-group>
  </div>
  <div class="dialog-footer justify-end">
    @if (!inViewMode()) {
      <app-button (click)="save$.next()" buttonType="primary"
        >{{ lang.map.save }}
      </app-button>
    }
    @if (!inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary-outline"
        >{{ lang.map.close }}
      </app-button>
    }
    @if (inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary"
        >{{ lang.map.close }}
      </app-button>
    }
  </div>
</div>
