<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_organization_unit }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <ng-container [formGroup]="form">
      <div class="grid grid-cols-2 gap-4 my-auto items-center">
        <app-input formControlName="arName" [label]="lang.map.ar_name" />
        <app-input formControlName="enName" [label]="lang.map.en_name" />
        <app-input formControlName="code" [label]="lang.map.unit_code" />
        <app-input formControlName="email" [label]="lang.map.email" />
        <app-input formControlName="ldapGroupName" [label]="lang.map.ldap_group_name" />
        <app-input formControlName="ldapLimitedGroupName" [label]="lang.map.ldap_limited_group_name" />
        <app-select-input
          formControlName="type"
          [options]="unitTypes"
          [label]="lang.map.unit_type"
          bindValue="lookupKey"
          bindLabel="getNames" />
        <app-select-input
          formControlName="managerId"
          [options]="internalUsers"
          [label]="lang.map.manager"
          bindValue="id"
          bindLabel="getNames"
          [enableFilter]="true"
          bindFilter="getNames" />

        <app-select-input
          formControlName="parent"
          [options]="organizationUnits"
          [label]="lang.map.parent_unit"
          bindValue="id"
          bindLabel="getNames"
          [enableFilter]="true"
          bindFilter="getNames" />

        <app-switch formControlName="status" [trueValue]="1" [falseValue]="0" [label]="lang.map.change_status" />
      </div>
    </ng-container>
  </div>
  <div class="dialog-footer justify-end">
    @if (!inViewMode()) {
    <app-button (click)="save$.next()" buttonType="primary">{{ lang.map.save }}</app-button>
    } @if (!inViewMode()) {
    <app-button mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
    } @if (inViewMode()) {
    <app-button mat-dialog-close="" buttonType="primary">{{ lang.map.close }}</app-button>
    }
  </div>
</div>
