<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_violation_type }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <ng-container [formGroup]="form">
      <div class="grid grid-cols-2 gap-4 my-auto items-center">
        <app-input formControlName="arName" [label]="lang.map.ar_name" />
        <app-input formControlName="enName" [label]="lang.map.en_name" />
        
        <app-select-input
        formControlName="violationClassificationId"
        [options]="violationClassifications"
        [label]="lang.map.violation_classification"
        bindValue="id"
        bindLabel="getNames"
        [enableFilter]="true"
        bindFilter="getNames" />
        
        <app-select-input
        formControlName="offenderType"
        [options]="offenderTypes"
        [label]="lang.map.unit_type"
        bindValue="lookupKey"
        bindLabel="getNames" />

        <app-select-input
        formControlName="criminalType"
        [options]="criminalTypes"
        [label]="lang.map.criminal_type"
        bindValue="lookupKey"
        bindLabel="getNames" />
        
        <app-select-input
        formControlName="responsibilityRepeatViolations"
        [options]="responsibilityRepeatViolations"
        [label]="lang.map.responsibility_repeat_violations"
        bindValue="lookupKey"
        bindLabel="getNames" />

        <app-select-input
        formControlName="level"
        [options]="violationLevels"
        [label]="lang.map.level"
        bindValue="lookupKey"
        bindLabel="getNames" />
        
        <app-select-input
        formControlName="managerDecision"
        [options]="managerDecisions"
        [label]="lang.map.manager_decision"
        bindValue="lookupKey"
        bindLabel="getNames" />
        
        <app-input *ngIf="isNumeric()" formControlName="numericFrom" [label]="lang.map.numeric_from" />
        <app-input *ngIf="isNumeric()" formControlName="numericTo" [label]="lang.map.numeric_to" />
        
        
        <app-switch formControlName="absence" [label]="lang.map.absence" />
        <app-switch formControlName="isNumeric" [label]="lang.map.is_numeric" />
        <app-switch formControlName="status" [trueValue]="1" [falseValue]="0" [label]="lang.map.change_status" />
      </div>
    </ng-container>
  </div>
  <div class="dialog-footer justify-end">
    <app-button *ngIf="!inViewMode()" (click)="save$.next()" buttonType="primary">{{ lang.map.save }}</app-button>
    <app-button *ngIf="!inViewMode()" mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
    <app-button *ngIf="inViewMode()" mat-dialog-close="" buttonType="primary">{{ lang.map.close }}</app-button>
  </div>
</div>
