<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.grievance_details }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <app-case-attachments
      [caseId]="model.id"
      [service]="service"
      [folderType]="FolderType.GENERAL"
      [title]="lang.map.grievance_attachments"
      class="col-span-1 md:col-span-2 lg:col-span-4"
      [type]="getType()"></app-case-attachments>
  </div>
  <div class="dialog-footer justify-end">
    <app-button mat-dialog-close="" buttonType="primary-outline"
      >{{ lang.map.close }}
    </app-button>
  </div>
</div>
