<div class="flex justify-start items-center">
  <h1 class="text-primary text-xl">{{ title }}</h1>
  <app-icon-button (click)="add$.next()" class="text-primary" icon="PLUS_BOX"></app-icon-button>
  <app-icon-button (click)="reload$.next()" class="text-primary" icon="RELOAD"></app-icon-button>
</div>
<div>
  <table mat-table matSort class="table-style table-primary" [dataSource]="dataSource">
    <!-- violationType -->
    <ng-container matColumnDef="offenderType">
      <th mat-header-cell mat-sort-header="offenderType" *matHeaderCellDef>{{ lang.map.offender_type }}</th>
      <td mat-cell *matCellDef="let element">{{ offenderTypesMap[element.type].getNames() }}</td>
    </ng-container>
    <!-- classification -->
    <ng-container matColumnDef="arName">
      <th mat-header-cell mat-sort-header="arName" *matHeaderCellDef>{{ lang.map.ar_name }}</th>
      <td mat-cell *matCellDef="let element">{{ element.offenderInfo.arName }}</td>
    </ng-container>
    <!-- classification -->
    <ng-container matColumnDef="enName">
      <th mat-header-cell mat-sort-header="enName" *matHeaderCellDef>{{ lang.map.en_name }}</th>
      <td mat-cell *matCellDef="let element">{{ element.offenderInfo.enName }}</td>
    </ng-container>
    <!-- classification -->
    <ng-container matColumnDef="qid">
      <th mat-header-cell mat-sort-header="qid" *matHeaderCellDef>{{ lang.map.qid }}</th>
      <td mat-cell *matCellDef="let element">{{ element.offenderInfo.qid }}</td>
    </ng-container>
    <!-- classification -->
    <ng-container matColumnDef="jobTitle">
      <th mat-header-cell mat-sort-header="jobTitle" *matHeaderCellDef>{{ lang.map.job_title }}</th>
      <td mat-cell *matCellDef="let element">---</td>
    </ng-container>
    <!-- classification -->
    <ng-container matColumnDef="departmentCompany">
      <th mat-header-cell mat-sort-header="departmentCompany" *matHeaderCellDef>{{ lang.map.department_company }}</th>
      <td mat-cell *matCellDef="let element">---</td>
    </ng-container>
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell mat-sort-header="actions" *matHeaderCellDef>{{ lang.map.actions }}</th>
      <td mat-cell *matCellDef="let element">
        <div class="flex gap-2">
          <!--          <div [matTooltip]="lang.map.add_violation">-->
          <!--            <app-icon-button (click)="addViolation$.next(element)" icon="VIOLATION_OUTLINE" />-->
          <!--          </div>-->
          <div [matTooltip]="lang.map.delete">
            <app-icon-button (click)="delete$.next(element)" icon="DELETE" />
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
    </tr>
  </table>
</div>
