<ng-container [formGroup]="form">
  <div class="row mb-4">
    <div class="col-12 position-relative m-4">
      <app-textarea formControlName="menuURL" [label]="lang.map.menu_url">
      </app-textarea>
    </div>
  </div>
</ng-container>
@if (variableList.length > 0) {
  <ng-container>
    <div class="row menu-variables-container">
      <div class="shadow relative overflow-auto">
        <table
          mat-table
          matSort
          class="table-style"
          [dataSource]="variableList">
          <!-- variable -->
          <ng-container matColumnDef="variable">
            <th mat-header-cell *matHeaderCellDef>
              {{ lang.map.variable_name }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span>
                {{ element.name }}
              </span>
            </td>
          </ng-container>

          <!-- variableValue -->
          <ng-container matColumnDef="variableValue">
            <th mat-header-cell *matHeaderCellDef>
              {{ lang.map.variable_value }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span>
                {{ element.value }}
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="p-4" colspan="100">
              {{ lang.map.no_records_to_display }}
            </td>
          </tr>
        </table>
      </div>

      <!--      <div class="col-md-4">-->
      <!--        <h1 class="h6 text-primary">{{ lang.map.available_values }}</h1>-->
      <!--        <ul-->
      <!--          class="list-group"-->
      <!--          cdkDropList-->
      <!--          [cdkDropListData]="menuParamsList"-->
      <!--          cdkDropListSortingDisabled-->
      <!--          [cdkDropListConnectedTo]="getConnectedListIds()"-->
      <!--          (cdkDropListExited)="onExitSourceList($event)"-->
      <!--          (cdkDropListEntered)="onEnterSourceList($event)">-->
      <!--          <ng-container *ngFor="let item of menuParamsList">-->
      <!--            <li-->
      <!--              class="list-group-item"-->
      <!--              cdkDrag-->
      <!--              [cdkDragData]="item"-->
      <!--              cdkDragHandle-->
      <!--              cdkDragBoundary=".menu-variables-container">-->
      <!--              {{ item.getName() }}-->
      <!--            </li>-->
      <!--          </ng-container>-->
      <!--        </ul>-->
      <!--      </div>-->
    </div>
  </ng-container>
}
