<div
  [formGroup]="form"
  class="px-3 grid gap-3 grid-cols-1 md:grid-cols-3 lg:grid-cols-4"
>
  <div class="col-span-1 md:col-span-2 lg:col-span-4">
    @if (model && model.departmentInfo) {
      <div class="mb-1">
        <span class="font-medium text-slate-700"
          >{{ lang.map.lbl_department }} :</span
        >
        <small class="sm font-bold text-slate-600 py-2">
          {{ model.departmentInfo.getNames() }}
        </small>
      </div>
    }
    <div class="mb-3">
      <span class="font-medium text-slate-700">{{
        lang.map.general_explanation_of_violations
      }}</span>
      <label class="block">
        {{ model?.description ? model?.description : 'No description' }}
      </label>
    </div>
  </div>
  <app-offenders-violations-preview
    [investigationModel]="model"
    [data]="offenders"
    class="col-span-1 md:col-span-2 lg:col-span-4 mb-3"
    [isClaimed]="!!model?.isClaimed()"
  />

  <app-unlinked-violations
    [offenders]="offenders"
    [data]="violations"
    class="col-span-1 md:col-span-2 lg:col-span-4 mb-3"
  />
</div>
