@if (widgetCounters().length) {
  <div class="relative w-full h-full flex flex-col justify-center items-center">
    @if (!isEditMode) {
      <app-icon-button
        (click)="navigate()"
        [matTooltip]="lang.map.go_to_page"
        class="absolute -end-2 -top-2"
        icon="OPEN"></app-icon-button>
    }
    <span class="font-bold text-center text-2xl">
      {{ counter().counterInfo.getNames() }}</span
    >
    <span
      [countUp]="counter().inboxCount"
      [options]="{ scrollSpyOnce: true }"
      class="text-5xl font-bold"></span>
    <span class="font-bold text-center text-sm">{{
      widgetCounters()[0].teamInfo.getNames()
    }}</span>
  </div>
} @else {
  <div
    [countUp]="100"
    [options]="{ scrollSpyOnce: true }"
    class="w-full h-full flex items-center justify-center text-5xl font-bold"></div>
}
