<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_email_template }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight>
      <mat-tab [label]="lang.map.lbl_basic_info">
        <ng-container [formGroup]="form">
          <div class="grid grid-cols-2 gap-4">
            <app-input formControlName="arName" [label]="lang.map.ar_name"></app-input>
            <app-input formControlName="enName" [label]="lang.map.en_name"></app-input>
            <app-input formControlName="arSubjectTemplate" [label]="lang.map.ar_subject_template"></app-input>
            <app-input formControlName="enSubjectTemplate" [label]="lang.map.en_subject_template"></app-input>
            <div class="flex flex-row pl-1 items-center justify-start">
              <app-switch
                [trueValue]="1"
                [falseValue]="0"
                formControlName="status"
                [label]="lang.map.status"></app-switch>
            </div>
            <div class="flex flex-row pl-1 items-center justify-start">
              <app-switch formControlName="isGlobal" [label]="lang.map.is_global"></app-switch>
            </div>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab [label]="lang.map.body_template">
        <ng-container [formGroup]="form">
          <div class="grid grid-cols-2 gap-4">
            <app-html-editor
              *ngIf="!inViewMode()"
              [id]="'arBodyEditor'"
              formControlName="arBodyTemplate"
              [label]="lang.map.ar_body_template"></app-html-editor>
            <app-html-editor
              *ngIf="!inViewMode()"
              [id]="'enBodyEditor'"
              formControlName="enBodyTemplate"
              [label]="lang.map.en_body_template"></app-html-editor>

            <!-- body template as HTML (to preview)-->
            <div *ngIf="inViewMode()" class="max-h-screen overflow-scroll grid grid-cols-1 gap-4">
              <span class="block font-medium text-slate-700">{{ lang.map.ar_body_template }}</span>
              <div class="prose overflow-visible" [innerHTML]="form.get('arBodyTemplate')?.value | txtToHtml"></div>
            </div>
            <div *ngIf="inViewMode()" class="max-h-screen overflow-scroll grid grid-cols-1 gap-4">
              <span class="block font-medium text-slate-700">{{ lang.map.en_body_template }}</span>
              <div class="prose overflow-visible" [innerHTML]="form.get('enBodyTemplate')?.value | txtToHtml"></div>
            </div>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="dialog-footer justify-end">
    <app-button *ngIf="!inViewMode()" (click)="save$.next()" buttonType="primary">{{ lang.map.save }}</app-button>
    <app-button *ngIf="!inViewMode()" mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
    <app-button *ngIf="inViewMode()" mat-dialog-close="" buttonType="primary">{{ lang.map.close }}</app-button>
  </div>
</div>
