<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_email_template }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div>
    <mat-tab-group
      [(selectedIndex)]="activeTab"
      [mat-stretch-tabs]="false"
      mat-align-tabs="start"
      [dynamicHeight]="!inViewMode()">
      <mat-tab [label]="lang.map.lbl_basic_info">
        <ng-container [formGroup]="form">
          <div class="grid grid-cols-2 gap-4 p-4">
            <app-input
              formControlName="arName"
              [label]="lang.map.ar_name"></app-input>
            <app-input
              formControlName="enName"
              [label]="lang.map.en_name"></app-input>
            <app-input
              formControlName="arSubjectTemplate"
              [label]="lang.map.ar_subject_template"></app-input>
            <app-input
              formControlName="enSubjectTemplate"
              [label]="lang.map.en_subject_template"></app-input>
            <div class="flex flex-row pl-1 items-center justify-start">
              <app-switch
                [trueValue]="1"
                [falseValue]="0"
                formControlName="status"
                [label]="lang.map.status"></app-switch>
            </div>
            <div class="flex flex-row pl-1 items-center justify-start">
              <app-switch
                formControlName="isGlobal"
                [label]="lang.map.is_global"></app-switch>
            </div>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab [label]="lang.map.ar_body_template">
        <ng-container [formGroup]="form">
          <div class="p-4">
            @if (!inViewMode()) {
              <app-html-editor
                [id]="'arBodyEditor'"
                formControlName="arBodyTemplate"
                [placeHolder]="
                  lang.map.mail_template_placeholder
                "></app-html-editor>
            }
            @if (inViewMode()) {
              <div class="!w-fit">
                <div
                  class="prose"
                  [innerHTML]="
                    form.get('arBodyTemplate')?.value | txtToHtml
                  "></div>
              </div>
            }
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab [label]="lang.map.en_body_template">
        <ng-container [formGroup]="form">
          <div class="p-4">
            @if (!inViewMode()) {
              <app-html-editor
                [id]="'enBodyEditor'"
                formControlName="enBodyTemplate"
                [placeHolder]="
                  lang.map.mail_template_placeholder
                "></app-html-editor>
            }
            @if (inViewMode()) {
              <div>
                <div
                  class="prose"
                  [innerHTML]="
                    form.get('enBodyTemplate')?.value | txtToHtml
                  "></div>
              </div>
            }
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="dialog-footer justify-end">
    @if (!inViewMode()) {
      <app-button (click)="save$.next()" buttonType="primary"
        >{{ lang.map.save }}
      </app-button>
    }
    @if (!inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary-outline"
        >{{ lang.map.close }}
      </app-button>
    }
    @if (inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary"
        >{{ lang.map.close }}
      </app-button>
    }
  </div>
</div>
