<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_broker }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <div class="grid grid-cols-2 gap-4">
      <ng-container [formGroup]="form">
        <app-input [disabled]="true" formControlName="arName" [label]="lang.map.ar_name"></app-input>
        <app-input [disabled]="true" formControlName="enName" [label]="lang.map.en_name"></app-input>
        <app-input [disabled]="true" formControlName="qid" [label]="lang.map.qid"></app-input>
        <app-input [disabled]="true" formControlName="code" [label]="lang.map.broker_code"></app-input>
        <app-input [disabled]="true" formControlName="bokerPenalties" [label]="lang.map.broker_penalties"></app-input>
        <app-input [disabled]="true" formControlName="phoneNumber" [label]="lang.map.phone_number"></app-input>
        <app-input [disabled]="true" formControlName="email" [label]="lang.map.email"></app-input>
        <app-input [disabled]="true" formControlName="licenseNumber" [label]="lang.map.license_number"></app-input>
        <app-input 
          [disabled]="true"
          formControlName="licenseStartDate"
          type="datetime-local"
          [label]="lang.map.license_start_date"></app-input>
        <app-input
          [disabled]="true"
          formControlName="licenseEndDate"
          type="datetime-local"
          [label]="lang.map.license_end_date"></app-input>
        <app-select-input
          [disabled]="true"
          formControlName="companyId"
          [options]="brokerCompanies"
          [label]="lang.map.menu_broker_company"
          bindValue="id"
          bindLabel="getNames" />
          <app-input
            [disabled]="true"
            formControlName="statusInfo"
            [label]="lang.map.status"></app-input>
      </ng-container>
    </div>
  </div>
  <div class="dialog-footer justify-end">
    <app-button *ngIf="!inViewMode()" (click)="save$.next()" buttonType="primary">{{ lang.map.save }}</app-button>
    <app-button *ngIf="!inViewMode()" mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
    <app-button *ngIf="inViewMode()" mat-dialog-close="" buttonType="primary">{{ lang.map.close }}</app-button>
  </div>
</div>
