<div
  class="overflow-hidden w-[300px] flex flex-col h-full bg-primary bg-gradient-to-br from-primary via-sky-700/20 to-primary-dark">
  <div class="flex-none p-4 pb-2">
    <img ngSrc="assets/images/logo.png" alt="logo" height="321" priority="priority" width="535" />
  </div>
  <div class="flex-none px-4 pb-0 pt-2">
    <app-input
      (keydown.arrowDown)="moveFocus()"
      [formControl]="control"
      [noMargin]="true"
      [displayErrors]="false"
      label=""
      placeholder="search here">
      <mat-icon appInputPrefix class="mx-1" svgIcon="magnify"></mat-icon>
    </app-input>
  </div>
  <app-sidebar-menu [searchText]="control.value" [level]="1" [items]="items" class="flex-auto p-4" />
</div>
