<div class="overflow-hidden bg-blue-400 w-[300px] flex flex-col h-full bg-gradient-to-br from-primary to-primary-dark">
  <div class="flex-none p-4 pb-2">
    <img ngSrc="assets/images/logo.png" alt="logo" height="321" width="535" />
  </div>
  <div class="flex-none px-4 pb-0 pt-2">
    <app-input [noMargin]="true" [displayErrors]="false" label="" placeholder="search here">
      <mat-icon appInputPrefix class="mx-1" svgIcon="magnify"></mat-icon>
    </app-input>
  </div>
  <div class="flex-auto"></div>
</div>
