.counting-bg {
  background: url("/assets/images/external-counting-bg.png") no-repeat center center, linear-gradient(to bottom, #f1f0ef, #bbbab7);
  background-size: cover !important;
}

.user-details-bg {
  background: url("/assets/images/external-user-details-bg.png") no-repeat center center, linear-gradient(to right, #95835B, #ada993);
  background-size: cover !important;
}

.nav-profile-icon {
  width: 56px !important;
  height: 56px !important;
}
