<div class="mb-4">
  <div class="flex justify-start items-center">
    <h1 class="text-primary text-xl">{{ lang.map.lbl_meetings }}</h1>
    @if (
      employeeService.isTeamPresident(LDAPGroupNames.Disciplinary_Committee)
    ) {
      <app-icon-button
        (click)="add$.next()"
        class="text-primary"
        [matTooltip]="lang.map.schedule_meeting"
        icon="BOOK_CLOCK"></app-icon-button>
    }
    <app-icon-button
      (click)="reload$.next(null)"
      class="text-primary"
      icon="RELOAD"></app-icon-button>
  </div>
  <div>
    <table
      mat-table
      matSort
      class="table-style table-primary"
      [dataSource]="dataList">
      <!-- title -->
      <ng-container matColumnDef="title">
        <th mat-header-cell mat-sort-header="title" *matHeaderCellDef>
          {{ lang.map.lbl_title }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <!-- note -->
      <ng-container matColumnDef="note">
        <th mat-header-cell mat-sort-header="note" *matHeaderCellDef>
          {{ lang.map.note }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.note }}</td>
      </ng-container>
      <!-- meeting place -->
      <ng-container matColumnDef="place">
        <th mat-header-cell mat-sort-header="place" *matHeaderCellDef>
          {{ lang.map.meeting_place }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.place }}
        </td>
      </ng-container>
      <!-- meeting date -->
      <ng-container matColumnDef="meetingDate">
        <th mat-header-cell mat-sort-header="meetingDate" *matHeaderCellDef>
          {{ lang.map.meeting_date }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.meetingDate | date: config.DATE_FORMAT }}
        </td>
      </ng-container>

      <!-- status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell mat-sort-header="status" *matHeaderCellDef>
          {{ lang.map.note }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.statusInfo.getNames() }}
        </td>
      </ng-container>
      <!-- meeting time -->
      <ng-container matColumnDef="meetingTime">
        <th mat-header-cell mat-sort-header="meetingTime" *matHeaderCellDef>
          {{ lang.map.meeting_time }}
        </th>
        <td mat-cell *matCellDef="let element">
          <span dir="rtl">
            {{ element.meetingTimeFrom }} {{ lang.map.to }}
            {{ element.meetingTimeTo }}
          </span>
        </td>
      </ng-container>
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell mat-sort-header="actions" *matHeaderCellDef>
          {{ lang.map.actions }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex gap-2">
            <div [matTooltip]="lang.map.view">
              <app-icon-button
                (click)="view$.next(element)"
                icon="VIEW"></app-icon-button>
            </div>
            @if (element.status === MeetingStatusEnum.held) {
              <div [matTooltip]="lang.map.edit">
                <app-icon-button (click)="update$.next(element)" icon="EDIT" />
              </div>
            }
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
      </tr>
    </table>
  </div>
</div>
