<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_mawared_employee }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div>
    <mat-tab-group
      [mat-stretch-tabs]="false"
      mat-align-tabs="start"
      dynamicHeight="true">
      <mat-tab [label]="lang.map.lbl_basic_info">
        <ng-container [formGroup]="form">
          <div class="grid grid-cols-2 gap-4 p-4 items-center">
            <app-input
              formControlName="arName"
              [label]="lang.map.ar_name"></app-input>
            <app-input
              formControlName="enName"
              [label]="lang.map.en_name"></app-input>
            <app-input formControlName="qid" [label]="lang.map.qid"></app-input>
            <app-input
              formControlName="email"
              [label]="lang.map.email"></app-input>
            <app-input
              formControlName="phoneNumber"
              [label]="lang.map.phone"></app-input>
            <app-input
              formControlName="statusInfo"
              [label]="lang.map.status"></app-input>
            <app-select-input
              formControlName="gender"
              [options]="genderTypes"
              bindValue="lookupKey"
              bindLabel="getNames"
              [label]="lang.map.gender" />
            <app-switch
              formControlName="isPrivateUser"
              [label]="lang.map.is_private_user"></app-switch>
            <app-switch
              formControlName="isSuspended"
              [label]="lang.map.is_suspended"></app-switch>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab [label]="lang.map.lbl_job_info">
        <ng-container [formGroup]="form">
          <div class="grid grid-cols-2 gap-4 p-4">
            <app-input
              formControlName="employeeCareerLevelInfo"
              [label]="lang.map.career_level"></app-input>
            <app-input
              formControlName="employeeSectionInfo"
              [label]="lang.map.employee_section"></app-input>
            <app-input
              formControlName="city"
              [label]="lang.map.city"></app-input>
            <app-input
              formControlName="country"
              [label]="lang.map.country"></app-input>
            <app-input
              formControlName="postal"
              [label]="lang.map.postal"></app-input>
            @if (lang.getCurrent().code === langCodes.EN) {
              <app-input
                formControlName="enNationality"
                [label]="lang.map.nationality"></app-input>
              <app-input
                formControlName="enCertificate"
                [label]="lang.map.certificate"></app-input>
              <app-input
                formControlName="enPosition"
                [label]="lang.map.position"></app-input>
            }
            @if (lang.getCurrent().code === langCodes.AR) {
              <app-input
                formControlName="arNationality"
                [label]="lang.map.nationality"></app-input>
              <app-input
                formControlName="arCertificate"
                [label]="lang.map.certificate"></app-input>
              <app-input
                formControlName="arPosition"
                [label]="lang.map.position"></app-input>
            }
          </div>
          <div class="grid gap-4 p-4 pt-0">
            @if (lang.getCurrent().code === langCodes.EN) {
              <app-textarea
                formControlName="enJobDescription"
                [label]="lang.map.job_description"></app-textarea>
            }
            @if (lang.getCurrent().code === langCodes.AR) {
              <app-textarea
                formControlName="arJobDescription"
                [label]="lang.map.job_description"></app-textarea>
            }
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="dialog-footer justify-end">
    @if (!inViewMode()) {
      <app-button (click)="save$.next()" buttonType="primary"
        >{{ lang.map.save }}
      </app-button>
    }
    @if (!inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary-outline"
        >{{ lang.map.close }}
      </app-button>
    }
    @if (inViewMode()) {
      <app-button mat-dialog-close="" buttonType="primary"
        >{{ lang.map.close }}
      </app-button>
    }
  </div>
</div>
