<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.menu_mawared_employee }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close="" class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight>
      <mat-tab [label]="lang.map.lbl_basic_info">
        <ng-container [formGroup]="form">
          <div class="grid grid-cols-2 gap-4">
            <app-input formControlName="arName" [label]="lang.map.ar_name"></app-input>
            <app-input formControlName="enName" [label]="lang.map.en_name"></app-input>
            <app-input formControlName="username" [label]="lang.map.username"></app-input>
            <app-input formControlName="employeeQId" [label]="lang.map.qid"></app-input>
            <app-input formControlName="email" [label]="lang.map.email"></app-input>
            <app-input formControlName="anotherEmail" [label]="lang.map.another_email"></app-input>
            <app-input formControlName="phone" [label]="lang.map.phone"></app-input>
            <app-input formControlName="anotherPhone" [label]="lang.map.another_phone"> </app-input
            ><app-select-input
              formControlName="gender"
              [options]="genderTypes"
              bindValue="lookupKey"
              bindLabel="getNames"
              [label]="lang.map.gender" /></div></ng-container
      ></mat-tab>
      <mat-tab [label]="lang.map.lbl_job_info">
        <ng-container [formGroup]="form">
          <div class="grid grid-cols-2 gap-4">
            <app-input formControlName="subDepartmentName" [label]="lang.map.sub_department"></app-input>
            <app-input formControlName="employeeCareerLevel" [label]="lang.map.career_level"></app-input>
            <app-input formControlName="employeeQualification" [label]="lang.map.qualification"></app-input>
            <app-input formControlName="gradDate" [label]="lang.map.grad_date"></app-input>
            <app-input formControlName="totalExams" [label]="lang.map.total_exams"></app-input>
            <app-input formControlName="totalThanksBooks" [label]="lang.map.total_thanks_books"></app-input>
            <app-input type="number" formControlName="totalAbsent" [label]="lang.map.total_absent"></app-input>
            <app-input type="number" formControlName="totalSickLeave" [label]="lang.map.total_sick_leave"></app-input>
            <app-input
              type="number"
              formControlName="employeeNumberOfPenalties"
              [label]="lang.map.number_of_penalties"></app-input>
            <app-input
              formControlName="employeeLastPenalties"
              [label]="lang.map.last_penalties"></app-input></div></ng-container
      ></mat-tab>
    </mat-tab-group>
  </div>
  <div class="dialog-footer justify-end">
    <app-button *ngIf="!inViewMode()" (click)="save$.next()" buttonType="primary">{{ lang.map.save }}</app-button>
    <app-button *ngIf="!inViewMode()" mat-dialog-close="" buttonType="primary-outline">{{ lang.map.close }}</app-button>
    <app-button *ngIf="inViewMode()" mat-dialog-close="" buttonType="primary">{{ lang.map.close }}</app-button>
  </div>
</div>
