<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.view }} : {{ data.title }}</h1>
    <app-icon-button
      tabindex="-1"
      mat-dialog-close=""
      class="close-btn"
      icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content !p-0 w-[800px] h-[800px]">
    <iframe class="w-full h-full" [src]="data.model.safeUrl"></iframe>
  </div>
  <div class="dialog-footer justify-end">
    <app-button mat-dialog-close="" buttonType="primary">{{
      lang.map.close
    }}</app-button>
  </div>
</div>
