<div class="p-4">
  <app-meetings-list
    (askToReloadMeetingMinutes)="meetingMinutes.reload$.next(null)"
    [model]="model()"
    [meetingMinutesList]="meetingMinutesList"
    [readonly]="
      !model().inActivity(ActivitiesName.REVIEW_DISCIPLINARY_COUNCIL)
    "></app-meetings-list>
</div>
<div class="p-4">
  <app-meeting-minutes
    [model]="model()"
    [readonly]="!model().inActivity(ActivitiesName.REVIEW_DISCIPLINARY_COUNCIL)"
    (updateMeetingMinutesList)="meetingMinutesList = $event"
    #meetingMinutes></app-meeting-minutes>
</div>
<div class="p-4">
  <app-decision-minutes
    [readonly]="!model().inActivity(ActivitiesName.REVIEW_DISCIPLINARY_COUNCIL)"
    [model]="model()"
    [isPenaltyModification]="isPenaltyModification()"></app-decision-minutes>
</div>
<div class="p-4">
  <app-persons-list
    type="offender"
    [model]="model()"
    [isOpenedFromSearch]="isOpenedFromSearch()" />
</div>
<div class="p-4">
  <app-persons-list type="witness" [model]="model()" />
</div>
