<div class="flex justify-between items-start py-2">
  <mat-button-toggle-group
    [appearance]="'standard'"
    [hideSingleSelectionIndicator]="true"
    #matButtonToggleGroup="matButtonToggleGroup"
    [value]="1">
    <mat-button-toggle [value]="1"
      >{{ lang.map.lbl_decisions }}
    </mat-button-toggle>
    <mat-button-toggle [value]="2"
      >{{ lang.map.lbl_applied_grievances }}
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="flex items-center justify-between">
    <div class="flex items-center ms-auto">
      <app-icon-button
        class="me-3 text-secondary"
        [matTooltip]="lang.map.reload"
        (click)="reload$.next(null)"
        icon="RELOAD"></app-icon-button>
      @if (hidePagination) {
        <app-button (click)="showAll()" [buttonType]="'primary-outline'"
          >{{ lang.map.show_all }}
        </app-button>
      }
    </div>
  </div>
</div>

<mat-tab-group
  (selectedIndexChange)="tabChange($event)"
  class="cases-tab-group"
  [selectedIndex]="matButtonToggleGroup.value - 1"
  mat-stretch-tabs="false">
  <mat-tab>
    <ng-container [ngTemplateOutlet]="decisions_tab_template"></ng-container>
  </mat-tab>
  <mat-tab>
    <ng-container [ngTemplateOutlet]="grievances_tab_template"></ng-container>
  </mat-tab>
</mat-tab-group>
<ng-template #decisions_tab_template>
  <div class="shadow relative overflow-auto hidden sm:block">
    <table mat-table matSort class="table-style" [dataSource]="dataSource">
      <!-- decisionSerial -->
      <ng-container matColumnDef="decisionSerial">
        <th mat-header-cell mat-sort-header="decisionSerial" *matHeaderCellDef>
          {{ lang.map.decision_serial }}
        </th>
        <td mat-cell *matCellDef="let element">
          <span class="font-bold text-primary">{{
            element.decisionSerial
          }}</span>
        </td>
      </ng-container>
      <!-- date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header="date" *matHeaderCellDef>
          {{ lang.map.decision_date }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.penaltyAppliedDate | date: Config.DATE_FORMAT }}
        </td>
      </ng-container>
      <!-- signer -->
      <ng-container matColumnDef="signer">
        <th mat-header-cell mat-sort-header="signer" *matHeaderCellDef>
          {{ lang.map.issued_by }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            element.penaltySignerInfo && element.penaltySignerInfo?.getNames()
          }}
        </td>
      </ng-container>
      <!-- directed to -->
      <!--      <ng-container matColumnDef="directedTo">-->
      <!--        <th mat-header-cell mat-sort-header="directedTo" *matHeaderCellDef>-->
      <!--          {{ lang.map.directed_to }}-->
      <!--        </th>-->
      <!--        <td mat-cell *matCellDef="let element">-->
      <!--          {{ element.directedToInfo && element.directedToInfo.getNames() }}-->
      <!--        </td>-->
      <!--      </ng-container>-->
      <!-- penalty -->
      <ng-container matColumnDef="penalty">
        <th mat-header-cell mat-sort-header="penalty" *matHeaderCellDef>
          {{ lang.map.decision }}
        </th>
        <td mat-cell *matCellDef="let element">
          <span class="font-bold text-primary">{{
            element.penaltyInfo && element.penaltyInfo?.getNames()
          }}</span>
        </td>
      </ng-container>
      <!-- status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell mat-sort-header="status" *matHeaderCellDef>
          {{ lang.map.status }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            element.penaltyStatusInfo && element.penaltyStatusInfo?.getNames()
          }}
        </td>
      </ng-container>
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell mat-sort-header="actions" *matHeaderCellDef>
          {{ lang.map.actions }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex gap-2">
            @if (
              (user?.type === UserTypes.EXTERNAL_CLEARING_AGENT ||
                user?.type === UserTypes.EXTERNAL_CLEARING_AGENCY) &&
              element.isCash
            ) {
              <div (click)="pay$.next(element)" [matTooltip]="lang.map.pay">
                <app-icon-button icon="HAND_COIN" />
              </div>
            }
            @if (!element.hasRunningGrievance && !createdOver30Day(element)) {
              <div
                (click)="grievance$.next(element)"
                [matTooltip]="lang.map.grievance">
                <app-icon-button icon="HAND_BACK_RIGHT" />
              </div>
            }
            <div
              (click)="viewDecisionFile$.next(element.vsid)"
              [matTooltip]="lang.map.view_decision_file">
              <app-icon-button icon="FILE_EYE" />
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
      </tr>
    </table>
    @if (!hidePagination) {
      <mat-paginator
        #paginator
        [pageSizeOptions]="[10, 25, 50, 100, 150, 200]"
        showFirstLastButtons="true"
        [length]="dataSource.data.length || 0"></mat-paginator>
    }
  </div>
  <div class="block sm:hidden">
    <ul class="font-medium text-gray-900">
      @for (element of dataSource.data; track $index) {
        <li
          class="shadow w-full px-4 py-3 border border-gray-200 rounded-lg mb-3">
          <div class="flex items-center justify-between">
            <span>
              <strong class="text-primary">
                {{ lang.map.decision_serial }}:
              </strong>
              {{ element.decisionSerial }}
            </span>
            <div class="flex gap-2">
              @if (
                (user?.type === UserTypes.EXTERNAL_CLEARING_AGENT ||
                  user?.type === UserTypes.EXTERNAL_CLEARING_AGENCY) &&
                element.isCash
              ) {
                <app-button
                  [buttonType]="'secondary'"
                  (click)="pay$.next(element)"
                  [matTooltip]="lang.map.pay">
                  <mat-icon [svgIcon]="AppIcons.HAND_COIN"></mat-icon>
                </app-button>
              }
              @if (
                !element.hasRunningGrievance &&
                !createdOver30Day(element) &&
                element.decisionType === ReportStatus.APPROVED
              ) {
                <app-button
                  [buttonType]="'primary'"
                  (click)="grievance$.next(element)"
                  [matTooltip]="lang.map.grievance">
                  <mat-icon [svgIcon]="AppIcons.HAND_BACK_RIGHT"></mat-icon>
                </app-button>
              }
              <app-button
                [buttonType]="'primary-outline'"
                (click)="viewDecisionFile$.next(element.vsid)"
                [matTooltip]="lang.map.view_decision_file">
                <mat-icon [svgIcon]="AppIcons.FILE_EYE"></mat-icon>
              </app-button>
            </div>
          </div>
          <div class="flex items-center justify-between mb-3">
            <span>
              <strong class="text-primary">
                {{ lang.map.decision_date }}:
              </strong>
              <span class="text-gray-400">
                {{ element.penaltyAppliedDate | date: Config.DATE_FORMAT }}
              </span>
            </span>
          </div>
          <div class="flex items-center justify-between mb-3">
            <span>
              <strong class="text-primary"> {{ lang.map.issued_by }}: </strong>
              {{
                element.penaltySignerInfo &&
                  element.penaltySignerInfo.getNames()
              }}
            </span>
            <!--            <span>-->
            <!--              <strong class="text-primary">-->
            <!--                {{ lang.map.directed_to }}:-->
            <!--              </strong>-->
            <!--              {{ element.directedToInfo && element.directedToInfo.getNames() }}-->
            <!--            </span>-->
          </div>
          <div class="flex items-center justify-between">
            <span>
              <strong class="text-primary"> {{ lang.map.decision }}: </strong>
              {{ element.penaltyInfo && element.penaltyInfo.getNames() }}
            </span>
            <span>
              <strong class="text-primary"> {{ lang.map.status }}: </strong>
              {{
                element.penaltyStatusInfo &&
                  element.penaltyStatusInfo.getNames()
              }}
            </span>
          </div>
        </li>
      }
    </ul>
  </div>
</ng-template>
<ng-template #grievances_tab_template>
  <app-grievance-list
    [userId]="userId"
    [hidePagination]="hidePagination"></app-grievance-list>
</ng-template>
